<div class="flip-container">
	<div class="flipper">
		<div class="chart front">
			<div class="header-widget overflow">
				<a href="javascript:void(0)" id="removable_{{ chart.num }}" class="pull-left" ng-click="removeGrid(chart, $event)">
					<i class="fa fa-times"></i>
				</a>
					
				<span class="pull-left">{{ chart.title }}</span>

				<a href="javascript:void(0)" class="pull-right" ng-click="showOptions()">
					<i class="fa fa-plus"></i>
				</a>

			</div>
			
			<div ng-if="chart.showChart" class="content-chart">

				<div class="top-chart overflow" ng-if="chart.value.numberLeft || chart.value.numberRight">
					<div class="pull-left numberLeft" ng-if="chart.value.numberLeft">
						{{ getText(chart) }}
					</div>

					<div class="pull-right numberRight" ng-if="chart.value.numberRight">
						{{ chart.value.numberRight }}
					</div>								
				</div>

				<div class="highcharts-content" ng-dblclick="openModal()">
					<highchart id="chart_{{ chart.num }}" config="chart.highcharts" class="chart_{{ chart.value.type }}"></highchart>
				</div>

				<div ng-if="chart.value.items">
					<select class="dropdown pdDropdown" ng-model="selectedItem" ng-change="changeItem( selectedItem )" ng-init="selectedItem = chart.value.items[0]" ng-options="item as item.name for item in chart.value.items">
					</select>				
				</div>

			</div>

			<div ng-if="!chart.showChart" class="content-chart" ng-dblclick="openModal()">
				<span class="largerNumber">{{ getText(chart) }}</span>
			</div>

		</div>
		<div class="actions-chart back">
			<div class="header-chart overflow">
			
				<a href="javascript:void(0)" class="pull-left" ng-click="hideOptions()">
					<i class="fa fa-arrow-left icon-white"></i>
				</a>

			</div>

			<div class="content-actions">
				<h4 class="title-white">Export as...</h4>

				<div class="buttons">
					<button class="pull-left btn btn-default" ng-click="exportPdf()" >
						PDF
					</button>
					<button class="pull-left btn btn-default" ng-click="exportCsv()">
						CSV
					</button>
				</div>
			</div>
		</div>
	</div>
</div>