.slot-container td {
	padding-top: 14px !important;
}

.eventTable .eventTDTime input {
  text-align: center;
}

/*ui component fix for modal*/
.ui-autocomplete  {
  z-index: 500;
}

/*Foundaton animation*/

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1 !important;
}

.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

/*Modal*/

.reveal-modal {
  top: 15px;
  bottom: 15px;
  overflow-y: auto;
}

.ct-modal-event input {
  background-color: #f1f0f2;
}

.ct-modal-event .ui-multiselect {
  width: auto !important;
}

.ct-modal-event .ct-btns {
  margin-top: 25px;
}

.ct-modal-event .ct-btns .button {
  width: 130px;
}

.ct-modal-event .ct-btns .btnNext {
  float: right;
}

.ct-modal-event .ct-btns .btnPrev {
  float: left;
}

.ct-modal-event .slot-sentence {
  margin-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.ct-modal-event .slot-sentence input, .ct-modal-event .slot-sentence select {
  display: inline-block;
  width: 40px;
  height: 35px;
  margin-bottom: 5px;
}

.ct-modal-event .slot-sentence select {
  width: 80px;
  padding: 0;
}

.ct-modal-event label {
  font-weight: bold;
}

.ct-modal-event .newCollSlot {
  margin: auto;
  padding: 0;
  width: 40px;
  height: 30px;
}

/*calendar*/
.colItemCalendar {
  padding: 5px;
  width: 14.2857%;
}

.colItemCalendar button, .colItemCalendar button:hover, .colItemCalendar button:active {
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid grey;
  background: #fff;
  color: #efefef;
  min-height: 46px;
  font-weight: lighter;
}

.colItemCalendar button[disabled], .colItemCalendar button[disabled]:hover, .colItemCalendar button[disabled]:active {
  color: #fff !important;
}
.colItemCalendar button[disabled].isWeekend, .colItemCalendar button[disabled].isWeekend:hover, .colItemCalendar button[disabled].isWeekend:active {
  color: #D2D2D2;
}

.colItemCalendar button.isCurrentMonth {
  color: #9B9B9B;
  font-weight: normal;
}

.colItemCalendar button.isWeekend.isCurrentMonth {
  background-color: #D2D2D2;
}

.colItemCalendar .itemCalendar {
  width: 100% !important;
  height: 55px !important;
}

.colItemCalendar button.dayActive {
  background-color: #3aa2dc !important;
  border-color: #2288c1;
  color: #fff;
}

.ct-tabs {
  width: 100%;
}

.duration-fields {
  width: 33.3333%;
  float: left;
}

.duration-fields input {
  width: 95%;
}

.slotTab .ui-multiselect {
  margin: 0;
  margin-bottom: 5px;
}

.ct-calendar .ui-multiselect, .scheduleTab .ui-multiselect, .infoTab .ui-multiselect {
  margin-top: 0;
  width: 100% !important;
}

.ct-calendar table {
  width: 100%;
  margin: 0;
}

.contentTitleCalendar td {
  padding: 0;
  margin: 0;
}

  .contentTitleCalendar td:nth-child(1), .contentTitleCalendar td:nth-child(3) {
    width: 5%;
  }

  .contentTitleCalendar td:nth-child(2) {
    width: 90%;
  }

.contentTitleCalendar span.titleMonth {
  width: 100%;
  margin: 0;
  float: left;
}

.contentTitleCalendar .btnCalendar {
  padding: 10px;
  margin: 0;
}

  .contentTitleCalendar .btnLeftCalendar {
    float: left;
  }

  .contentTitleCalendar .btnRightCalendar {
    float: right;
  }

/*error*/
small.error {
  display: none;
}