<FilesMatch "\.(js|css|html|htm|php|xml)$">
	SetOutputFilter DEFLATE
</FilesMatch>

DirectoryIndex index.php index.html

RewriteEngine On

#RewriteRule ^signup(.*)$ https://app-v1.preoday.com/signup$1 [R=301,L,QSA]
RewriteRule ^invite(.*)$ /#/auth/invite$1 [R,NE,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !(\.\w+$) index.php [L]

AddType text/x-component .htc