@import 'foundation-icons.css';
@import '/fonts/helvetica-neue/style.css';
@import '/fonts/Maven/maven.css';

html { 
	-webkit-font-smoothing: subpixel-antialiased;
}

.orbit-prev, .orbit-next { display: none; }
.orbit-container:hover .orbit-prev, .orbit-container:hover .orbit-next { display: inline; }

body {
	background:#E9E9E9 !important;
	font-family: HelveticaNeueW01-45Ligh;
}

h1{
	font-family: MavenProRegular;
	font-weight: normal;
}

.contain-to-grid, .top-bar, .top-bar-section ul li a, .toggle-topbar, .expanded li{
	background: #F7F7F7 !important;
}

.top-bar-section a, .toggle-topbar a {
	color: #48535D !important;
}

.top-bar-section a:hover{
	color: #2E70B7 !important;
}

/* Default custom-inline-list */
ul.custom-inline-list {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em; }
  ul.custom-inline-list li {
    height: 1.5em;
    color: #222222;
    font-size: 0.875em;
    margin-left: 0.3125em; }
    ul.custom-inline-list li a {
      display: block;
      padding: 0.0625em 0.4375em 0.0625em;
      color: #999999; }
    ul.custom-inline-list li:hover a,
    ul.custom-inline-list li a:focus {
      background: #e6e6e6; }
    ul.custom-inline-list li.unavailable a {
      cursor: default;
      color: #999999; }
    ul.custom-inline-list li.unavailable:hover a, ul.custom-inline-list li.unavailable a:focus {
      background: transparent; }
    ul.custom-inline-list li.current a {
      background: #2ba6cb;
      color: white;
      font-weight: bold;
      cursor: default; }
      ul.custom-inline-list li.current a:hover, ul.custom-inline-list li.current a:focus {
        background: #2ba6cb; }
  ul.custom-inline-list li {
    float: left;
    display: block; }

/* custom-inline-list centred wrapper */
.custom-inline-list-centered {
  text-align: center; }
  .custom-inline-list-centered ul.custom-inline-list li {
    float: none;
    display: inline-block; }

footer { margin-bottom: 20px; }

.infobox-wrapper {
    display:none;
}

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

/*Google Maps fix for Foundation 4 conflict*/
#map img{max-width: inherit;} /*IMP*/
#map {width:100%;height:250px;} /* giving the map section some width/height */

/* phone area*/
#phonePreview {
	margin: 0 auto; 
	text-align: center;
} 
#iphone5 {
	background-image: url("/img/iphone5.png");
	width: 301px; 
	height: 636px;
	margin-right: 20px;
}
#frame_iphone5 {
	height: 451px; 
	width: 252px; 
	font-family: HelveticaNeueW01-45Ligh;
}
#frame_iphone5  img#phoneWallpaper{
	height: 451px; 
	width: 252px; 
	margin: 94px 0 0 11px;
	z-index:1;
}
#frame_iphone5  img#carrierIMG{
	height: 17px; 
	width: 252px; 
	float: left;
	z-index: 2;
	position: relative;
	margin: -452px 0 0 11px;
}
#frame_iphone5  img#poweredIMG{
	height: 12px; 
	width: 120px; 
	float: left;
	z-index: 3;
	position: relative;
	margin: -25px 0 0 133px;
}
#appHeading, #subHeading  {
	color: #E5E6E7;
	margin: -388px 0 0 26px;
	float: left;
	position: relative;
	z-index: 4;
	width: 222px;
	height: 186px;
	word-break:normal;
	overflow: hidden;
	text-align: left;
	font-size: 31px;
	line-height: 36px;
	font-weight: bold !important;
	letter-spacing: -1px;
	text-align: left !important;
}
#subHeading {
	font-size: 14px;
	margin: -204px 0 0 26px;
	height: 35px;
	line-height: 16px;
	letter-spacing: 0px;
	font-weight: normal !important;
}
#buttonIMG {
	float: left;
	width: 100px;
	height: 22px;
	margin: -134px 0px 0 28px;
	position: relative;
	z-index: 5;
	font-weight: 100 !important;
	background-color: #2ba6cb;
	border: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	cursor: default !important;
}

.circle, .circle:nth-child(1), .circle img { border-radius: 50%;}

a[id^='colour'] { 
	height: 50px;
	width: 50px;
	
	background: #000;
}

#colour8 { background: #FFF; }
#colour5 { background: #FF0000; }
#colour7 { background: #FFFF00; }
#colour6 { background: #00FF00; }
#colour2 { background: #C0C0C0; }
#colour4 { background: #0000FF; }
#colour3 { background: #E8E8E8; }
