@import 'foundation-icons.css';
@import 'font-awesome.css';
@import '../fonts/helvetica-neue/style.css';
@import '../fonts/Maven/maven.css';
@import '../fonts/pd-fonts/pd-style.css';
@import './jsMiniColors/jsminicolors.css';
@import 'tweet-list.css';
@import 'date-time.css';
@import 'multi-select.css';

/*basic colours and fonts*/
h1,h2,h3 { 
	 -webkit-font-smoothing: subpixel-antialiased; 
	/* -webkit-font-smoothing:antialiased; */
	 -webkit-text-stroke:.3px; 
	 font-weight: 100 !important;
}

h1 { letter-spacing: -2px;}
h2 { letter-spacing: -1px;}
h3 { letter-spacing: -1px;}

::selection {
	background: #3AA2DC; /* Safari */
	}
::-moz-selection {
	background: #3AA2DC; /* Firefox */
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -220px;
  /* Pad bottom by footer height */
  padding: 0 0 220px;
  
  background: transparent url("../img/bg.jpg") no-repeat center bottom !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
}

body {
	/*background:#E9E9E9 !important;*/
	font-family: HelveticaNeueW01-45Ligh;
	background: transparent !important;
}

.top-bar{
	font-family: Co Text W01 Light;
}

h6 {
	color: #48535D;
}

form label {
	color: #2E70B7 !important;
	font-size: 100%;
}

.secondary{
	color: #FFF !important;
	border: 0 !important;
}

.has-tip, .has-tip:hover{
	border-bottom: 0;
}

small.error{
	font-weight: normal !important;
}

.error input , .error textarea{
	background: #FFF !important;
	border:1px solid #E30F4D !important
}

.breadcrumbs{
	background: transparent;
	border: 0;
}

.fullWidth{
	width: 100%;
}

input[readonly]{
	background: lightgrey !important;
	cursor: no-drop;
}

.itemTR input[readonly], .userTR input[readonly], .eventTR input[readonly]{
	cursor: pointer;
}

/* Chrome autofill colour replacement */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*spacing elements - both*/
.row--space0-5 {padding: 0.5em 0;}
.row--space1 {padding: 1em 0;}
.row--space2 {padding: 2em 0;}
.row--space3 {padding: 3em 0;}
.row--space4 {padding: 4em 0;}
.row--space5 {padding: 5em 0;}
.row--space6 {padding: 6em 0;}

/*spacing elements - up*/
.row--space0u {padding-top: 0 !important; margin-top: 0 !important;}
.row--space0-5u {padding-top: 0.5em;}
.row--space1u {padding-top: 1em;}
.row--space2u {padding-top: 2em;}
.row--space3u {padding-top: 3em;}
.row--space4u {padding-top: 4em;}
.row--space5u {padding-top: 5em;}
.row--space6u {padding-top: 6em;}

/*spacing elements - down*/
.row--space0d {padding-bottom: 0 !important; margin-bottom: 0 !important;}
.row--space0-5d {padding-bottom: 0.5em;}
.row--space1d {padding-bottom: 1em;}
.row--space2d {padding-bottom: 2em;}
.row--space3d {padding-bottom: 3em;}
.row--space4d {padding-bottom: 4em;}
.row--space5d {padding-bottom: 5em;}
.row--space6d {padding-bottom: 6em;}

/* modals */
.reveal-modal{
	background: transparent url("../img/bg.jpg") no-repeat center bottom !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
}

/* footer */
footer{
	min-height: 220px;
}
footer.regular{
	background: #DADCDF;
	padding-top: 40px;
	margin-bottom: 0;
}

footer.regular p{
	margin: 0;
	padding: 0;
}

footer.regular .footLinks a{
	color: #48535D !important;
}

#langDrop{
	margin-top: 24px;
}

/* tips */
.preoTips{
	color: #B3B7BB;
	font-size: 1.25em !important;
}

.preoTips:hover{
	color: #58626C;
}

.tooltip.tip-bottom {
	background: #48535D;
	background: rgba(72,83,93,0.85);
	font-weight: normal;
	width: 10em !important;
	border-radius: 0;
}

.tooltip.tip-bottom > .nub { 
	border-color: transparent transparent #48535D transparent;
	border-color: transparent transparent rgba(72,83,93,0.85) transparent;
}

/*top bar customization*/
.contain-to-grid, .top-bar, .top-bar-section ul li a, .toggle-topbar, .expanded li{
	background: #F7F7F7 !important;
}

.top-bar-section a, .toggle-topbar a {
	color: #48535D !important;
	font-size: 1em !important;
	font-weight: bold !important; 
}

.top-bar-section a:hover{
	color: #2E70B7 !important;
}
.top-bar{
	padding: 12px 0px 54px 0px !important;
}

.top-bar-section ul li a{
	padding-right: 0 !important;
}

.top-bar-section a.activated{
	color: #2E70B7 !important;
}
.top-bar-section a.activated:hover{
	color: #504089 !important;
}

.dropdown.makeULWider {
	width: 164px;
}

.has-dropdown {
	margin-right: -4px;
}

.has-dropdown.lessLeft {
	margin-left: -10px;
}

.has-dropdown > a:after{
	border-color: #504089 transparent transparent transparent !important;
}

/* spacing on top of pages as per design */
.topSpacer{ 
	margin-top: 4em;
}

/* inputs */
input, textarea {
	font-size: 110% !important;
	border: 0 !important;
	font-weight: bold;
}

input[type='file']{
	font-weight: normal;
}

textarea {
	resize: none !important;
	height: 3em !important;
}

.squareInput {
	width: 100px !important;
	cursor: pointer;
	border: 1px solid lightGray !important;
	color: #222 !important;
	text-align: center;
	box-shadow: 0 0 0 !important;
	/*color: transparent !important;  so you can't see the cursor/text */
}

/* form buttons */
form .button, form button, .preodayButton {
	padding: 0.4em 0.85em;
	font-size: 115%;
	border: 1px solid #3AA2DC;
	box-shadow: 0 0 0 !important;
	-webkit-box-shadow: 0 0 0  !important;
}

button.success{
	box-shadow: 0 0 0 !important;
	-webkit-box-shadow: 0 0 0  !important;
	padding: 0.4em 0.85em;
}

/* Custom progress indicator */
.progressIndicator{
	border-top: 5px solid #2E70B7;
	width: 0%;
	margin: 10px 0px 0px 14px;
	transition:width 1s;
	-webkit-transition:width 1s; /* Safari */
}

/* Custom progress indicator tool-tip */
.tooltip.tip-right {
	margin: 1em 0 0 -2em;
	border-radius: 0px;
	background: #48535D;
	background: rgba(72,83,93,0.85);
	font-weight: normal;
}

.tooltip.tip-right > .nub { /*we've basically taken tip-right and made it work look like tip-bottom because the right one follows the progress bar's right end while bottom says in the same place*/
	border-color: transparent transparent #48535D transparent;
	border-color: transparent transparent rgba(72,83,93,0.85) transparent;
	right: 0;
    left: 12px;
    top: -10px;
    margin-top: 0;
}

/* override for orbit pre-loading image*/
.orbit-prev, .orbit-next { display: none; }
.orbit-container:hover .orbit-prev, .orbit-container:hover .orbit-next { display: inline; }

/* Default custom-inline-list */
ul.custom-inline-list {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em; }
  ul.custom-inline-list li {
    height: 1.5em;
    color: #222222;
    font-size: 0.875em;
    margin-left: 0.3125em; }
    ul.custom-inline-list li a {
      display: block;
      padding: 0.0625em 0.4375em 0.0625em;
      color: #999999; }
    ul.custom-inline-list li:hover a,
    ul.custom-inline-list li a:focus {
      background: #e6e6e6; }
    ul.custom-inline-list li.unavailable a {
      cursor: default;
      color: #999999; }
    ul.custom-inline-list li.unavailable:hover a, ul.custom-inline-list li.unavailable a:focus {
      background: transparent; }
    ul.custom-inline-list li.current a {
      background: #2ba6cb;
      color: white;
      font-weight: bold;
      cursor: default; }
      ul.custom-inline-list li.current a:hover, ul.custom-inline-list li.current a:focus {
        background: #2ba6cb; }
  ul.custom-inline-list li {
    float: left;
    display: block; }

/* custom-inline-list centred wrapper */
.custom-inline-list-centered {
  text-align: center; }
  .custom-inline-list-centered ul.custom-inline-list li {
    float: none;
    display: inline-block; }
	
/* signup using facebook */
.fbSignup, .googleSignup{
	background: #CDCFD0;
	background-image: url("../img/facebook_connect.jpg");
	background-repeat:no-repeat;
	height: 47px;
	width: 266px;
	margin-bottom: 14px;
	margin-left: 24px;
	font-weight: bold;
	cursor: pointer;
}

.googleSignup{
	background-image: url("../img/google_connect.jpg");
}

.fbSignup span, .googleSignup span{
	margin: 15px 0 0 45px;
	width: 100%;
	display: block;
}

.fbSignup a, .googleSignup a{
	color: #485362;
}

/* settings */
.notiSwitch label.onswitch {
	margin-left: -25px !important;
}

.notiSwitch label.offswitch {
	margin-left: 12px !important;
}
.notiSwitch {
	width: 85px;
}

/*Google Maps, infobox fix/overrides for Foundation 4 conflict*/
#map img{ /*IMP*/
	max-width: inherit;
} 
#map { /* giving the map section some width/height */
	width:100%;
	height:430px;
	border: 2px solid #2288C1;
} 

.infobox-wrapper {
    display:none;
}

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.eventFlagNoti label{
	width: 10px !important;
}
.eventFlagNoti label.yes{
	margin-left: 20px !important;
}
.eventFlagNoti label.no{
	margin-left: 10px !important;
}

/* app config area*/
.colorLabel{
	color: #48535D !important;
}

.appstlyeright .thumb img {
	border: 3px solid transparent;
}
.appstlyeright .thumb img:hover {
	border: 3px solid #3AA2DC;
}

.appstlyeright .selected{
	position: relative;
}

.appstlyeright .selected:after {
	background: transparent url('/img/tick.png') no-repeat center center;
	position: absolute;
	right: -8px;
	top: -110px;
	content: " ";
	display: block;
	width: 28px;
	height: 28px;
	background-size: 20px 20px;
}

.appstlyeright img {
	margin-bottom: 30px;
	margin-top: -10px;
}

label.appTop {
	color: #2E70B7 !important;
	font-size: 16px;
	margin-bottom: 10px;
}	

.thumbRow {
	/*width: 130% !important;*/
}	

.hiddenUpload, .hiddenUploadBG{
	display: none;
}

#logoUpForm{
	margin-top: -30px;
}

#logoUpForm p, #bgUpForm p {
	font-size: 14px;
}

/* phone area*/
#phonePreview {
	margin: 0 auto; 
} 

#iphone5 {
	background-image: url("../img/iphone5.png");
	width: 301px; 
	height: 636px;
	margin: 0 0.1em 3em;
}

#frame_iphone5 {
	height: 451px; 
	width: 252px; 
	font-family: HelveticaNeueW01-45Ligh;
	position: relative;
}

#frame_iphone5  img#phoneWallpaper{
	height: 451px; 
	width: 252px; 
	margin: 94px 0 0 11px;
	z-index:1;
}

#frame_iphone5  img#carrierIMG{
	height: 44px; 
	width: 252px; 
	float: left;
	z-index: 2;
	position: relative;
	margin: -452px 0 0 11px;
}

.sugDropButton{
	color: #48535D !important;
	width: 100%;
}

#sugDrop, #sugDrop2 {
	margin-top: 1em;
}

#aHeading {
	margin-top: -15px;
	height: 72px !important;
}

#aSubheading {
	margin-top: -15px;
}

#frame_iphone5  img#poweredIMG{
	height: 12px; 
	width: 120px; 
	float: left;
	z-index: 3;
	position: relative;
	margin: -25px 0 0 133px;
}

#appHeading, #subHeading, #venSubHeading , #venTitle {
	color: #FFF;
	margin: -376px 0 0 26px;
	position: relative;
	z-index: 4;
	width: 222px;
	max-height: 164px;
	min-height: 70px;
	word-break:normal;
	overflow: hidden;
	text-align: left;
	font-size: 31px;
	line-height: 32px;
	font-weight: bold !important;
	letter-spacing: -1px;
	text-align: left !important;
}

#subHeading, #venSubHeading {
	font-size: 14px;
	margin: 15px 0 0 26px;
	height: 18px;
	max-height: 18px;
	min-height: 18px;
	line-height: 16px;
	letter-spacing: 0px;
	font-weight: normal !important;
}

#subHeading {
	margin: 0px 0 0 26px;
}

#buttonIMG, #buttonIMG2, .menuMultiButton {
	float: left;
	width: 100px;
	height: 22px;
	margin: -134px 0px 0 28px;
	position: relative;
	z-index: 5;
	font-weight: 100 !important;
	background-color: #3AA2DC;
	border: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	cursor: default !important;
}

#buttonIMG2 {
	margin: -57px 0px 0 173px;
	width: 77px;
}

#venTitle{
	color: #48535D;
	font-size: 16px;
	font-weight: bold !important;
	margin: -432px 0 0 67px;
	width: 138px;
	text-align: center !important;
	overflow:hidden;
	height: 30px !important;
	min-height: 30px !important;
	max-height: 30px !important;
}

#venTitle, #vTitle{
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#vTitle{
	width: 190px;
}

h1 i.icon-question-sign, h4 i.icon-question-sign {
	font-size: 24px !important;
}

.openingHoursDiv h4 span{
	font-size: 14px;
	margin-left: 30px;
	font-weight: normal !important;
}

.menuMultiButton i{
	font-weight: normal !important;
	font-size: 10px !important;
}

.menuMultiButton {
	margin: -90px 0px 0 228px;
	width: 22px !important;
	background: #2E70B7;
}

.mmb2{
	margin-top: -130px;
}

.mmb3{
	margin-top: -201px;
}

.mmb4{
	margin-top: -240px;
}

.mmb5{
	margin-top: -280px;
}

.mmb6{
	margin-top: -321px;
}

.menuField, .eventField, .userField, .outletField, .mdField{
	background: transparent !important;
	border: 0 !important;
	box-shadow: 0 0 0 !important;
	display: inline;
	color: #2E70B7 !important;
	font-family: Co Text W01 Light !important;
	font-size: 30px !important;
	font-weight: 100 !important;
}

#mName{
	margin-bottom: 0 !important;
	margin-left: -8px;
}

.menuField:focus, .eventField:focus, .userField:focus, .outletField:focus, .mdField:focus{
	background: white !important;
}

.menuTable .menuField:focus, .eventTable .eventField:focus, .userTable .userField:focus, .outletTable .outletField:focus, .mdTable .mdField:focus{
	background: #F1F0F2 !important;
}

.mdTable .mdTDTPrice input:focus{
	background: #F1F0F2 !important;
}

.menuSectionField{
	color: #48535D !important;
	font-size: 26px !important;
	font-weight: bold !important;
}

input[name^=mSectionName] {
	display: inline !important;
	width: 90%;
	margin-left: -12px;
}

.sortSecHandle {
	display: inline;
	padding: 0px 3px;
	font-size: 20px;
}

.smallerror {
	width: 90%;
}

table.menuTable, table.eventTable, table.userTable , table.outletTable, table.mdTable, table.headerTable {
	border:0px !important;
	table-layout: fixed !important;
	margin-left: 20px;
}

.menuTable tr, .eventTable tr, .userTable tr, .outletTable tr, .mdTable tr, table.headerTable tr{
	background: transparent !important;
	
	font-size: 1.3em !important;
	/* border-bottom: 1px solid #B8B9BC; */
}

.itemTR.menuEdit{
	/*border-top: 1px solid #B8B9BC; */
	margin-top: 7px;
}

.menuTable td, .eventTable td, .userTable td, .outletTable td, .mdTable td, table.headerTable td{
	width: 20%;
	padding-top: 0;
	padding-bottom: 0;
}

.menuTable input, .eventTable input, .userTable input, .outletTable input, .mdTable input{
	padding:1px !important;
	margin-bottom: 0px !important;
}

tr.menuEdit, tr.eventEdit, tr.userEdit, tr.outletEdit, tr.mdEdit{
	background: #fafafa !important;
}

.menuEdit input, .eventEdit input, .userEdit input, .outletEdit input, .mdEdit input{
	background: #F1F0F2 !important;
	color: #48535D !important;
}

.menuTable .menuField, .eventTable .eventField, .userTable .userField, .outletTable .outletField, .mdTable .mdField {
	font-family: HelveticaNeueW01-45Ligh !important;
	color: #48535D !important;
	font-size: inherit !important;
	display: inline;
}

.menuTable .menuTDName, .userTable .userTDName, .headerTable .userTDName, .headerTable .menuTDName{
	font-weight: bold !important;
	width: 30%;
}

.eventTable {
	margin-top: -1px !important;
}
.eventTable .eventTDName, .headerTable .eventTDName{
	font-weight: bold !important;
	width: 26%;
}

.outletTable .outletTDName{
	font-weight: bold !important;
	width: 59%;
}

.menuTable .menuTDName input, .eventTable .eventTDName input, .userTable .userTDName input, .outletTable .outletTDName input, .mdTable .mdTDName input{
	font-weight: bold !important;
}

.menuTable .menuTDDesc, .headerTable .menuTDDesc{
	/*width: 32%;*/
	width: 40%;
}

.eventTable .eventTDDesc, .headerTable .eventTDDesc{
	width: 24%;
}

.userTable .userTDEmail, .headerTable .userTDEMail{
	width: 30%;
}

.menuTable .menuTDPrice, .headerTable .menuTDPrice{
	width: 9%;
}

.eventTable .eventTDTime, .headerTable .eventTDTime{
	width: 10%;
}

.outletTable .outletTDMenu{
	width: 32%;
}

.outletTable .outletTDMenu select{
	margin-top: 9px !important;
	font-size: 15px !important;
	background: #F7F7F7 !important;
}

.userTable .userTDPassword, .headerTable .userTDPassword{
	width: 17%;
}

.menuTable .menuTDPrice input, .mdTable .mdTDPrice input, .mdTable .mdTDTPrice input{
	text-align: left;
}

.eventTable .eventTDTime input, .userTable .userTDPassword input {
	text-align: left;
	font-size: 80% !important;
	height: 42px;
}

.userTable .userTDPassword input {
	width: 100% !important;
}

.menuTable .menuTDQuant, .headerTable .menuTDQuant{
	width: 9%;
}

.menuTable .menuTDQuant input{
	font-size: 80% !important;
	height: 42px;
}
.eventTable .eventTDDate, .headerTable .eventTDDate{
	width: 10%;
}
.eventTable .eventTDCollection{
	width: 25%;
}

.eventTable .eventTDLead{
	width: 10%;
}
.eventTable .eventTDAddMore{
	width: 10%;
}
.eventTable .eventTDSpace span{
	width: 182px;
	display: block;
}

.userTable .userTDRole, .headerTable .userTDRole{
	width: 13%;
	font-size: 14px;
	padding-top: 0px;
}
.headerTable .userTDRole{
	padding-bottom: 1px;
}

.eventTable .eventTDDate input{
	font-size: 90% !important;
	height: 42px;
	text-align: center !important;
}

.mdTable .mdTDName{
	font-weight: bold !important;
	width: 64%;
}

.mdTable .mdTDTPrice{
	width: 10%;
}

.mdTable .mdTDPrice{
	width: 10%;
}

.mdTable .mdTDIName{
	width: 100%;
}

.mdTable .mdTDTools{
	width: 8%;
}

.mdItemName {
	display: inline-block;
	width: 32.98%;
}
.mdItemName span {
	width: 80%;
	display: inline-block;
	display: inline-block;
}
.mdItemName button { 
	width: 10%;
}

#menuSectionRow{
	padding-top: 20px;
}

.menuTable .menuTDVisi, .eventTable .eventTDVisi, .mdTable .mdTDVisi, .headerTable .eventTDVisi, .headerTable .menuTDVisi{
	width: 8%;
}

.menuTable .menuTDTools, .headerTable .menuTDTools{
	width: 15%;
}

 .eventTable .eventTDTools, .headerTable .eventTDTools{
	width: 12%;
}

.userTable .userTDTools, .userTable .userTDTools, .headerTable .userTDTools{
	width: 9%;
}

.outletTable .outletTDTools{
	width: 9%;
}

.menuTableButtons, .eventTableButtons, .userTableButtons, .outletTableButtons, .mdTableButtons{
	font-size: 20px !important;
	padding: 1px 3px !important;
	margin-top: 23px;
}

.menuTDPrice input, .eventTDTime input, .userTDPassword input{
	display: inline!important;
	padding: 0;
	width: 64px;
}

.menuTDVisi .switch, .eventTDVisi .switch, .mdTDVisi .switch{
	margin-top: 14px;
	padding-right: 4px;
	padding-left: 4px;
}

.menuTable h6, .eventTable h6, .userTable h6, .outletTable h6, .mdTable h6{
	color: #2D7EC5;
	font-weight: normal;
}

.menuTable .savedInput input:focus, .eventTable .savedInput input:focus, .userTable .savedInput input:focus, .outletTable .savedInput input:focus, .mdTable .savedInput input:focus, .menuTable .savedInput input, .eventTable .savedInput input, .userTable .savedInput input, .outletTable .savedInput input, .mdTable .savedInput input, table.headerTable {
	background: transparent !important;
}

table.menuTable, table.eventTable, table.userTable, table.outletTable, table.mdTable,table.headerTable  {
	display: table;
	margin-right: 0px !important;
	width: 101.8% !important;
	margin-left: -1% !important;
	margin-bottom: 0px !important;
	margin-top: -1px;
}

.optionTR .menuTDPrice {
	width: 15%;
}
.optionTR .menuTDTools {
	width: 9%;
}

.userTable .ui-multiselect, .eventTable, .ui-multiselect{
	font-size: 14px;
	width: 100% !important;
}

.eventTable, .ui-multiselect{
	margin-top: 14px;
}

.outletTable .ui-multiselect{
	font-size: 16px;
	width: 100% !important;
	margin-top: 8px;
}

.dynamicDataTable tr:first-of-type{
	border-bottom: 1px solid #B9BBBD !important;
}

.dynamicDataTable tr.itemTR.menuEdit:first-of-type, .dynamicDataTable tr.userTR.userEdit:first-of-type, .dynamicDataTable tr.eventTR.eventEdit:first-of-type{
	border-bottom: 0px !important
}

.dynamicDataTable{
	padding-bottom: 20px;
}

.menuTable tr, .eventTable tr, .userTable tr , .outletTable tr, table.headerTable tr {
	display: table;
	max-width: 50%;
	margin-left: auto !important;
	margin-right: auto !important;
	min-width: 950px;
}

.headerTable thead, .innerTableHeader {
	background: transparent;
	font-size: 12px;
	text-align: center;
}
.headerTable thead th, .innerTableHeader th{
	/*font-weight: normal;*/
}

.subHeaderTR{
	border-bottom:0 !important;
}

.itemSubheader{
	padding-top: 8px !important;
	padding-bottom: 15px !important;
}

.itemSubheader button{
	width: 20px;
	height: 20px;
	font-size: 17px;
	padding: 1px 2px;
	background: #2E70B7;
	border: #2E70B7;
}

.itemSubheader h6{
	margin-bottom:-12px;
	width: 264px;
}

.modifierRow {
	width: 31% !important;
}

.modifierRow input, .modifierRow select{
	width: 90%;
	margin-top: 12px;
	margin-bottom: 12px !important;
}

.modifierRow .ui-multiselect{
	width: 90% !important;
}

.newItem, .newSection, .deleteSection, .newEvent, .newUser, .newOutlet, .newMenu, .newMD, .newmdItem, .newCollSlot, .delCollSlot, .applyTimesAllDays, .addMoreOH, .removeOHDiv {
	padding: 1px 3px;
	font-size: 20px;
}

.showOnHover{
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	opacity: 0;
	display: inline;
}

.sectionTools:hover .showOnHover{
	opacity: 1;	
}

.newCollSlot, .delCollSlot{
	margin-top: 36px;
}

.newItem, .newEvent, .newUser, .newOutlet, .newmdItem, .addMoreOH{
	background: #2E70B7;
	border: #2E70B7;
}

.removeOH { 
	padding: 2px 8px !important;
	margin-top: 10px !important;
}

.newSection{
	margin-top: 20px;
	background: #2E70B7;
	border: #2E70B7;
}

.dashContent #iphone5{
	margin-bottom: 0px !important;
}

.dashContent p, .dashContentTop h1, .dashContent a, .dashboardFooter, .dashboardFooter a, .premiumDiv p {
	color: #D7D9DA;
}

.dashContent a:hover, .dashboardFooter a:hover {
	color: #FFF;
}

.dashContent, .dashContent h1, .dashContent h3 {
	color: #00C1F3;
}

.dashContent p, .dashboardFooter p{
	margin-bottom: 0;
}

.dashContent h3, .dashStats h3{
	font-weight:normal !important;
}

.dashContent h3 {
	display: inline-block;
	width:80% !important;
}

.dashContent .accordion section:first-child{
	border-top: 1px solid;
}

.dashContent .accordion section{
	border-bottom: 1px solid;
	margin-top: 10px;
}

.dashContent .accordion section h3{
	cursor: pointer;
	height: 50px;
}

.dashContent .accordion section img{
	margin-top: -24px;
}

.dashContent .accordion section.active img{
	filter: brightness(750%);
	-webkit-filter: brightness(750%);
	-moz-filter: brightness(750%);
	-o-filter: brightness(750%);
	-ms-filter: brightness(750%);
}

.dashContent .accordion i{
	font-size: 28px;
	padding-left: 23px;
}

.dashContent .accordion i.noPad{
	padding-left: 0px;
}

.dashContent .accordion .topFix{
	margin-top: -12px;
}

.dashContent .accordion .content{
	margin-bottom: 18px;
}

.dashContent .premiumSection {
	border-bottom: 1px solid #F9B30A !important;
}
.dashContent .premiumSection i, .dashContent .premiumSection h3{
	color: #F9B30A !important;
}

.dashContent .pagerRow{
	margin-top: 20px;
	text-align: center;
}

.dashContent .pagerRow i{
	margin-right: 2px;
	margin-left: 2px;
}

.dashContent .phoneContainer{
	overflow: hidden;
	height: 100%;
}

.dashContent {
	padding-bottom: 70px;
}

.phone1, .phone2{
	z-index: 0;
	overflow: visible;
}

.dashStats h1, .dashStats h3{
	color: #8AC33F;
}

.dashStats h1, .dashStats h6 {
	margin-bottom:0;
}

.dashStats h1{
	margin-top:0;
	font-size: 3.2em;
	letter-spacing: -5px;
}

.dashStats h6{
	color: #D7D9DA;
	font-weight: normal;
}

@media screen and (min-width: 915px){
	.dashContent #iphone5{
		margin-top: -50px;
	}
}

footer.dashboardFooter {
	background: rgba(0,0,0,0.15);
	/*margin-top: 50px;
	overflow: hidden;  to force height */
}

footer.dashboardFooter div{
	padding-top: 20px;
}

.TWFoot img, .FBFoot img{
	margin-right: 4px;
}

.LIFoot img, .FBFoot img{
	margin-left: 5px;
}

.TWFoot img, .FBFoot img, .LIFoot img {
	margin-bottom: 20px;
}

.premiumDiv h3{
	color: #F9B30A;
	margin-top: -10px;
}

.premiumButton{
	background: #F9B30A !important;
	margin-top: 10px;
}

.dashContent .dashMenuIcon i {
	font-size: 16px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	color: #D7D9DA;
}

.openDay:focus, .openDay:hover{
	background: #3AA2DC;
	outline: none;
}

.openDay {
	border-bottom: 20px solid #3AA2DC;
	margin-bottom: -7px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.openDayContainer {
	border-bottom: 8px solid #3AA2DC;
	width: 470px !important;
}

.openingHoursDiv h4{
	font-family: HelveticaNeueW01-45Ligh !important;
	color: #48535D;
}

.openingHours input{
	font-family: HelveticaNeueW01-45Ligh !important;
	font-size: 16px !important;
	color: #48535D !important;
	font-weight: bold !important;
	background: #FFF !important;
	text-align: center;
	width: 80px;
}

.openingHours small{
	width: 80px;
}

span.slotDuration{
	padding-top: 10px;
	font-weight: bold;
	display: inline-block;
}

.openingHours .justMins{
	text-align: center;
	display: inline !important;
	width: 50px !important;
}

.openingHours .minSpan{
	padding-left: 4px;
}

#applyTimesAllDays{
	display: inline;
}

.tableWrapper{
	position:relative;
	padding: 20px 0;
	background: #fafafa;
}
.tableWrapper:before{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:35px;
	content: '';
	background: transparent url(../img/fade-down.png) repeat-x left top;
}

.tableWrapper:after{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:25px;
	content: '';
	background: transparent url(../img/fade-up.png) repeat-x left bottom;
}

.moreTextArea{
	height: 150px !important;
}

#finishForm h3{
	color:#48535D;
	font-size: 22px;
}

#finishForm .preodayButton.large {
	font-size: 40px;
	padding: 22px;
	margin-top: 42px;
	margin-bottom: 40px;
}
#finishForm .goBackToDash {
	background: #2E70B7;
	border: #2E70B7;
}

.cyappHead{
	color: #D7D9DA !important;
}

#savingButton {
	width: 179px;
}

.sortWithinDiv {
	position: relative; /* otherwise dragging breaks */
}

table.sortable-placeholder, .sortable-placeholder-sec{
	height: 50px;
	width: 94%;
	background: transparent;
	border: 2px dashed rgba(0,0,0,0.3);
	padding: 5px;
	margin:3px auto 3px;
}

.sortable-placeholder-sec{
	height: 400px;
	width: auto;
}

tbody tr.menuEdit, tbody tr.userEdit, tbody tr.eventEdit {
	background: transparent !important;
}

table.sortable-placeholder tbody, table.sortable-placeholder tr, table.sortable-placeholder td {
	border:none !important;
}

#passDiv{
	margin-top: 20px;
}

.pretendRight {
	float: right !important;
}

.alignHeader {
	margin-left: 14px;
}

.pdDropdown {
	background: #CED0D1 !important;
	font-weight: bold;
}

.pdDropdown .selector {
	background: #B9BBBD;
	border: 0px;
	height: 99% !important;
}

.switch label {
	color: #000 !important;
	text-transform: uppercase;
	font-weight: bold !important;
	letter-spacing: 1px;
	font-size: 14px !important;
}

.alignNewSection button {
	margin-left: 16px;
}

.alignNewSection {
	margin-top: 10px;
}

.smallNot {
	font-size: 14px;
}

.openHWrapper, .openingHours {
	margin-left: -30px;
	float: left !important;
}

.itemEdit, .userTDEdit, .eventTDEdit{
	background: #1F8AC8;
}

.itemDuplicate, .eventDuplicate{
	background: #2AB6E5;
}

ul.ui-autocomplete{
	width: 270px;
	border: 1px solid #BCBDBF;
}

ul.ui-autocomplete li.ui-menu-item  a{
	color: #4D4D4D;
}

ul.ui-autocomplete li.ui-menu-item:hover {
	background: #E4E4E4;
	cursor: pointer;
}

ul.ui-autocomplete li.ui-menu-item:last-of-type {
	border-bottom: 0px;
}

ul.ui-autocomplete li.ui-menu-item {
	background: white;
	border-bottom: 1px solid #BCBDBF;
	padding: 7px 4px;
	list-style-type:none;
	font-weight: bold;
	font-size: 14px;
}

input[name^='iMod'], input[name^='iMod']:focus{
	background: #3AA2DC !important;
	color: #FFFFFF !important;
	padding-left: 10px !important;
	font-weight: bold !important;
	font-size: 14px !important;
	height: 39px !important;
	z-index: 1000;
	margin-top: 19px;
}

input[name^='iMod']::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
input[name^='iMod']:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
input[name^='iMod']::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
input[name^='iMod']:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

.showAChevy {
	position: relative;
	font-family: 'icomoon';
	font-size: 26px;
	display: inline-block;
	margin-top: -10px;
	top: -33px;
	float: right;
	font-weight: normal;
	width: 20px;
	color: #FFF;
	height: 20px;
	z-index: 2001;
	left: -48px;
}