* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #305873;
  font-weight: 200;
  background-color: #f1f4f7;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #305873;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #1a2f3d;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.text-center {
  text-align: center;
}

.lead {
  margin-bottom: 22px;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
  color: #82898d;
  margin-top: 10px;
}

.cancel {
  margin-top: 0;
  margin-bottom: 50px;
}

.green {
  color: #8ac04e;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 55px;
  margin: 10px 0;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Proxima Nova W01", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.1;
  color: inherit;
}

h4 {
  font-weight: 300;
  font-size: 25px;
}

h3, .h3 {
  font-size: 28px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

.bs-callout {
  padding: 65px 80px;
  margin: 65px 0;
  border: 1px solid #cccfd1;
  border-radius: 3px;
  background: #ffffff;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-bottom: 25px;
  padding: 6px 12px;
  font-size: 23px;
  line-height: 1.42857143;
  color: #46545e;
  font-weight: 400;
  background-color: #f1f4f7;
  background-image: none;
  border: 2px solid #dbdee1;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #2589c7;
  outline: none;
}

.form-control.has-error {
  border-color: #c13a2c;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 3px;
  font-weight: normal;
  color: #82898d;
  font-size: 14px;
}

label.accept {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 50px;
}
label.accept a {
  font-weight: 400;
}

.form-group {
  margin-bottom: 15px;
}

hr {
  margin-top: 55px;
  margin-bottom: 70px;
  border: 0;
  border-top: 1px solid #dbdee1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-left: -50px;
  margin-right: -50px;
  max-width: 1120px;
}

.sections {
  padding: 95px 0;
  position: relative;
}

.btn {
  box-shadow: 0 4px #046186;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
}

.btn-primary {
  color: #ffffff;
  background-color: #1aa4dd;
  border-color: #1793c6;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 20px 105px;
  font-size: 23px;
  line-height: 1.33;
  border-radius: 3px;
}

.btn:focus, button:focus {
  outline: none !important;
}

.btn:hover {
  box-shadow: 0 2px #046186;
  top: 2px;
  outline: none;
}

.btn:active {
  box-shadow: 0 0 #046186;
  top: 4px;
  outline: none;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 5px;
  vertical-align: top;
  text-indent: -100%;
}

.twitter {
  background-image: url(../img/social-media-twitter.png);
}

.facebook {
  background-image: url(../img/social-media-facebook.png);
}

.google-plus {
  background-image: url(../img/social-media-google-plus.png);
}

.youtube {
  background-image: url(../img/social-media-youtube.png);
}

.linkedin {
  background-image: url(../img/social-media-linkedin.png);
}

.no-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 15px;
  vertical-align: top;
}

.no-1 {
  background-image: url(../img/no-1.png);
}

.no-2 {
  background-image: url(../img/no-2.png);
}

.no-3 {
  background-image: url(../img/no-3.png);
}

.security-info {
  display: inline-block;
  width: 160px;
  height: 34px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 0px;
  vertical-align: top;
  background-image: url(../img/security-payment.png);
  float: right;
}

footer {
  background: #ffffff;
  color: #b4b6b8;
  font-weight: 300;
}

footer .container {
  padding: 50px 10px;
}

footer .logo, footer .logo-grey {
  margin-top: 0;
  padding-top: 0;
  background-position: 50% 0;
}

footer nav ul, footer nav li {
  list-style: none;
  margin-bottom: 5px;
}

footer nav .menu-header {
  font-weight: 500;
  margin-bottom: 10px;
}

footer nav .menu-header a {
  color: #b4b6b8;
  font-wright: 500;
  text-decoration: none;
}
footer nav .menu-header a:hover {
  text-decoration: underline;
}

footer nav a {
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: underline;
}

footer .logo-grey {
  z-index: 0;
  background-image: url("../img/logo-grey.svg");
}

footer .logo-grey {
  margin: 10px 0;
  z-index: 10000;
  text-indent: -1000%;
  background-image: url("../img/logo-grey.svg");
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  top: 0px;
  margin-top: 0;
  left: 0;
  width: 140px;
  height: 30px;
}

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(37, 137, 199, 0.9);
  z-index: 9998;
}
.menu-overlay .container {
  top: 60%;
  height: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
.menu-overlay div {
  text-align: left;
  position: relative;
  vertical-align: top;
  height: 290px;
}
.menu-overlay nav {
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.menu-overlay ul a {
  height: 40px;
  font-size: 17px;
  font-weight: 200;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}
.menu-overlay ul li {
  display: block;
  height: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.menu-overlay ul li.current a {
  color: #0d598c;
}
.menu-overlay ul li a {
  font-size: 30px;
  font-weight: 600;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu-overlay ul li a:hover, .menu-overlay ul li a:focus {
  color: #0d598c;
  text-decoration: none;
}

.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-35%) rotateX(45deg);
  transform: translateY(-35%) rotateX(45deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc nav ul:nth-child(1) {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc nav ul:nth-child(2) {
  -webkit-transition: -webkit-transform 0.7s, opacity 0.5s;
}
.overlay-hugeinc nav ul:nth-child(3) {
  -webkit-transition: -webkit-transform 0.9s, opacity 0.5s;
}
.overlay-hugeinc nav ul:nth-child(4) {
  -webkit-transition: -webkit-transform 1.1s, opacity 0.5s;
}
.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(35%) rotateX(-45deg);
  transform: translateY(35%) rotateX(-45deg);
}

@media (min-width: 768px) {
  .menu-overlay .container {
    height: 80%;
  }
}
@media (min-width: 992px) {
  .menu-overlay .container {
    height: 50%;
  }
}
@media (min-width: 1200px) {
  .menu-overlay .container {
    height: 50%;
  }
}
.navbar {
  min-height: 95px;
  box-shadow: 0 -13px 25px #000000;
}
.navbar .btn {
  z-index: 9999;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  /*margin: 15px 30px;*/
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  outline: none;
  position: relative;
  border: 2px solid #2589c7;
  color: #2589c7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /* Pseudo elements for icons */
}
.navbar .btn:after {
  content: '';
  position: absolute;
  z-index: -1;
}
.navbar .btn:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.navbar .btn.menu:active, .navbar .btn.menu.active {
  color: #ffffff;
  background: #2589c7;
  border: 2px solid #ffffff;
}
.navbar .btn.signin {
  color: #ffffff;
  background: #46545e;
  border: 2px solid #46545e;
  margin-right: 15px;
}
.navbar .btn.signin.invert {
  color: #2589c7;
  background: #ffffff;
  border: 2px solid #ffffff;
}
.navbar .btn.menu:after {
  content: "Menu";
  position: relative;
  margin: 0 auto;
}
.navbar .btn.menu.active:after {
  content: "Close";
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-right {
  margin-right: 0 !important;
}

.navbar-text {
  margin: 25px 0;
}

.navbar-header {
  margin: 12px 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
  top: 0;
  border-width: 0 0 1px;
}

.logo {
  margin: 10px 0;
  z-index: 10000;
  text-indent: -1000%;
  background-image: url("../img/logo.svg");
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  top: 5px;
  left: 0;
  width: 140px;
  height: 30px;
}

.logo.active, footer .active.logo-grey {
  background-image: url("../img/logo-white.svg");
}

.navbar .btn, .navbar .btn:hover, .navbar .btn:active, .navbar .btn:focus {
  box-shadow: none;
  top: 0;
  text-decoration: none;
}
.navbar nav.takeaway {
  display: inline-block;
}
.navbar nav.takeaway li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-header {
  float: left;
}

.navbar-right {
  float: right;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/*# sourceMappingURL=styles.css.map */
