.user-content-contextual{
    md-input-container.md-has-icon{
      padding-left:0;
      margin-top:8px;

      .user-label{
        font-size: 16px;
        color: #9E9E9E;
        line-height: 16px;
        margin-bottom: 12px;

        md-icon{
          margin-right:12px;
        }
      }
    }
}