<div class="menu-item-basic">
   <md-input-container class="md-block">
      <label translate>Item name</label>
      <input type="text" autocomplete="off"  required name="entityName" ng-model="menuItemBasicCtrl.item.name" ng-maxlength="100">
      <div ng-messages="menuItemBasicCtrl.contextualForm.entityName.$error">
        <div ng-message="required" translate>This is required.</div>
      </div>
  </md-input-container>
  <md-input-container class="md-block">
      <label translate>Description</label>
      <textarea type="text" name="entityDescription" ng-maxlength="1000" ng-model="menuItemBasicCtrl.item.description"></textarea>
  </md-input-container>
  <tax-group-select ng-model="menuItemBasicCtrl.item.taxId"></tax-group-select>

  <menu-item-size ng-price-model="menuItemBasicCtrl.item.price" ng-model="menuItemBasicCtrl.item.$size"></menu-item-size>
</div>