<span class="multiSelect inlineBlock" >
    <button type="button" class="multiSelect button multiSelectButton dropdown pdDropdown" ng-click="toggleCheckboxes( $event ); refreshSelectedItems();" ng-bind-html="varButtonLabel" dotdotdot ng-focus="onFocus()" ng-blur="onBlur()">
    </button>
    <div class="multiSelect checkboxLayer select2-drop-active hide">
        <form>
            <div class="helperContainer">
                <div  ng-if="displayHelper('filter') && enableSearch" class="contentSearch select2-search">
                    <input type="text" ng-click="select('filter', $event )" ng-model="inputLabel.labelFilter" ng-change="updateFilter();getFormElements();" class="inputFilter" />
                </div>
            </div>
            <div class="checkBoxContainer select2-drop">
                <div ng-repeat="item in filteredModel" class="multiSelect multiSelectItem" ng-class="{ active: item[tickProperty] }" >
                    <div class="multiSelect acol">
                        <label class="multiSelect" ng-class="{checkboxSelected:item[ tickProperty ]}">
                            <input class="multiSelect checkbox" type="checkbox" ng-disabled="itemIsDisabled( item )" ng-checked="item[ tickProperty ]" ng-click="syncItems( item, $event )"/>
                            <span class="multiSelect multiSelectItem" ng-class="{disabled:itemIsDisabled( item )}" ng-bind-html="writeLabel( item, 'itemLabel' )"></span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</span