.multiSelect .acol label.multiSelect{
    margin-bottom:0;
}

label.multiSelect{
    text-align: left;
    font-size: 100%;
}

.multiSelect.inlineBlock {
    display: inline-block;
}

.containerMultiSelect{
    margin: 0 13px;
}

/* button */
.multiSelect .button {
    display: block;
    position: relative;
    margin:0 auto;  
    width: 100%;     
    text-align: left;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    padding: 0 0 0 25px;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 2px;
    color: #333;      
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
    white-space:normal;
    background-color: #fff;
    background-image: linear-gradient(#fff, #e4e4e4);
    max-height: 32px;
    overflow: hidden;    
}

.multiSelect .button:hover, .multiSelect .button:focus{
    border: 0px;
    box-shadow: none;
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    outline: 0;
}

/* button on mouse hover */
.multiSelect .button:hover {
    background-image: linear-gradient(#fff, #eee);    
}

/* helper buttons style (select all, none, reset, clear filter); */
.multiSelect .helperButton {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px 7px;    
    font-size: 14px;
    line-height: 1;
    border-radius: 2px;
    color: #666;    
}

.multiSelect .button > div {
    float: left;        
}

.multiSelect .dropdown.button:before{
    content: ''
}

/* The checkboxes container */
.multiSelect .checkboxLayer {
    background-color: #fff;
    position: absolute;    
    z-index: 999;
    width: 88%;
    background-clip: padding-box;     
    min-width: 406px;
}

.multiSelect.checkboxLayer{
    background-color: #DFE1DE !important;
    font-size: 13px;
}

.multiSelect.checkboxLayer .multiSelectItem{
    padding-left: 25px;
}

/* Downward pointing arrow */
.multiSelect .caret {    
    float: right;        
    
    width: 32px;
    height: 32px;
   background: url("/img/arrowOutlet.jpg") left top no-repeat;  
   background-size: 100% 100%;
           
}

.multiSelectChart .checkboxLayer{
    left: 23px;
    width: 84%;
}

.multiSelect.multiSelectItem {
    display: block;
    color: #777;   
}

.multiSelect .vertical {
    float: none;
}

.multiSelect .horizontal {
    float: left;
}

.multiSelect .acol {
    width: 100%;
    line-height: 1.4;  
    min-width: 14px;
}

label.multiSelect span {
    white-space:nowrap;
    margin: 0;
    padding: 0;
    display: inline-block;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

/* hide the checkbox away */
.multiSelect .checkbox {
    position: absolute;
    left: -9999px;
    cursor: pointer;
}

.multiSelect .show {
    display: inline-block;
}

.multiSelect .hide {
    display: none;
}

.multiSelect .line {   
    margin-bottom: 15px;
}

.multiSelect .helperButton + .helperButton  {
    margin-left: 1px;
}

.multiSelect .contentSearch {
    padding: 20px 24px 0 24px;
}
.multiSelect .checkBoxContainer {
    max-height: 200px;
    overflow-y: scroll !important;
}

.multiSelect .contentSearch input {
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.multiSelect .contentSearch button {
    background: none !important;
    background-color: #3aa2dc !important;
}

.multiSelect form {
    margin-bottom: 0px;
}

/* On mouse over and focus */
label.multiSelect input:focus ~ span::after,
label.multiSelect span:focus::after, 
label.multiSelect span:hover::after {     
    /* Enable this if you want some arrow pointer on focus */
    /* content: ' \00AB'; */
}

label.multiSelect input:focus ~ span,
label.multiSelect span:hover {
    color: #333;
    cursor: pointer;        
    /* Enable this if you want some arrow pointer on focus */
    /* content: ' \00AB'; */
}

/* for checkboxes currently selected */
.multiSelect .checkboxSelected {
    color: #000;
    text-shadow: 1px 0px #eee;
}

/* checkboxes currently disabled */
.multiSelect.disabled, .multiSelect.disabled:hover {
    color: #ccc;
    cursor: not-allowed;
}

/* 
 * If you use images in button / checkbox label, you might want to change the image style here.
 */
.multiSelect img {
    vertical-align: middle;
    margin-bottom:0px;
    height: 22px;
    width:22px;
}


.multiSelect.multiSelectItem{
    width: 100%;
    padding: 5px 10px;
}

.multiSelect.multiSelectItem:hover, .multiSelect.multiSelectItem.active{
    background-color: #46535D;
}

.multiSelect.multiSelectItem:hover span.multiSelect, .multiSelect.multiSelectItem.active span.multiSelect{
    color: #fff;
}