<div class="event-schedule-list">
  <div class="container">
    <div class='sv-root-holder'>

      <card-item-list
          collection="eventScheduleListCtrl.schedules"
          has-new="eventScheduleListCtrl.hasNew"
          tooltip="{{ 'Add new schedule' | translate }}"
          on-click-new="eventScheduleListCtrl.showCreateSchedule()">
      <div class='sort-holder'>
        <event-schedule
          ng-repeat="schedule in eventScheduleListCtrl.schedules | orderBy: '$startTimestamp'"
          schedule="schedule"
          ng-if="schedule.$show"
          ng-init="$last && eventScheduleListCtrl.runAnimation()">
        </event-schedule>
        <div sv-placeholder></div>
      </div>
      </card-item-list>
    </div>
  </div>
</div>