$heightMenuItemCard:48px;

.event-schedule-list {
	transition: all 1s ease, max-height .5s ease;
	overflow: hidden;

	.container {
		display: table;
		height: 100%;
		width: 100%;
  }

	.sv-placeholder {
		min-height: $heightMenuItemCard !important;
		margin: 0px;
	}		

	.event-schedule {
		margin: 8px;
	}

  .card-item {
    &:not(.card-item-new) {
    	margin:0;
    }

    &.card-item-new{
			margin-left: 0px;
			margin-right: 0px;		    	
      min-height:$heightMenuItemCard;
    }    
  }	
}