<div class="outlet-list">
  <div class='sv-root-holder'
      sv-root="outlet"
      sv-disabled="vm.svDisabled"
      sv-on-sort="vm.onOutletMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">

    <card-item-list
        collection="vm.outlets">
      <div class='sort-holder' 
        sv-multi-select='vm.svMultiSelect'
        sv-keep-in-list='vm.svKeepInList' 
        sv-is-dropzone='false'   
        sv-part="vm.outlets">
        <outlet
          sv-element="outlet"
          ng-repeat="outlet in vm.outlets"
          outlet="outlet">
        </outlet>
        <div sv-placeholder></div>
      </div>
    </card-item-list>
  </div>
</div>