.menu-item-size{

  .variant-container{
    display: none;
  }
  .button-position{
    position: relative;
    left: -18px;
  }

  .prices {



    venue-currency{
      text-align: center;
    }

    .handle{
      position: relative;

      md-icon:first-child{
        position: absolute;
        top: -10px;
      }
      cursor:move;
      cursor:grab;
      cursor:-moz-grab;
      cursor:grab;

    }

    .icon-clear{
      position: relative;
      top: -5px;
      &:hover{
        cursor: pointer;
      }
    }
  }

}

.menu-item-size-form{
  &.sv-long-pressing{
    background: white;
  }
  md-input-container{
    margin:0;
  }
}