<div class='menu-item-size'>
  <md-radio-group class='size' ng-if="menuItemSizeCtrl.hasNestedModifierFeature()" ng-change="menuItemSizeCtrl.onSizeSelect()" ng-model="menuItemSizeCtrl.ngModel.$isMultiple">
      <md-radio-button ng-value="false" class="md-primary ">{{'Single Size' | translate}}</md-radio-button>
      <md-radio-button ng-value="true" class="md-primary "> {{'Multiple Sizes' | translate}} </md-radio-button>
  </md-radio-group>
  <div ng-if="!menuItemSizeCtrl.ngModel.$isMultiple" class='price' layout="row" layout-align="start center">
    <md-input-container flex>
        <label translate>Price</label>
        <input flex type="text" required name="entityPrice" ng-model="menuItemSizeCtrl.ngPriceModel" valid-price />
        <div ng-messages="menuItemSizeCtrl.contextualMenuCtrl.contextualForm.entityPrice.$error">
          <div ng-message="required" translate>This is required.</div>
          <div ng-message="invalidPrice" translate>Invalid price.</div>
          <div ng-message="maxDecimalValue" translate>Max value is {{ '99999999.99' | currency:true }}.</div>
        </div>
    </md-input-container>
    <venue-currency class='currency'></venue-currency>
  </div>
  <div class='multi-size' ng-if="menuItemSizeCtrl.ngModel.$isMultiple" layout="column">

    <md-input-container class='variant-container'>
        <label translate>Variant Name</label>
        <input flex type="text" required name="sizeName" ng-model="menuItemSizeCtrl.ngModel.name">
        <div ng-messages="sizeForm.sizeName.$error">
          <div ng-message="required" translate>This is required.</div>
        </div>
    </md-input-container>
    <div class='prices' layout="column"
        sv-root="size"
        sv-on-sort="menuItemSizeCtrl.onOptionMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)"
        sv-part="menuItemSizeCtrl.ngModel.items">
      <ng-form class='menu-item-size-form' class='price' layout="row" layout-align="start center" name="sizeForm" ng-repeat="size in menuItemSizeCtrl.ngModel.items" sv-element>
        <span class='handle' sv-handle><icon>arrow_drop_up</icon><icon>arrow_drop_down</icon></span>
        <md-input-container flex>
            <label translate>Name</label>
            <input flex type="text" required name="sizeName" ng-model="size.name">
            <div ng-messages="sizeForm.sizeName.$error">
              <div ng-message="required" translate>This is required.</div>
            </div>
        </md-input-container>
        <md-input-container flex="35">
            <label translate>Price</label>
            <input flex type="text" required name="sizePrice" ng-model="size.price" valid-price max-integer-value />
            <div ng-messages="sizeForm.sizePrice.$error">
              <div ng-message="required" translate>This is required.</div>
              <div ng-message="invalidPrice" translate>Invalid price.</div>
              <div ng-message="maxDecimalValue" translate>Max value is 99999999.99.</div>
            </div>
        </md-input-container>
        <venue-currency flex="10" class='currency'></venue-currency>
        <icon class='icon-clear' ng-if="menuItemSizeCtrl.ngModel.items.length>2" ng-click="menuItemSizeCtrl.deleteSize(size)" flex="5">clear</icon>
      </ng-form>
      <div sv-placeholder></div>
      <div class='button-position'>
        <md-button class='md-primary' ng-click="menuItemSizeCtrl.addSize()" translate>Add size</md-button>
      </div>
    </div>
  </div>
</div>
