
@import "client/app/shared/styles/variables";

.customer-note-item {
	a {
		&.value {
			color: $linkColor;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.notes-message {
		white-space: pre-wrap;
	}
}