.style-row{
  border-bottom:1px solid #CCCCCC;


  .header{
    padding:16px 24px;
    background: #F5F5F5;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    line-height: 16px;

    &:hover{
      cursor: pointer;
    }
  }

  &.expanded{

    &:last-child {
      // border-bottom: none;
    }
    .header{
      background: #616161;
      color:#FFFFFF;
    }
  }

  .form-style{
    padding:0 24px;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    overflow: hidden;
    height: 0;

    md-radio-group{
      margin-top: 16px;
      display: block;
    }

    [md-color-picker] .md-color-picker-input-container .md-color-picker-clear, md-color-picker .md-color-picker-input-container .md-color-picker-clear{
      bottom:20px;
    }

    md-radio-button:not([disabled]).md-primary {
      color: #808080;

      .md-off{
        border-color: #808080;
      }
      .md-on{
        background-color: #808080;
      }
    }


    md-radio-button{
      display: inline-block;
      margin-right:16px;

    }
    md-input-container{
      display: block;
    }

    .double-picker {

      > div {
        height: 50px;
      }

      .md-color-picker-input-container .md-color-picker-clear, .md-color-picker-input-container .md-color-picker-clear{
        bottom: -7px;
      }
    }

    .md-color-picker-input-container{
      margin-top:12px;
      md-input-container{
        margin-bottom: 0;
      }
    }


    .venue-name{
      margin-bottom: 0;
      position: relative;
      // top: 8px;

    }

    &.BANNER .image-uploader{
      width: 610px;
      height: 127px;
    }

    &.HEADER .image-uploader{
      width: 610px;
      height: 58px;
    }
    &.LOGO .image-uploader{
      width: 610px;
      height: 233px;
    }
    &.BACKGROUND .image-uploader{
      width: 610px;
      height: 372px;
    }
  }
}

@import 'contextualDrawer.style-row.animations.scss';