<div class='taxRate'
      ng-attr-data-id="{{taxRateCtrl.taxRate.id}}">
  <card-item  has-actions="true"
              deleted="taxRateCtrl.taxRate.$deleted"
              selected="taxRateCtrl.taxRate.$selected"
              class='small'>
    <card-item-title has-visible="false">
        <span>{{taxRateCtrl.taxRate.name}} </span>
    </card-item-title>

    <card-item-actions on-delete="taxRateCtrl.onDelete()"
                       on-edit="taxRateCtrl.onEdit($event)"
                        ></card-item-actions>
  </card-item>
</div>