<div class="dropdown-view" layout-align="end">
  <md-button class="md-icon-button item-actions" ng-click="vm.showActions()" >
      <icon>more_horiz</icon>
  </md-button>
  <md-card class="actions-card" ng-mouseleave="vm.onMouseLeave()" ng-if="vm.shouldShowActions">
    <md-card-actions  >
      <md-button ng-repeat="item in vm.actionsList | orderBy: 'id' track by item.id" ng-value="item.id" ng-click="vm.onActions({item})">
         {{item.name}}
      </md-button>
    </md-card-actions>
  </md-card>
</div>