<md-input-container class='user-role-select'>
  <label translate>Role</label>
  <md-select ng-model="userRoleSelectCtrl.ngModel">
    <md-option ng-repeat="role in userRoleSelectCtrl.roles" ng-value="role.id" >
      {{role.name}}
    </md-option>
  </md-select>
  <div class='permissions' ng-if="userRoleSelectCtrl.ngModel && userRoleSelectCtrl.roles[userRoleSelectCtrl.ngModel]">
    <div class='permissions-label' translate>User permissions:</div>
    <div class='permission' ng-repeat='permission in userRoleSelectCtrl.roles[userRoleSelectCtrl.ngModel].permissions'>
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Menu" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Manager-role---1024" transform="translate(-717.000000, -437.000000)">
                    <g id="edit-column" transform="translate(690.000000, 88.000000)">
                        <g id="permissions" transform="translate(24.000000, 190.000000)">
                            <g id="permission" transform="translate(2.000000, 158.000000)">
                                <g id="icon.small">
                                    <rect id="bg.clear" x="0" y="0" width="18" height="18"></rect>
                                    <path d="M7.5,12.75 L3.75,9 L4.8075,7.9425 L7.5,10.6275 L13.1925,4.935 L14.25,6 L7.5,12.75 Z M9,1.5 C4.86,1.5 1.5,4.86 1.5,9 C1.5,13.14 4.86,16.5 9,16.5 C13.14,16.5 16.5,13.14 16.5,9 C16.5,4.86 13.14,1.5 9,1.5 L9,1.5 Z" id="status-on" fill="#1C9C18"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg> <span class='permission-content'>{{permission}}</span> </div>
  </div>
</md-input-container>