<div class='outlet-item'
      ng-class="{expanded:vm.outlet.$expanded}"
      ng-attr-data-id="{{vm.outlet.id}}">

  <card-item  has-actions="vm.hasActions"
              deleted="vm.outlet.$deleted"
              selected="vm.outlet.$selected"
              expanded="vm.outlet.$expanded"
              >
    <card-item-title ng-click="vm.toggleExpanded($event)"
                    has-visible="true"
                    sv-root="item">
                      <div ng-if="!vm.outlet.$expanded" class='sv-dropzone sv-dropzone-item' sv-part="vm.newItems" sv-on-external-sort="vm.onNewItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
                        <div sv-placeholder></div>
                      </div>
                      <span>{{vm.outlet.name}} </span>
                    </card-item-title>

    <card-item-actions is-visible="vm.outletLocation.visible"
                       on-delete="vm.onDelete()"
                       on-edit="vm.onEdit($event)"
                        ></card-item-actions>
  </card-item>
</div>