<div class="content-modal">
  <header class="title-notification" ng-if="title">{{ title }}</header>

  <div class="container-modal-confirm" ng-bind-html="content">    
  </div>

  <p ng-if="showTerm" class='modal-term'>
    <label>
      <input type="checkbox" ng-model="acceptTerm" ng-change="changeTerm(acceptTerm)" />
        I have read the <a href="#">Terms and Conditions</a>
    </label>
  </p>

  <div class="buttons">
    <button class='preodayButton' ng-if='btnOk' ng-class="{secondary:showTerm && !acceptTerm}" ng-click="send()" ng-disabled="showTerm && !acceptTerm">{{ btnOk }} </button>
    <button class='preodayButton' ng-if='btnCancel' ng-click="cancel()">{{ btnCancel }}</button>
  </div>
</div>