<div class='modifier-selection'>
  <md-radio-group class='selection' ng-change="vm.onSelectionSelect()" ng-model="vm.modifier.$isOptional">
    <md-radio-button ng-value="true" class="md-primary md-hue-2">Optional</md-radio-button>
    <md-radio-button ng-value="false" class="md-primary md-hue-2">Mandatory</md-radio-button>
  </md-radio-group>
    <div class='inline-input' ng-if="!vm.modifier.$isOptional">
      <label for="maxChoices" translate>Minimum Selection</label>
      <md-input-container>
          <input type="number" min="1" max="{{vm.modifier.items.length < vm.modifier.maxChoices ? vm.modifier.items.length : vm.modifier.maxChoices }}" id="minChoices" name="minChoices" ng-model="vm.modifier.minChoices">
      </md-input-container>
    </div>
    <div class='inline-input'>
      <label for="maxChoices" translate>Maximum Selection</label>
      <md-input-container>
          <input type="number" min="{{vm.modifier.minChoices || 1}}" id="maxChoices" name="maxChoices" ng-model="vm.modifier.maxChoices">
      </md-input-container>
    </div>

</div>
