<div class='modifier-selection'>
  <md-radio-group class='selection' ng-change="modifierSelectionCtrl.onSelectionSelect()" ng-model="modifierSelectionCtrl.modifier.$isOptional">
    <md-radio-button ng-value="true" class="md-primary " >{{ 'Optional' | translate }}</md-radio-button>
    <md-radio-button ng-value="false" class="md-primary " >{{ 'Mandatory' | translate }}</md-radio-button>
  </md-radio-group>
    <md-input-container class="md-block md-input-container-with-no-float md-input-container-seat-number" md-no-float ng-if="!modifierSelectionCtrl.modifier.$isOptional">

      <span class="input-label" for="minChoices" translate>Minimum Selection</span>
      <input type="text" id="minChoices" name="minChoices" ng-model="modifierSelectionCtrl.modifier.minChoices" valid-number max-integer-value="modifierSelectionCtrl.maxIntegerValue" compare-number="modifierSelectionCtrl.modifier.maxChoices" allow-zero allow-equals />

      <div ng-messages="modifierSelectionCtrl.contextualForm.minChoices.$error" ng-show="modifierSelectionCtrl.contextualForm.minChoices.$dirty" ng-if="!modifierSelectionCtrl.isSaving()">
        <div ng-message="maxIntegerValue" translate ng-class="{'activated': modifierSelectionCtrl.contextualForm.minChoices.$error.maxIntegerValue}">Max value is {{ modifierSelectionCtrl.maxIntegerValue }}.</div>
        <div ng-message="compareNumber" translate ng-class="{'activated': modifierSelectionCtrl.contextualForm.minChoices.$error.compareNumber}">Minimum selection needs to be equal or smaller than maximum selection</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block md-input-container-with-no-float md-input-container-seat-number" md-no-float>

      <span class="input-label" for="maxChoices" translate>Maximum Selection</span>
      <input type="text" id="maxChoices" name="maxChoices" ng-model="modifierSelectionCtrl.modifier.maxChoices" valid-number max-integer-value="modifierSelectionCtrl.maxIntegerValue" compare-number="modifierSelectionCtrl.modifier.minChoices" bigger allow-zero allow-equals />

      <div ng-messages="modifierSelectionCtrl.contextualForm.maxChoices.$error" ng-show="modifierSelectionCtrl.contextualForm.maxChoices.$dirty" ng-if="!modifierSelectionCtrl.isSaving()">
        <div ng-message="maxIntegerValue" translate ng-class="{'activated': modifierSelectionCtrl.contextualForm.maxChoices.$error.maxIntegerValue}">Max value is {{ modifierSelectionCtrl.maxIntegerValue }}.</div>
        <div ng-message="compareNumber" translate ng-class="{'activated': modifierSelectionCtrl.contextualForm.maxChoices.$error.compareNumber}">Maximum selection needs to be equal or bigger than minimum selection</div>
      </div>
    </md-input-container>
</div>
