#Send all files g-zipped
<FilesMatch ".(js|css|html|htm|php|xml)$">
	SetOutputFilter DEFLATE
</FilesMatch>

ErrorDocument 400 /404
ErrorDocument 401 /404
ErrorDocument 403 /404
ErrorDocument 404 /404

php_value post_max_size 20M

RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

RewriteCond %{REQUEST_URI} ^/signin$ [NC]
RewriteRule ^.*$ signin.php [L]

RewriteCond %{REQUEST_URI} ^/dashboard$ [NC]
RewriteRule ^.*$ dashboard.php [L]

RewriteCond %{REQUEST_URI} ^/login$ [NC]
RewriteRule ^.*$ signin.php [L]

RewriteCond %{REQUEST_URI} ^/register$ [NC]
RewriteRule ^.*$ signup.php [L]

RewriteCond %{REQUEST_URI} ^/signup$ [NC]
RewriteRule ^.*$ signup.php [L]

RewriteCond %{REQUEST_URI} ^/join$ [NC]
RewriteRule ^.*$ signup.php [L]

RewriteCond %{REQUEST_URI} ^/logout$ [NC]
RewriteRule ^.*$ /code/shared/logout.php [L]

RewriteCond %{REQUEST_URI} ^/signout$ [NC]
RewriteRule ^.*$ /code/shared/logout.php [L]

RewriteCond %{REQUEST_URI} ^/doSignUp$ [NC]
RewriteRule ^.*$ /code/signup/do_signup.php [L]

RewriteCond %{REQUEST_URI} ^/doSignIn$ [NC]
RewriteRule ^.*$ /code/signin/do_signin.php [L]

RewriteCond %{REQUEST_URI} ^/logout$ [NC]
RewriteRule ^.*$ /code/shared/logout.php [L]

RewriteCond %{REQUEST_URI} ^/404$ [NC]
RewriteRule ^.*$ 404.php [L]

RewriteCond %{REQUEST_URI} ^/profile$ [NC]
RewriteRule ^.*$ settings.php [L]

RewriteCond %{REQUEST_URI} ^/settings$ [NC]
RewriteRule ^.*$ venueSettings.php [L]

RewriteCond %{REQUEST_URI} ^/support$ [NC]
RewriteRule ^.*$ more.php [L]

RewriteCond %{REQUEST_URI} ^/more$ [NC]
RewriteRule ^.*$ more.php [L]

RewriteCond %{REQUEST_URI} ^/openinghours$ [NC]
RewriteRule ^.*$ nonEventSettings.php [L]

RewriteCond %{REQUEST_URI} ^/events$ [NC]
RewriteRule ^.*$ /code/events [L]

RewriteCond %{REQUEST_URI} ^/homescreen$ [NC]
RewriteRule ^.*$ appSettings1.php [L]

RewriteCond %{REQUEST_URI} ^/menuscreen$ [NC]
RewriteRule ^.*$ appSettings2.php [L]

RewriteCond %{REQUEST_URI} ^/users$ [NC]
RewriteRule ^.*$ userSettings.php [L]

RewriteCond %{REQUEST_URI} ^/payment$ [NC]
RewriteRule ^.*$ paymentSettings.php [L]

RewriteCond %{REQUEST_URI} ^/publish$ [NC]
RewriteRule ^.*$ finish.php [L]

RewriteCond %{REQUEST_URI} ^/saveSignIn$ [NC]
RewriteRule ^.*$ /code/signin/save_session.php [L]

RewriteCond %{REQUEST_URI} ^/saveSignUp$ [NC]
RewriteRule ^.*$ /code/signup/save_session.php [L]

RewriteCond %{REQUEST_URI} ^/forgot$ [NC]
RewriteRule ^.*$ forgot.php [L]

RewriteCond %{REQUEST_URI} ^/reset$ [NC]
RewriteRule ^.*$ reset.php [L]

RewriteCond %{REQUEST_URI} ^/doForgot$ [NC]
RewriteRule ^.*$ /code/shared/doForgot.php [L]

RewriteCond %{REQUEST_URI} ^/doReset$ [NC]
RewriteRule ^.*$ /code/shared/doReset.php [L]

RewriteCond %{REQUEST_URI} ^/locale$ [NC]
RewriteRule ^.*$ /code/shared/changeLang.php [L]

RewriteCond %{REQUEST_URI} ^/saveVenue$ [NC]
RewriteRule ^.*$ /code/dashboard/do_venueSave.php [L]

RewriteCond %{REQUEST_URI} ^/saveDelivery$ [NC]
RewriteRule ^.*$ /code/settings/delivery/do_delivery.php [L]

RewriteCond %{REQUEST_URI} ^/uploadLogo$ [NC]
RewriteRule ^.*$ /code/dashboard/doUploadLogo.php [L]

RewriteCond %{REQUEST_URI} ^/uploadBG$ [NC]
RewriteRule ^.*$ /code/dashboard/doUploadBG.php [L]

RewriteCond %{REQUEST_URI} ^/saveHomescreen$ [NC]
RewriteRule ^.*$ /code/dashboard/do_appConfig1.php [L]

RewriteCond %{REQUEST_URI} ^/saveMenuscreen$ [NC]
RewriteRule ^.*$ /code/dashboard/do_appConfig2.php [L]

RewriteCond %{REQUEST_URI} ^/saveMenu$ [NC]
RewriteRule ^.*$ /code/dashboard/do_menuConfig.php [L]

RewriteCond %{REQUEST_URI} ^/newMenu$ [NC]
RewriteRule ^.*$ /newMenu.php [L]

RewriteCond %{REQUEST_URI} ^/newGroupMenu$ [NC]
RewriteRule ^.*$ /newMenu.php [L]

RewriteCond %{REQUEST_URI} ^/deleteMenu$ [NC]
RewriteRule ^.*$ /code/dashboard/do_menuDelete.php [L]

RewriteCond %{REQUEST_URI} ^/deleteImageItem$ [NC]
RewriteRule ^.*$ /code/dashboard/do_imageItemDelete.php [L]

RewriteCond %{REQUEST_URI} ^/uploadMenuItemImage$ [NC]
RewriteRule ^.*$ /code/dashboard/doUploadMenuItemImage.php [L]

RewriteCond %{REQUEST_URI} ^/saveHours$ [NC]
RewriteRule ^.*$ /code/dashboard/do_nonEventConfig.php [L]


RewriteCond %{REQUEST_URI} ^/deleteUser$ [NC]
RewriteRule ^.*$ /code/dashboard/do_userDelete.php [L]

RewriteCond %{REQUEST_URI} ^/saveUser$ [NC]
RewriteRule ^.*$ /code/dashboard/do_userConfig.php [L]

RewriteCond %{REQUEST_URI} ^/deleteOutlet$ [NC]
RewriteRule ^.*$ /code/dashboard/do_outletDelete.php [L]

RewriteCond %{REQUEST_URI} ^/saveOutlet$ [NC]
RewriteRule ^.*$ /code/dashboard/do_outletConfig.php [L]

RewriteCond %{REQUEST_URI} ^/mealdeals$ [NC]
RewriteRule ^.*$ /mealDealSettings.php [L]

RewriteCond %{REQUEST_URI} ^/deleteMealDeal$ [NC]
RewriteRule ^.*$ /code/dashboard/do_mdDelete.php [L]

RewriteCond %{REQUEST_URI} ^/saveMealDeal$ [NC]
RewriteRule ^.*$ /code/dashboard/do_mdConfig.php [L]

RewriteCond %{REQUEST_URI} ^/deliverySettings$ [NC]
RewriteRule ^.*$ /code/settings/delivery/delivery-view.php [L]

RewriteCond %{REQUEST_URI} ^/saveProfile$ [NC]
RewriteRule ^.*$ /code/settings/do_settings.php [L]

RewriteCond %{REQUEST_URI} ^/sendForm$ [NC]
RewriteRule ^.*$ /code/more/do_sendMore.php [L]

RewriteCond %{REQUEST_URI} ^/skipStripe$ [NC]
RewriteRule ^.*$ /code/dashboard/do_skipStripe.php [L]

RewriteCond %{REQUEST_URI} ^/startStripe$ [NC]
RewriteRule ^.*$ /code/dashboard/do_startStripe.php [L]

RewriteCond %{REQUEST_URI} ^/goDemo$ [NC]
RewriteRule ^.*$ /code/dashboard/do_goDemo.php [L]

RewriteCond %{REQUEST_URI} ^/getCurrencies$ [NC]
RewriteRule ^.*$ /js/data/common-currency.json [L]

RewriteCond %{REQUEST_URI} ^/venues$ [NC]
RewriteRule ^.*$ /code/settings/delivery/getVenue.php [L]

RewriteCond %{REQUEST_URI} ^/saveMessages$ [NC]
RewriteRule ^.*$ /code/dashboard/do_saveMessages.php [L]

RewriteRule ^menus/([^/]*)$ /menuSettings.php?id=$1 [L]

RewriteCond %{REQUEST_URI} ^/deliverySettings$ [NC]
RewriteRule ^.*$ /code/settings/delivery/delivery-view.php [L]

RewriteCond %{REQUEST_URI} ^/shop$ [NC]
RewriteRule ^.*$ /code/shop/shop.php [L]

RewriteCond %{REQUEST_URI} ^/accountSettings$ [NC]
RewriteRule ^.*$ /code/accountSettings/index.php [L]

RewriteCond %{REQUEST_URI} ^/kyc$ [NC]
RewriteRule ^.*$ /code/kyc/index.php [L]

RewriteCond %{REQUEST_URI} ^/switch$ [NC]
RewriteRule ^.*$ /code/settings/switch/switch-view.php [L]

RewriteCond %{REQUEST_URI} ^/newVenue$ [NC]
RewriteRule ^.*$ /code/settings/new-venue/new-venue.php [L]

RewriteCond %{REQUEST_URI} ^/selectVenue$ [NC]
RewriteRule ^.*$ selectVenue.php [L]

RewriteCond %{REQUEST_URI} ^/do_selectVenue$ [NC]
RewriteRule ^.*$ /code/venue/do_venue.php [L]
