$userPasswordPadding: 24px;

.user-password {

	md-card-title {

		md-card-title-text {
			flex-direction: row;
			height: 20px;
		}

		button {
			margin: 0px;
			text-align: right;
			margin-top: -8px;
			margin-left: auto;
		}
	}

	md-input-container {
		margin-top: 0px;

		.md-errors-spacer {
			display: none;
		}

    .input-label {
    	left: 0;
    	padding-left: 2px !important;
    }
	}

	md-input-container {
		flex: 0 0 100%;
		max-width: 100%;

		&.with-icon {
			padding-left: 0px;
		}
	}

	.md-input-message-animation {
		&:not(.ng-leave), &:not(.ng-animate) {
	    opacity: 1 !important;
	    margin-top: 0px !important;
		}
	}

	.content-input-password {
		position: relative;
    height: 100%;
    width: 100%;
    display: block;

    input {
    	padding-right: 40px;
    }

		button {
			position: absolute;
			right: 0px;
			bottom: 0px;
			z-index: 5;
			margin: 0px;
		}

		md-icon {
			color: rgba(0,0,0,0.54) !important;
		}
	}
}