<div class="user-password">
  <md-card md-theme="default">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Password</span>
				<md-button type="button" class='md-primary' ng-show="!userPasswordCtrl.shouldShowForm()" ng-click="userPasswordCtrl.showForm()">{{'Change password' | translate}}</md-button>
      </md-card-title-text>
    </md-card-title>
    <form name="userPasswordCtrl.userPasswordForm" ng-submit="userPasswordCtrl.submit()" novalidate ng-if="userPasswordCtrl.shouldShowForm()">
	    <md-card-content layout="row" layout-align="space-between">
			   <md-input-container class="md-block">
			      <label translate>Old password</label>
			      <input type="password" required name="oldPassword" ng-model="userPasswordCtrl.data.oldPassword" ng-maxlength="100">
			      <div ng-show="userPasswordCtrl.userPasswordForm.$submitted">
				      <div ng-messages="userPasswordCtrl.userPasswordForm.oldPassword.$error">
				        <div ng-message="required" translate>This is required.</div>
				      </div>
			      </div>
			  </md-input-container>
			   <md-input-container class="md-block with-icon">

				    <label class="input-label" translate>New password</label>
				    <div class="content-input-password">
				      <input type="{{ userPasswordCtrl.userPasswordForm.newPassword.$showPassword ? 'text' : 'password' }}" required name="newPassword" ng-model="userPasswordCtrl.data.newPassword" ng-maxlength="100" ng-keyup="userPasswordCtrl.checkNewPassword()" />

				      <md-button class="md-icon-button" tabindex="-1" ng-click="userPasswordCtrl.toggleShowPasswordInput(userPasswordCtrl.userPasswordForm.newPassword)">
				        <icon>{{ userPasswordCtrl.userPasswordForm.newPassword.$showPassword ? 'visibility_off' : 'visibility_on' }}</icon>
				        <md-tooltip md-direction="bottom">
				          {{ userPasswordCtrl.userPasswordForm.newPassword.$showPassword ? ('Hide password' | translate) :  ('Show password' | translate) }}
				        </md-tooltip>
				      </md-button>
			      </div>
			      <div ng-show="userPasswordCtrl.userPasswordForm.$submitted">
				      <div ng-messages="userPasswordCtrl.userPasswordForm.newPassword.$error">
				        <div ng-message="required" translate>This is required.</div>
				      </div>
			      </div>
			  </md-input-container>
			   <md-input-container class="md-block with-icon">

			     <label class="input-label" translate>Confirm new password</label>
			     <div class="content-input-password">
				      <input type="{{ userPasswordCtrl.userPasswordForm.confirmNewPassword.$showPassword ? 'text' : 'password' }}" required name="confirmNewPassword" ng-model="userPasswordCtrl.data.confirmNewPassword" ng-maxlength="100" ng-keyup="userPasswordCtrl.checkNewPassword()" />

				      <md-button class="md-icon-button" tabindex="-1" ng-click="userPasswordCtrl.toggleShowPasswordInput(userPasswordCtrl.userPasswordForm.confirmNewPassword)">
				        <icon>{{ userPasswordCtrl.userPasswordForm.confirmNewPassword.$showPassword ? 'visibility_off' : 'visibility_on' }}</icon>
				        <md-tooltip md-direction="bottom">
				          {{ userPasswordCtrl.userPasswordForm.confirmNewPassword.$showPassword ? ('Hide password' | translate) :  ('Show password' | translate) }}
				        </md-tooltip>
				      </md-button>
			      </div>
			      <div ng-show="userPasswordCtrl.userPasswordForm.$submitted">
				      <div ng-messages="userPasswordCtrl.userPasswordForm.confirmNewPassword.$error">
				        <div ng-message="required" translate>This is required.</div>
				        <div ng-message="doesntMatch" translate>Password doesn't match.</div>
				      </div>
			      </div>
			  </md-input-container>
	    </md-card-content>
	    <md-card-actions layout="row" layout-align="end center">
	      <md-button type="button" class='md-primary' ng-click="userPasswordCtrl.cancel()">{{ 'Cancel' | translate}}</md-button>
	      <md-button type="submit" class='md-primary'> {{'Save' | translate}}</md-button>
	    </md-card-actions>
    </form>
  </md-card>
</div>
