<div class='customer-item'
      ng-attr-data-id="{{$customer.customer.id}}">

  <card-item  has-actions="true"
              deleted="$customer.customer.$deleted"
              selected="$customer.customer.$selected"
              >

    <card-item-title>
      <div class="customer-item__details">
        <span class="customer__name ellipsis">{{$customer.customer.name}} </span>
        <span class="customer__email ellipsis">ronaldozanoni@hotmail.com</span>
        <span class="customer__phone ellipsis">014981427778</span>
      </div>
      <span class='customer-item__status' ng-if="$customer.customer.id" translate> (pending)</span>
    </card-item-title>

    <card-item-actions on-edit="$customer.onEdit({ customer: $customer.customer })"
                       on-notes="$customer.onNotes({ customer: $customer.customer })"
                       on-cart="$customer.onPlaceOrder({ customer: $customer.customer })"
                       on-history="$customer.onOrderHistory({ customer: $customer.customer })"
                        ></card-item-actions>
  </card-item>
</div>