@import '../../../shared/styles/variables';

.contextual-drawer {
  width:657px;
  max-width: 657px;

  &.contextual-drawer-outlet-locations {
    .contextual-list {
      padding-top: 11px;
    }

    .md-button {
      &[disabled] {
        background-color: #e3e3e3 !important;
      }
    }
  }

  &.contextual-drawer-outlets {
    .repeat-holder{
      .sort-holder{
        padding-top: 22px;
      }
    }
  }

  .contextual-list{
    overflow-y: auto;
    height: calc(100% - 49px); // 100% - footer cards
  }

  .repeat-holder{
    .sort-holder{
      padding-top:30px;
      min-height: calc(100vh - 49px - 30px);
    }
  }

  md-card-actions{
    border-top:1px solid #E0E0E0;
    background:#F5F5F5;
    margin: 0;
    padding: 0px;
  }

  .card-title{
    height: 48px;
  }

  .search{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
    background: white;
    padding-bottom: 8px;
    margin:0;
    min-height: 50px;

    md-icon{
      left:16px;
      top:12px;
    }
    label{
      top:-11px;
    }
    input{
      margin-top:6px;
    }
    label,input{
      margin-left:10px;
    }

    &+.repeat-holder{
      .sort-holder{
        padding-top: 70px;
        min-height: calc(100vh - 49px - 72px);
      }
    }
  }

  .no-results{
    padding: 16px;
  }
  &:not(.contextual-drawer-delivery-zones){
    .item-actions{
      display: none;
    }
  }
  .card-item{
    .sv-dropzone{
      display: none !important;
    }
  }
  .modifier-item{
   margin: 0px 22px 8px;
  }

  .outlet-list {
    padding: 0 22px;
  }
}