@import '../../../shared/styles/variables';

.contextual-drawer {
  width:657px;
  max-width: 657px;

  .contextual-list{
    overflow-y: auto;
    height: calc(100% - 49px); // 100% - footer cards
  }

  .repeat-holder{
    .sort-holder{
      padding-top:30px;
      min-height: calc(100vh - 49px - 30px);
    }
  }

  md-card-actions{
    border-top:1px solid #E0E0E0;
    background:#F5F5F5;
    margin: 0;
    padding: 0px;
  }

  .card-title{
    height: 48px;
  }

  .search{
    width: calc(100% - 15px); //100% - scroll bar width
    background: white;
    margin:0;
    padding:20px 0 0 0;
    top:0;

    &+.repeat-holder{
      .sort-holder{
        padding-top: 70px;
        min-height: calc(100vh - 49px - 72px);
      }
    }
  }

  .no-results{
    padding: 16px;
  }
  .item-actions{
    display: none;
  }
  .card-item{
    .sv-dropzone{
      display: none !important;
    }
  }
}