<div class='taxGroup'
      ng-attr-data-id="{{taxGroupCtrl.taxGroup.id}}">
  <card-item  has-actions="true"
              deleted="taxGroupCtrl.taxGroup.$deleted"
              selected="taxGroupCtrl.taxGroup.$selected"
              class='small'>
    <card-item-title has-visible="false">
        <span>{{taxGroupCtrl.taxGroup.name}} </span>
    </card-item-title>

    <card-item-actions on-delete="taxGroupCtrl.onDelete()"
                       on-edit="taxGroupCtrl.onEdit($event)"
                        ></card-item-actions>
  </card-item>
</div>