 <form name="{{formName}}"  ng-attr-id={{notification.id}} novalidate>
    <div class='form-content'>
      <div class='inline-fields' flex layout="row" layout-align="space-between center"">
         <md-input-container class="md-block no-spacer" flex>
            <label translate>Message</label>
            <input ng-model-options="{updateOn: 'blur'}" ng-change="debounceUpdate()" type="text" name="message" ng-model="notification.content" ng-maxlength="512">
            <div ng-messages="formName.message.$error">
              <div ng-message="maxlength" ng-class="{'activated': formName.message.$error.maxlength}" translate >Max length is 512.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block no-spacer" flex="40">
            <label translate>Short Name</label>
            <input ng-model-options="{updateOn: 'blur'}" ng-change="debounceUpdate()" type="text" name="name" ng-model="notification.name" ng-maxlength="100">
            <div ng-messages="formName.name.$error">
              <div ng-message="maxlength" ng-class="{'activated': formName.name.$error.maxlength}" translate >Max length is 100.</div>
            </div>
        </md-input-container>
      </div>
   </div>
</form>