<div class='stock-analytics-view layout-left-right' flex layout-align="stretch stretch">
  <div class='main-content-full' flex layout="column" layout-align="start start">

  <div class="stock-filters">
  <custom-datafilters has-daterange="true"
    has-report="true"
    report-types="analyticsStockCtrl.reportTypes"
    on-filter="analyticsStockCtrl.onFilter(filters, typeChanged)"
    initial-values="analyticsStockCtrl.dataFilters">
  </custom-datafilters>
  </div>

  <div class="stock-charts" layout-wrap layout="row" ng-if="analyticsStockCtrl.shouldShowChart">
    <bar-chart flex="100" config="analyticsStockCtrl.chartData" ></bar-chart>
  </div>

  <md-card class="full-card" layout="column" ng-if="analyticsStockCtrl.shouldShowdatatable">
    <md-card-title>
      <md-card-title-text layout="row" layout-align="space-between start">
        <h2 class="md-title" > {{analyticsStockCtrl.reportTitle}}</h2>
        <form action={{analyticsStockCtrl.exportDataUrl}} method='POST' ng-submit='analyticsStockCtrl.getExportData()'>
          <input name='data' value='{{analyticsStockCtrl.exportData}}' type='hidden'/>
            <div class="align-action-top" ng-if="analyticsStockCtrl.shouldShowActions">
              <dropdown-actions actions-list="analyticsStockCtrl.actions" on-actions="analyticsStockCtrl.onActions(item)"> </dropdown-actions>
            </div>
            <button id="postData" class="btn-form-analytics" ng-click=""></button>
        </form>
      </md-card-title-text>
    </md-card-title>

    <md-table-container layout-fill flex>
      <table md-table md-row-select multiple ng-model="analyticsStockCtrl.linesSelected">
        <thead md-head md-order="analyticsStockCtrl.query.order">
         <tr md-row>
          <th md-column ng-repeat="col in analyticsStockCtrl.tableData.header" md-order-by="{{col.key}}" ng-if="!col.isHidden">
            <span>{{col.text}}</span>
          </th>
        </tr>
      </thead>
      <tbody md-body>
         <tr md-row md-select="row" md-select-id="id" md-auto-select ng-repeat="row in analyticsStockCtrl.tableData.body | orderObj:analyticsStockCtrl.query.order:'value' track by $index">
           <td md-cell ng-repeat="col in row" ng-switch="col.fieldType" ng-if="!col.isHidden">
            <span ng-switch-when="date">{{col.value | datelocale}}</span>
            <span ng-switch-when="currency">{{col.value | currency}}</span>
            <span ng-switch-when="number">{{col.value | currency:true:0}}</span>
            <span ng-switch-when="percent">{{col.value | percent}}</span>
            <span ng-switch-default>{{col.value}}</span>
          </td>
        </tr>
      </tbody>
      </table>
    </md-table-container>
    <!-- <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->
  </md-card>

</div>
</div>