<div class='modifier-item'>
  <card-item
        ng-attr-data-id="{{modifierItemCtrl.modifier.id}}"
        has-actions="true"
        item="modifierItemCtrl.modifier"
        selected="modifierItemCtrl.modifier.$selected"
        deleted="modifierItemCtrl.modifier.$deleted"
        sv-element="modifierItemCtrl.modifier">
      <card-item-title>
        {{modifierItemCtrl.modifier.id +" -- " | debug}}{{ modifierItemCtrl.modifier.name}}
         <div sv-root="modifier" class='modifier-title-dropzone'>
           <div class='sv-dropzone sv-dropzone-modifier' 
                sv-part="modifierItemCtrl.newModifiers" 
                sv-on-external-sort="modifierItemCtrl.onNewModifierMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
            <div sv-placeholder></div>
           </div>
         </div>
      </card-item-title>
      <modifier-chips ng-if="modifierItemCtrl.modifier.modifiers.length" 
                      modifiers="modifierItemCtrl.modifier.modifiers" 
                      parent="modifierItemCtrl.modifier"></modifier-chips>

      <div class='size-wrapper' ng-if="modifierItemCtrl.modifier.items.length">
        <card-item-child ng-repeat="option in modifierItemCtrl.modifier.items" 
                          modifier="modifierItemCtrl.modifier" 
                          option="option"></card-item-child>
      </div>

      <card-item-actions on-clone="modifierItemCtrl.cloneModifier()"
                         on-delete="modifierItemCtrl.deleteModifier()"
                         on-edit="modifierItemCtrl.onEdit()"></card-item-actions>
    </card-item>
</div>