@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pd-"], [class*=" pd-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*THESE UNICODES ARE USED ELSEWHERE AND SHOULD NOT BE CHANGED!*/

.pd-copy:before {
	content: "\e605";
}
.pd-edit:before {
	content: "\e600";
}
.pd-upload:before{
  content: "^";
}
.pd-up:before {
	content: "\e601";
}
.pd-down:before {
	content: "\e602";
}
.pd-add:before {
	content: "\e606";
}
.pd-delete:before {
	content: "\e603";
}
.pd-move:before {
	content: "\e604";
}
