<div class='menu-item ng-enter'>
  <card-item has-actions="menuItemCtrl.hasActions"
              selected="menuItemCtrl.item.$selected"
              deleted="menuItemCtrl.item.$deleted">
    <card-item-title
                    sv-root="modifier"
                    has-visible="true"
                    show-visible="!menuItemCtrl.item.visible"
                    ng-attr-data-id="{{menuItemCtrl.item.id}}">
                    <span class='name' flex>{{menuItemCtrl.item.id + "--" + menuItemCtrl.item.position + "--" | debug}} {{menuItemCtrl.item.name}} </span>
                    <span ng-if="menuItemCtrl.item.price === 0 && menuItemCtrl.modifiers.length" class='price from'> (from {{menuItemCtrl.item.getFromPrice() | currency}})</span>
                    <span class='price'> {{menuItemCtrl.item.price | currency}}</span>
                    <div class='sv-dropzone sv-dropzone-modifier' sv-part="menuItemCtrl.newModifiers" sv-on-external-sort="menuItemCtrl.onNewModifierMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
                      <div sv-placeholder></div>
                    </div>
                    </card-item-title>

    <modifier-chips
        ng-if="menuItemCtrl.modifiers.length"
        modifiers="menuItemCtrl.modifiers"
        on-modifier-removed="menuItemCtrl.onModifierRemoved(modifier)"
        item="menuItemCtrl.item"></modifier-chips>

    <div class='size-wrapper'
          ng-if="!(menuItemCtrl.item.$size.$isMultiple === false) && menuItemCtrl.item.$size.items.length">
      <card-item-child
          ng-repeat="size in menuItemCtrl.item.$size.items"
          modifier="menuItemCtrl.item.$size"
          sv-disabled="true"
          sv-is-dropzone-disabled="true"
          option="size"></card-item-child>
    </div>

    <card-item-actions ng-if="menuItemCtrl.hasActions"
                       is-visible="menuItemCtrl.item.visible"
                       on-clone="menuItemCtrl.onClone()"
                       on-delete="menuItemCtrl.onDelete()"
                       on-edit="menuItemCtrl.onEdit()"
                       on-visibility="menuItemCtrl.onVisibility(newStatus)"></card-item-actions>
  </card-item>
</div>