$heightMenuItemCard:48px;

.menu-item {
  margin: 0px 22px 8px;

  .card-item {
    margin:0;

      .hidden-card-actions{
        align-items: flex-start;
        padding-top: 6px;
      }

    .card-title{
      max-height: $heightMenuItemCard;
      min-height: auto;
      padding:10px 14px;

      .price {
        float: right;
        padding-top: 6px;
      }

      .name, .price{
        font-size:13px;
      }
    }

    .size-wrapper{
      padding-bottom: 5px;
    }
    &.card-item-new{
      margin-bottom: 32px;
      max-height: 48px;
      min-height:$heightMenuItemCard;
    }
  }
}
