$heightMenuItemCard:48px;

.menu-item {
  margin: 8px;
  position: relative;
    // transition:all 0.8s linear;

  .card-item {
    margin:0;

      .hidden-card-actions{
        align-items: flex-start;
        padding-top: 6px;
      }

    .card-title{
      max-height: $heightMenuItemCard;
      min-height: auto;
      padding:0 14px;

      .price {
        padding-top:2px;
        float: right;
      }

      .name, .price{
        font-size:13px;
      }
    }

    .size-wrapper{
      padding-bottom: 5px;
    }
    &.card-item-new{
      margin:0 0 32px 0;
      max-height: 48px;
      min-height:$heightMenuItemCard;
    }
  }

}



.menu-section {
  .menu-item{
    margin: 0px 22px 8px;

      &.menu-item-new{
        transition:all 0.8s linear;
        margin-bottom:38px;
      }
  }

}

