 <md-sidenav md-disable-backdrop class="md-sidenav-right contextual-drawer md-whiteframe-4dp" md-component-id="items">
    <div sv-root="item">
      <div class='sv-dropzone sv-dropzone-item' sv-part="drawerItemsCtrl.cancelledItems" sv-on-sort="drawerItemsCtrl.onNewItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
        <div sv-placeholder></div>
      </div>
    </div>

    <div class='contextual-list' ng-class="::{empty:!drawerItemsCtrl.data.items || !drawerItemsCtrl.data.items.length}">

      <div class='menu-item-list'>
        <div class='sv-root-holder' sv-root='item'>

          <card-item-list
                collection="::drawerItemsCtrl.data.items"
                search-filter="drawerItemsCtrl.searchText"
                search-label="items">
                <div class='sort-holder'
                  sv-part="::drawerItemsCtrl.data.items"
                  sv-part-origin="::drawerItemsCtrl.data.items"
                  sv-multi-select='true'
                  sv-keep-in-list='true'
                  sv-is-dropzone='false'>

                  <menu-item
                     ng-repeat="item in ::drawerItemsCtrl.data.items | orderBy: 'id' track by item.id"
                     ng-show="drawerItemsCtrl.isInFilter(item, drawerItemsCtrl.searchText.name)"
                     ng-attr-data-id="{{ ::item.id }}"
                     item="item"
                     has-actions="false"
                     sv-element="item">
                  </menu-item>
                  <div sv-placeholder></div>
                </div>
          </card-item-list>

        </div>
      </div>

      <div class='contextual-empty'>
        <img src='/images/emptydrawer.png'>
        <div class='header' translate> This drawer is empty </div>
        <div class='content'> <span class='fake-link' ng-click="drawerItemsCtrl.navigateToPage()">Click here</span> to create some items first </div>
      </div>
    </div>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="drawerItemsCtrl.close()" class='md-raised' translate>
          Done
      </md-button>
    </md-card-actions>
</md-sidenav>