<div class='signin'>
  <form name='signin' ng-submit='vm.doSignin()' novalidate>
    <md-input-container class="md-block">
      <label>Username</label>
      <input type="email" autocomplete="email" required name="username" ng-model="vm.user.username">
      <div ng-messages="projectForm.username.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Password</label>
      <input type="password" autocomplete="password" required name="password" ng-model="vm.user.password">
      <div ng-messages="projectForm.password.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-button type='submit'>Sign In</md-button>
  </form>
</div>
