<md-radio-group ng-init="radioChoice='text'" class='size' ng-model="radioChoice">
  <md-radio-button value="text" class="md-primary md-hue-2">{{'Text' | translate}}</md-radio-button>
  <md-radio-button value="image" class="md-primary md-hue-2"> {{'Image' | translate}} </md-radio-button>
</md-radio-group>
<md-input-container class='venue-name' ng-show="radioChoice==='text'" >
    <label translate>Venue name</label>
    <input flex name="search" ng-model="model.bannerText">
</md-input-container>
<div ng-show="radioChoice==='text'" md-color-picker
     label="{{'Choose a colour' | translate}}"
     ng-model="model.textColour"
     md-color-alpha-channel="false"
     md-color-history="false"
     md-color-material-palette="false"
     md-color-generic-palette="false"
     md-color-sliders="false"
      ></div>
  <image-uploader on-change="onChange('logoImage', image)" dimensions="270 x 104 px" ng-show="radioChoice==='image'" ng-model="model.$images.logoImage"></image-uploader>