<div md-color-picker class="double-picker"
  label="{{'Choose button colour' | translate}}"
  ng-model="model.colors.buttonColour"
  md-color-alpha-channel="false"
  md-color-history="false"
  md-color-material-palette="false"
  md-color-generic-palette="false"
  md-color-sliders="false"
></div>

<div md-color-picker class="double-picker"
  label="{{'Choose button text colour' | translate}}"
  ng-model="model.colors.buttonTextColour"
  md-color-alpha-channel="false"
  md-color-history="false"
  md-color-material-palette="false"
  md-color-generic-palette="false"
  md-color-sliders="false"
></div>