
.doughnut-chart-view {
	md-card-title {
		padding: 20px;
	}

	md-card-content {
		padding: 0px 24px 24px 24px;
	}	

	.main-content-full {
		flex-flow: row wrap;

		md-card {
			&.full-card {
				flex: 1 100%;
			}
		}
	}

	.canvas-holder{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
}
.canvas-title{
	width: 97px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 30px;
}

.canvas-chart{
	width: 100%;
}

.bar-chart{
	width: 100%
}

	canvas{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

#chartjs-tooltip {
			opacity: 1;
			position: absolute;
			background: rgba(255, 255, 255, 1);
			border: 2px solid #d1d1d1;
			color: black;
			border-radius: 3px;
			-webkit-transition: all .1s ease;
			transition: all .1s ease;
			pointer-events: none;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			min-width: 122px;		
}

#chartjs-tooltip.below {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#chartjs-tooltip.above:before , #chartjs-tooltip.above:after {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#chartjs-tooltip.above {
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

#chartjs-tooltip.above:after{
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 9px;
	margin-left: -9px;
}

#chartjs-tooltip.above:before {
  border-color: rgba(209, 209, 209, 0);
	border-top-color: #d1d1d1;
	border-width: 13px;
	margin-left: -13px;
}


.chart-legend {
  margin-top: 40px;
}

.chart-legend li {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}

.chart-legend li span {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  top: 4px;
  margin-right: 8px;
  border-radius: 50%;
}