@import "../../../shared/styles/variables";

#webappv2 {
	.signup{
		.preoday-logo {
			margin: 80px auto 40px !important;
		}

		.md-title {
			line-height: 1.2;
		}

		.privacy-and-terms {
			font-size: 13px;
			line-height: 1.38;
			color: rgba(0, 0, 0, 0.38);
			text-align: center;
			max-width: 184px;
			margin: 8px auto 12px;

			a {
				color: #207dbf;
				font-size: 13px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		md-checkbox {
			.md-label, 
			.md-label span {
				font-size: 13px;
			}
		}

		md-input-container {
			&.checkbox-group {
				margin-bottom: 0;
				margin-top: 33px;

				.checkbox-label {
					font-size: 13px;
					font-weight: 500;
					margin-bottom: 13px;
				}
			}
		}
	}
}
