<div class="signup">

  <h1 class="logo"></h1>

  <form name='signupCtrl.signupForm' ng-submit='signupCtrl.doSignup()' novalidate>
    <div class='md-title' translate>Please confirm your details and set a password.</div>
    <md-input-container class="md-block">
      <label translate>Name</label>
      <input type="text" autocomplete="name" required name="name" ng-model="signupCtrl.user.name">
      <div ng-messages="signupCtrl.signupForm.name.$error">
        <div ng-message="required">{{'This is required.' | translate}}</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>Email address</label>
      <input type="email" autocomplete="email" required name="username" ng-model="signupCtrl.user.username">
      <div ng-messages="signupCtrl.signupForm.username.$error">
        <div ng-message="required">{{'This is required.' | translate}}</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>Password</label>
      <input type="password" autocomplete="password" required name="password" ng-model="signupCtrl.user.password">
      <div ng-messages="signupCtrl.signupForm.password.$error">
        <div ng-message="required">{{'This is required.' | translate}}</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block input-label md-block-split-time checkbox-group">
      <div class='checkbox-label' translate>Please contact me about the following:</div>
      <md-checkbox
        aria-label="{{'Marketing newsletters' | translate}}"
        ng-model="signupCtrl.user.optinMarketing"
        ng-true-value="1"
        ng-false-value="0">
        {{'Marketing newsletters' | translate}}
      </md-checkbox>
      <md-checkbox
        aria-label="{{'Product updates' | translate}}"
        ng-model="signupCtrl.user.optinProduct"
        ng-true-value="1"
        ng-false-value="0">
        {{'Product updates' | translate}}
      </md-checkbox>
      <md-checkbox
        aria-label="{{'Support updates' | translate}}"
        ng-model="signupCtrl.user.optinSupport"
        ng-true-value="1"
        ng-false-value="0">
        {{'Support updates' | translate}}
      </md-checkbox>
      <md-checkbox
        aria-label="{{'GDPR information' | translate}}"
        ng-model="signupCtrl.user.optinGdpr"
        ng-true-value="1"
        ng-false-value="0">
        {{'GDPR information' | translate}}
      </md-checkbox>
    </md-input-container>
    <md-button  type='submit' class='md-raised md-block signin-button'>
        {{ 'Sign Up' | translate}}
    </md-button>

    <div class="privacy-and-terms">
      {{ 'By continuing, you accept the' | translate }} <a href="http://api.preoday.com/terms/terms.html" target="_blank">{{ 'Terms of use' | translate }}</a> {{ 'and' | translate }} <a href="http://api.preoday.com/terms/privacy.html" target="_blank">{{ 'Privacy Policy' | translate }}</a>
    </div>

    <md-button type="button" ng-click="signupCtrl.redirectSignIn()" class="md-primary">{{ 'I already have an account' | translate}}</md-button>
  </form>

</div>
