
@import "client/app/shared/styles/variables";

$placeholderWidth: 250px;

$placeholderTextFontSize: 13px;
$placeholderTextMarginTop: 14px;

$placeholderLinkMarginTop: 47px;

.customers-placeholder {
	flex: 1;
	text-align: center;
	max-width: $placeholderWidth;
	margin: 0 auto;
	padding-top: 8.375rem;

	&__text {
		font-size: $placeholderTextFontSize;
		line-height: 1.23;
		color: $greyDefault;
		margin-top: $placeholderTextMarginTop;
	}

	&__link {
		margin-top: $placeholderLinkMarginTop !important;
	}
}