 <div class="sidenav-wrapper">
  <md-sidenav md-is-locked-open="true" md-disable-backdrop class="md-sidenav-right contextual-drawer contextual-drawer-venue-details md-whiteframe-4dp" md-component-id="venueDetails">
      <md-card-content>
     <form name="drawerVenueDetailsCtrl.venueDetailsForm" ng-submit="drawerVenueDetailsCtrl.submit()" novalidate>
       
            <div class='contextual-list'>  
                 <md-input-container class="md-block no-spacer">
                    <label translate>Venue name</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate()" type="text" required name="venueName" ng-model="drawerVenueDetailsCtrl.venue.name" ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.venueName.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueName.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Description</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate()"  type="text" required name="description" ng-model="drawerVenueDetailsCtrl.venue.description"  ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.description.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.description.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Address line 1</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate(true)"  type="text" required name="venueAddress1" ng-model="drawerVenueDetailsCtrl.venue.address1"  ng-maxlength="256">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.venueAddress1.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueAddress1.$error.maxlength}">Max length is 256.</div>
                      <div ng-message="required" translate>This is required.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Address line 2</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate(true)"  type="text" name="venueAddress2" ng-model="drawerVenueDetailsCtrl.venue.address2"  ng-maxlength="256">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.venueAddress2.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueAddress2.$error.maxlength}">Max length is 256.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Address line 3</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate(true)"  type="text" name="venueAddress3" ng-model="drawerVenueDetailsCtrl.venue.address3"  ng-maxlength="256">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.venueAddress3.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueAddress3.$error.maxlength}">Max length is 256.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Town/City</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate(true)"  type="text" required name="city" ng-model="drawerVenueDetailsCtrl.venue.city"  ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.city.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.city.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Postcode/ZIP</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate()"  type="text" required name="postcode" ng-model="drawerVenueDetailsCtrl.venue.postcode"  ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.postcode.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.postcode.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Phone number</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate()"  type="text" required name="phone" ng-model="drawerVenueDetailsCtrl.venue.settings.deliveryPhone"  ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.phone.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.phone.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Email Address</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="drawerVenueDetailsCtrl.debounceUpdate()"  type="email" name="venueEmail" ng-model="drawerVenueDetailsCtrl.venue.notificationEmailAddress"  ng-maxlength="100">
                    <div ng-messages="drawerVenueDetailsCtrl.venueDetailsForm.venueEmail.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueEmail.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="email" translate ng-class="{'activated': drawerVenueDetailsCtrl.venueDetailsForm.venueEmail.$error.email}">Invalid email</div>
                    </div>
                </md-input-container>
              
            </div>
          <auto-save is-saving="drawerVenueDetailsCtrl.isSaving" is-error="drawerVenueDetailsCtrl.isError" retry="drawerVenueDetailsCtrl.debounceUpdate()"></auto-save>
        </form>
        </md-card-content>
    <div class='map-overlay-drawing'></div>
  </md-sidenav>
</div>