.billing-info{
  md-card{
    padding: 0 8px 8px;
  }
  .header{
    min-width:144px;
    font-size: 16px;
    color: #424242;
    line-height: 16px;
  }
  .content{
    font-size: 16px;
    color: #757575;
    line-height: 16px;
  }
  .content-form{
    margin-top:12px;
  }
}