$dayBorderRadius: 2px;

.opening-hour {
	&.with-icon {
		.clear-icon {
			margin-right: 1px;
			cursor: pointer;
		}

		.days-content {
			margin-right: 0px;
		}

		.md-block-timepicker {
			mdp-time-picker {
				.md-button {
					&.md-icon-button {
						margin-left: -4px;
					}
				}
			}
		}
	}

	.days-content {
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: row;
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26), 0px 0px 2px 0px rgba(0,0,0,0.16);
		border-radius: $dayBorderRadius;
		margin-right: 3%;

		.day {
			font-size: 14px;
			color: #757575;
			font-weight: 500;
			background-color: #f5f5f5;
			text-align: center;
			min-width: 60px;
			height: 37px;
			line-height: 37px;
			padding: 0 12px;
			text-transform: uppercase;
			cursor: pointer;
			border-right: 1px solid #cccccc;

			&.selected {
				background-color: #e1f5fe;
			}

			&:first-child {
				border-top-left-radius: $dayBorderRadius;
				border-bottom-left-radius: $dayBorderRadius;
			}

			&:last-child {
				border-right: 0px;
				border-top-right-radius: $dayBorderRadius;
				border-bottom-right-radius: $dayBorderRadius;
			}
		}
	}

	.content-opening-time {
		display: inline-flex;
	}

	.md-block-timepicker {
		display: inline-flex;
		flex-direction: column;

		input {
			width: 70px;
		}

		.preo-ng-messages {
			margin-top: -10px;
			margin-left: 11px;
		}

		mdp-time-picker {
			.md-button {
				&.md-icon-button {
					margin-top: 0px;
				}
			}

			md-input-container {
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}
}