<div class='image-uploader'>
  <div class='image-wrapper placeholder' ng-if="!imageUploaderCtrl.ngModel.length || !imageUploaderCtrl.ngModel[0].$image">
  </div>
  <div class='image-wrapper' ng-if="imageUploaderCtrl.ngModel.length && imageUploaderCtrl.ngModel[0].$image">
   <img ng-src='{{imageUploaderCtrl.ngModel[0].$image}}' onerror="this.parentElement.className += ' not-found'";>
   <div class='image-not-found'>
        <icon>not_interested</icon>
        <span translate>Image not found</span>
   </div>
   <icon class='delete-icon' ng-click="imageUploaderCtrl.deleteImage($event)">delete</icon>
  </div>
  <div class='upload-specs'>
    <icon>info</icon>
    <span class='text' translate>Upload specs</span>
      <md-tooltip md-direction="bottom">
        {{'Dimensions' | translate}}: {{imageUploaderCtrl.dimensions}} <br/>
        {{'Max file size' | translate}}: 5mb <br/>
        {{'File type' | translate}}: jpg, png
      </md-tooltip>
  </div>
  <label class="import-file" for='imagefile'>
    <input type="file" class="imagefile" name='imagefile' custom-on-change="imageUploaderCtrl.fileChange($event)">
    <md-button ng-click="imageUploaderCtrl.target()" class="md-fab md-mini md-primary" aria-label="{{'Add Section' | translate}}">
      <icon>add</icon>
    </md-button>
    <!-- <div class='target'></div> -->
  </label>
</div>
