<div class='menu-item-list'>
  <div class='sv-root-holder'
    sv-root='item'
    sv-disabled="menuItemListCtrl.svDisabled">

    <card-item-list
          collection="menuItemListCtrl.items"
          search-filter="menuItemListCtrl.searchText"
          search-label="{{menuItemListCtrl.hasSearch ? 'items' : ''}}">
          <div class='sort-holder'
            sv-part="menuItemListCtrl.items"
            sv-part-origin="menuItemListCtrl.items"
            sv-multi-select='menuItemListCtrl.svMultiSelect'
            sv-keep-in-list='menuItemListCtrl.svKeepInList'
            sv-on-external-sort="menuItemListCtrl.onExternalItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)"
            sv-is-dropzone='menuItemListCtrl.svIsDropzone'
            sv-is-dropzone-disabled='menuItemListCtrl.svIsDropzoneDisabled'>

            <menu-item
               ng-repeat="item in menuItemListCtrl.items | orderBy: 'id' track by item.id"
               ng-show="menuItemListCtrl.isInFilter(item, menuItemListCtrl.searchText.name)"
               item="item"
               has-actions="hasActions"
               ng-attr-data-id="{{item.id}}"
               sv-element="item"
               on-clone="menuItemListCtrl.onClone(item, sectionId)"
               fa-parent-suspendable>
            </menu-item>
            <div sv-placeholder></div>
          </div>
    </card-item-list>

  </div>

  <menu-item-type-new ng-if="menuItemListCtrl.hasNew" on-click="menuItemListCtrl.showCreateItem($event, type)"></menu-item-type-new>
</div>
