<div class='menu-item-list'>
  <div class='sv-root-holder'
    sv-root='item'
    sv-disabled="menuItemListCtrl.svDisabled">

    <card-item-list
          collection="menuItemListCtrl.items"
          collection-results="results"
          search-filter="menuItemListCtrl.searchText"
          has-new="menuItemListCtrl.hasNew"
          tooltip="{{ 'Add item' | translate }}"
          on-click-new="menuItemListCtrl.showCreateItem()"        
          search-label="{{menuItemListCtrl.hasSearch ? 'items' : ''}}">
          <div class='sort-holder'
            sv-part="results"
            sv-part-origin="menuItemListCtrl.items"
            sv-multi-select='menuItemListCtrl.svMultiSelect'
            sv-keep-in-list='menuItemListCtrl.svKeepInList'
            sv-on-external-sort="menuItemListCtrl.onExternalItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)"
            sv-is-dropzone='menuItemListCtrl.svIsDropzone'
            sv-is-dropzone-disabled='menuItemListCtrl.svIsDropzoneDisabled'>

             <menu-item
                 ng-repeat="item in menuItemListCtrl.items | orderBy: 'id' | filter:{'name': menuItemListCtrl.searchText.name} as results track by item.id"
                 item="item"
                 has-actions="hasActions"
                 ng-attr-data-id="{{item.id}}"
                 sv-element="item"
                 on-clone="menuItemListCtrl.onClone(item, sectionId)">
               </menu-item>
               <div sv-placeholder></div>
           </div>
    </card-item-list>
    
  </div>
</div>
