<div class='menu-item-list'>
  <div class='sv-root-holder'
    sv-root='item'
    sv-disabled="vm.svDisabled"
    sv-on-sort="vm.onItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
  <card-item-list
        collection="vm.itemsDisplayed"
        collection-results="results"
        search-filter="vm.searchText"
        search-label="{{vm.hasSearch ? 'items' : ''}}">
        <div class='sort-holder'
          sv-part="results"
          sv-multi-select='vm.svMultiSelect'
          sv-keep-in-list='vm.svKeepInList'
          sv-on-external-sort="vm.onExternalItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)"
          sv-is-dropzone='vm.svIsDropzone'>
           <menu-item
               ng-repeat="item in vm.itemsDisplayed | filter:vm.searchText:strict as results"
               ng-init="$last && vm.recalculateHeight()"
               item="item"
               ng-attr-data-id="{{item.id}}"
               sv-element="item"
               section-id="vm.section && vm.section.id"
               on-item-created="vm.onItemCreated(item)"
               on-item-updated="vm.onItemUpdated(item)"
               on-item-deleted="vm.onItemDeleted(item)">
             </menu-item>
             <div sv-placeholder></div>
         </div>
  </card-item-list>
  </div>
  <menu-item-new ng-if="vm.hasNew" section="vm.section" on-click="vm.showCreateItem($event,isImport)"></menu-item-new>
</div>
