<div class='modifier-list'>
  <div class='sv-root-holder'
    sv-root='modifier'
    sv-disabled="modifierListCtrl.svDisabled"
    sv-on-sort="modifierListCtrl.onItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
  <card-item-list
        collection="modifierListCtrl.modifiers"
        has-new="modifierListCtrl.hasNew"
        tooltip="{{'Add modifier' | translate}}"
        on-click-new="modifierListCtrl.onClickNew()"
        search-filter="modifierListCtrl.searchText"
        search-label="{{modifierListCtrl.hasSearch ? 'modifiers' : ''}}">
        <div class='sort-holder'
          sv-part="modifierListCtrl.modifiers"
          sv-part-origin="modifierListCtrl.modifiers"
          sv-multi-select='modifierListCtrl.svMultiSelect'
          sv-keep-in-list='modifierListCtrl.svKeepInList'
          sv-on-external-sort="modifierListCtrl.onExternalItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)"
          sv-is-dropzone='false'>
           <modifier-item
               ng-repeat="modifier in modifierListCtrl.modifiers | orderBy:'id' track by $index"
               ng-show="modifierListCtrl.isInFilter(modifier, modifierListCtrl.searchText.name)"
               modifier="modifier"
               ng-attr-data-id="{{ modifier.id }}"
               sv-element="modifier"
               section-id="modifierListCtrl.section && modifierListCtrl.section.id"
               on-item-created="modifierListCtrl.onItemCreated(modifier)"
               on-item-updated="modifierListCtrl.onItemUpdated(item)"
               on-item-deleted="modifierListCtrl.onItemDeleted(modifier)"
               fa-parent-suspendable>
             </modifier-item>
             <div sv-placeholder></div>
         </div>
  </card-item-list>
  </div>
</div>
