<div class="container-fluid" id="container-search">
	<div class="container">

			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
			    <select name="" id="">
			    	<option value="">Option 1</option>
			    	<option value="">Option 2</option>
			    </select>
			  </div>
			  <button type="submit" class="btn btn-default">Update</button>
			</form>		

			<form class="navbar-form navbar-right" role="search">
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="01/01/2014">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="01/02/2014">
			  </div>
			  <button type="submit" class="btn btn-default">Update</button>
			</form>		
		</div>
	</div>
</div>

<div class="container" id="content-list">
	
	<div class="header-list overflow">			
		<span class="pull-left">Customers</span>

		<a href="javascript:void(0)" class="pull-right" >
			<i class="fa fa-plus"></i>
		</a>
	</div>

	<div id="content-table">
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>[]</th>
		  		<th>Name</th>
		  		<th>Total Spent</th>
		  		<th>Email addres</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="customer in customers">
		  		<td><input type="checkbox" name="" id=""></td>
		  		<td>{{ customer.name }}</td>
		  		<td>{{ customer.spent }}</td>
		  		<td>{{ customer.email }}</td>
		  	</tr>
		  </tbody>
		</table>		
	</div>

</div>