<div class="container-fluid" id="container-search">
	<div class="container">

			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
			    <select name="" id="">
			    	<option value="">Option 1</option>
			    	<option value="">Option 2</option>
			    </select>
			  </div>
			  <button type="submit" class="btn btn-default">Update</button>
			</form>		

			<form class="navbar-form navbar-right" role="search">
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="01/01/2014">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="01/02/2014">
			  </div>
			  <button type="submit" class="btn btn-default">Update</button>
			</form>		
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container">
		<div id="filterDashboard">
			<ul>
				<li ng-repeat="value in values">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> {{ value.title }}
				    </label>
				  </div>
				</li>
			</ul>
		</div>


		<div id="dashboard">
			
		  	<div class="gridster">
		      <!-- Define gridster directives -->
		      <ul gridster="gridsterOptions" id="ul-widgets">
		        <li gridster-repeat="value in values" gridster-layout="values" class="widget">

		        	<chart element="value"></chart>

		        </li>
		      </ul>

		    </div>			

		</div>		
	</div>
</div>