<div flex layout="row" class="custom-date-picker">
  <div flex layout="row" class="inputs-dates">
    <md-input-container md-no-float flex class="no-spacer">
      <label translate>From</label>
      <input type="text" ng-keydown="onKeyDown($event)" ng-keyup="onKeyUp($event)" placeholder= "{{dayOnMouseOver}}" id="fromDate" ng-focus="onEnterinputs($event)" ng-blur="onBlurinputs($event)" ng-model="inputDateFrom"  maxlength="10">
    </md-input-container>  
    
    <md-card md-autofocus id="calendarPicker" class="calendar-picker" layout="column" ng-show="shouldShowCalendar">
      <md-card-content layout="row">
      <div id="wrapperCalendar"></div>
      </md-card-content>
    </md-card>
  
    <md-input-container md-no-float flex class="no-spacer" ng-if="isRangeMode">
      <label translate>Until</label>
      <input type="text" ng-keydown="onKeyDown($event)" ng-keyup="onKeyUp($event)" placeholder= "{{dayOnMouseOver}}" id="endDate" ng-focus="onEnterinputs($event)" ng-blur="onBlurinputs($event)" ng-model="inputDateEnd"  maxlength="10">
    </md-input-container>
  </div>

  <div id="trapDiv" class="trap-div" tabindex="0" ng-click="clickTrapDiv($event)" ng-show="shouldShowCalendar">
  </div>
</div>