.custom-date-picker{
	width: 100%;
	.trap-div{
		height: 100%;
		width: 100%;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
	}

	.inputs-dates{	
		position: relative;

		md-input-container{
			width: 100%;
			margin: 0;
			margin-left: 15px;
			min-width: 98px;

			input{
				left: 0;
				height: 48px;
				padding-left: 2px !important;		
			}

			&.with-icon {
				padding-left: 0px;
			}

			label{
				top: 0;
			}

		}

		.calendar-picker{		
			top: auto;
			position: absolute;
			background-color: white;
			margin-top: 60px;
			right: 0;
			z-index: 4;
			box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);		

			header {
				font-weight: bold;
				font-size: 12px;

				//Simulate md-icon-button to use with button element. Cant use md-button inside mighty-datepicker template
				.md-icon-button{
					margin: 0 6px;
					height: 40px;
					min-width: 0;
					line-height: 24px;
					padding: 8px;
					width: 40px;
					border-radius: 50%;
				}
			}

			//Simulate md-button, cant use md-button inside mighty-datepicker template
			button {
				border-radius: 3px;
				box-sizing: border-box;
				color: currentColor;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				position: relative;
				outline: 0;
				border: 0;

				display: inline-block;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				padding: 0 6px;

				line-height: 36px;
				min-height: 36px;
				background: 0 0;
				white-space: nowrap;
				min-width: 88px;
				text-align: center;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 14px;
				font-style: inherit;
				font-variant: inherit;
				font-family: inherit;
				text-decoration: none;
				cursor: pointer;
				overflow: hidden;
				transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1)
			}

			.week {
				.day {
					width: 32px;
					height: 32px;
					line-height: 32px;
					margin: 0;
					padding: 0;
					min-width: 0;
					min-height: 0;
					box-shadow: none !important;
				}

				&.names {
					font-size: .75rem;
					opacity: .6;
					width: 100%;
					user-select: none;

					.day {
						background-color: transparent !important;
						text-align: center;
					}
				}

				&.days {
					.day {
						cursor: pointer;
						border-radius: 50%;
						font-size: 12px;
						font-weight: bold;
						color: rgba(0,0,0,0.87);
						background-color: rgb(255,255,255);


						&:hover {
							background-color: rgba(158,158,158,0.2) !important;
							color: black !important;
						}

						&.differentmonth {
							color: rgba(0,0,0,0.5);
							font-weight: normal;
						}

						&.today {
							background-color: rgba(158,158,158,0.2) !important;
						}

						&.selected {
							background-color: rgba(2, 136, 209, 1);
							color: #fff !important;

							&:disabled {
								background-color: rgba(0,0,0,0.3) !important;
							}
						}

						&.inrange{
							background-color: rgba(2, 136, 209, 0.2);
							color: #727272;
						}

						&:disabled {
							cursor: not-allowed;
						}
					}
				}
			}
		}

	}
}
