<div flex layout="row" class="custom-date-picker">
  <div flex layout="row" class="inputs-dates">
    <md-input-container md-no-float flex class="no-spacer">
      <label translate>From</label>
      <input type="text" ng-keydown="vm.onKeyDown($event)" ng-keyup="vm.onKeyUp($event)" id="fromDate" ng-focus="vm.onEnterinputs($event)" ng-blur="vm.onBlurinputs($event)" ng-model="vm.inputDateFrom"  maxlength="10">
    </md-input-container>  
    
    <md-card md-autofocus id="calendarPicker" class="calendar-picker" layout="column" ng-show="vm.shouldShowCalendar">
      <md-card-content layout="row">
        <mighty-datepicker ng-model="vm.calendarDateFrom" range-from="true" options="vm.optionsStartDate" before="vm.calendarDateEnd"">
        </mighty-datepicker>
        <mighty-datepicker ng-model="vm.calendarDateEnd" range-to="true" options="vm.optionsEndDate" after="vm.calendarDateFrom">
        </mighty-datepicker>
      </md-card-content>
    </md-card>
  
    <md-input-container md-no-float flex class="no-spacer">
      <label translate>Until</label>
      <input type="text" ng-keydown="vm.onKeyDown($event)" ng-keyup="vm.onKeyUp($event)" id="endDate" ng-focus="vm.onEnterinputs($event)" ng-blur="vm.onBlurinputs($event)" ng-model="vm.inputDateEnd"  maxlength="10">
    </md-input-container>
  </div>

  <div id="trapDiv" class="trap-div" tabindex="0" ng-click="vm.clickTrapDiv($event)" ng-show="vm.shouldShowCalendar">
  </div>
</div>