$heightMenuItemCard:48px;

.menu-item {
  margin: 0px 22px 8px;

  .card-item {
    margin:0;
    max-height: 48px;

    &.expanded{
      .hidden-card-actions{
        align-items: flex-start;
        padding-top: 6px;
      }
    }
    .card-title{
      max-height: $heightMenuItemCard;
      min-height: auto;

      .price {
        float: right;
        padding-top: 6px;
      }

      .name, .price{
        font-size:13px;
      }
    }
    &.card-item-new{
      margin-bottom: 32px;
      min-height:$heightMenuItemCard;
    }
  }
}

.image-holder{
  width: 80%;
  height: 80%;
  min-height: 148px;
  margin:24px auto;
  background: #F5F5F5;
  border: 1px dashed #E0E0E0;
  border-radius: 2px;
  position: relative;

  label{
    display: block;
    position: relative;
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 40px;
    height:40px;
    z-index:21;
    margin:6px 8px;
    padding:0 6px;
    input{
      display: none;
    }
    .target{
      position: absolute;
      width: 50px;
      height: 50px;
      background: red;
      z-index: 22;
      top: 0;
      left: 5px;
      opacity: 0;
      cursor: pointer;
    }

  }


}