@import '../../shared/styles/variables';

.contextual-right-menu {
  margin-top:0;

  md-card-actions{
    border-top:1px solid #E0E0E0;
    background:#F5F5F5;
    margin: 0;
    padding: 16px;
  }

  md-tabs-wrapper{
    background:#F5F5F5;

    md-tab-item{
      span{
        color: #000000;
      }

      &.md-active{
        span{
          color:$colorPrimary;
        }
      }
    }
    md-ink-bar{
      color:$colorPrimary;
      background-color:$colorPrimary;;
    }
  }

  .price {
    md-input-container{
      margin-right:10px;
    }
    color:$colorLight;
  }

  .currency{
    margin-top:-10px;
  }

  .size {
    display: block;
    margin:18px 0;

    md-radio-button{
      display: inline-block;
      span{
        color:$colorLight;
      }
      &+md-radio-button{
        margin-left:24px;
      }
    }
  }

}