@import "../../node_modules/angular-material/angular-material.min.css";
@import "../../node_modules/croppie/croppie.css";
@import "../../node_modules/mdPickers/dist/mdPickers.css";
@import "../../node_modules/angular-material-calendar/dist/angular-material-calendar.css";

@import './shared/styles/variables';
@import './shared/styles/material';
@import './shared/styles/reset';
@import './shared/styles/roboto';
@import './shared/styles/dragndrop';
@import './shared/styles/layout-left-right';
@import './shared/styles/color-picker';
@import './shared/styles/mdPickers';

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


* {
  box-sizing: border-box;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: none;
  }
}

html{
  min-width: $paddedContentWidth;
  overflow-x: auto;
  overflow-y:hidden;
  background: #f5f5f5;
}

body{
  background: #f5f5f5;
  overflow: visible !important;
}


.webapp, .webapp-wrapper {
  height: 100%;
}

.maxHeightScreen{
  height:100vh;
  &.minus-toolbar{
    height: $heightScreen;
  }
}

.fake-link{
  color:$colorPrimary;
  text-decoration: underline;
  cursor: pointer;
}

.ellipsis{
  text-overflow:ellipsis;
  max-width: 90%;
  overflow: hidden;
  white-space:no-wrap;
}

.md-input-container-with-no-float {
  .input-label {
    float: left;
    display: inline-block;
    margin-top: 9px;
    text-align: left;
    width: 40%;
  }

  input {
    display: inline-block;
    width: 30%;
    text-align: center;
  }
}

md-input-container {
  &.md-input-invalid {
    [ng-messages] {
      display: block !important;
    }
  }
}

.view-content {
  overflow: visible !important;
}


@media (max-width: 1280px) {
  @import './shared/styles/responsive/1024-1280';
}

@media (max-width: 1024px) {
  @import './shared/styles/responsive/1024';
}

@media (min-width: 1280px) and (max-width: 1600px) {
  @import './shared/styles/responsive/1280-1600';
}