@import './shared/styles/variables';
@import './shared/styles/material';
@import './shared/styles/reset';
@import './shared/styles/roboto';
@import './shared/styles/dragndrop';


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


* {
  box-sizing: border-box;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: none;
  }
}

html{
  min-width: $paddedContentWidth;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.maxHeightScreen{
  height:100vh;
  &.minus-toolbar{
    height: $heightScreen;
  }
}

.ellipsis{
  text-overflow:ellipsis;
  max-width: 90%;
  overflow: hidden;
  white-space:no-wrap;
}


@media (max-width: 1280px) {
  @import './shared/styles/responsive/1024-1280';
}

@media (max-width: 1024px) {
  @import './shared/styles/responsive/1024';
}

@media (min-width: 1280px) {
  @import './shared/styles/responsive/1280-1600';
}