<div class="seller-details layout-left-right" ng-class="{'with-toolbar': sellerDetailsCtrl.isChannel}">
  <div class="sub-toolbar menu-toolbar" layout="row" layout-align="start center" ng-if="sellerDetailsCtrl.isChannel">
    <publish-venues></publish-venues>
  </div>
  <div class='error' ng-if="sellerDetailsCtrl.showError">
      {{sellerDetailsCtrl.ErrorService.TAXES_ERROR.message}}
  </div>
  <div class='main-content-left'>
    <md-card ng-if="!sellerDetailsCtrl.showError">
      <md-card-title>
        <md-card-title-text>
          <h2 class="md-title" translate> Seller Details </h2>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form name="sellerDetailsCtrl.sellerForm" ng-submit="sellerDetailsCtrl.submit()" novalidate>
            <div class='form-content'>
                <md-input-container class="md-block no-spacer">
                    <label translate>Tax ID</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="sellerDetailsCtrl.debounceUpdate()" type="text" name="taxId" ng-model="sellerDetailsCtrl.taxSettings.taxId" ng-maxlength="100">
                    <div ng-messages="sellerDetailsCtrl.sellerForm.taxId.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': sellerDetailsCtrl.sellerForm.taxId.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Seller Name</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="sellerDetailsCtrl.debounceUpdate()" type="text" name="sellerName" ng-model="sellerDetailsCtrl.taxSettings.sellerName"  ng-maxlength="100">
                    <div ng-messages="sellerDetailsCtrl.sellerForm.sellerName.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': sellerDetailsCtrl.sellerForm.sellerName.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label>{{'Street name & number' | translate}}</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="sellerDetailsCtrl.debounceUpdate()" type="text" name="sellerAddress1" ng-model="sellerDetailsCtrl.taxSettings.sellerAddress1"  ng-maxlength="256">
                    <div ng-messages="sellerDetailsCtrl.sellerForm.sellerAddress1.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': sellerDetailsCtrl.sellerForm.sellerAddress1.$error.maxlength}">Max length is 256.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Town/City</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="sellerDetailsCtrl.debounceUpdate()" type="text" name="city" ng-model="sellerDetailsCtrl.taxSettings.city"  ng-maxlength="100">
                    <div ng-messages="sellerDetailsCtrl.sellerForm.city.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': sellerDetailsCtrl.sellerForm.city.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Postcode/ZIP</label>
                    <input ng-model-options="{updateOn: 'blur'}" ng-change="sellerDetailsCtrl.debounceUpdate()" type="text" name="postcode" ng-model="sellerDetailsCtrl.taxSettings.postcode"  ng-maxlength="100">
                    <div ng-messages="sellerDetailsCtrl.sellerForm.postcode.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': sellerDetailsCtrl.sellerForm.postcode.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
            </div>
            <auto-save is-saving="sellerDetailsCtrl.isSaving" is-error="sellerDetailsCtrl.isError" retry="sellerDetailsCtrl.debounceUpdate()"></auto-save>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <contextual-drawer-entities ng-if="sellerDetailsCtrl.isChannel"
    entities="sellerDetailsCtrl.entities"
    selected="sellerDetailsCtrl.selected"
    callback="sellerDetailsCtrl.onPublish()">
  </contextual-drawer-entities>
</div>
