		<div flex layout="column" class="bar-chart-view">
			<md-card flex layout="column" md-theme="default">
				<md-card-title >
					<md-card-title-text flex layout="row" layout-align="space-between start">
						<h2 class="md-title" translate> {{ barChartCtrl.getCanvasTitle()}}</h2>
						<div class="align-action-top" ng-if="barChartCtrl.shouldShowActions">
							<dropdown-actions actions-list="barChartCtrl.config.actions" on-actions="barChartCtrl.onActions(item)"> </dropdown-actions>
						</div>
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex layout="column">																																								
			<!-- 	<div id="canvas-holder1" class="canvas-holder"> -->
				<!-- <div> -->
					<canvas id="barchart" > </canvas>																																	
		<!-- 		</div> -->
				</md-card-content>
			</md-card> 
		</div>