@import '../../../../../shared/styles/variables';

.menu{

  max-height: 100%;
  .menu-toolbar{
    background: #EEEEEE;
    border-bottom:1px solid #CCCCCC;
    min-height:50px;
    width: 100%;
    font-size:16px;

    .menu-name{
      padding-left:24px;
    }

    button{
      margin-right:18px;
    }
  }
  .menu-content{
    overflow: auto;
    padding-right:40%;
  }
  .main-content-right ~ .menu-content {
    padding-right:0;
  }
  .main-content-right{
    padding:24px 16px;
    overflow: auto;
  }

  .main-content-left{
    margin:24px 4px 24px 16px;
  }
}
