<div class='menu' layout="column">
  <div class="sub-toolbar menu-toolbar" layout="row" layout-align="start center">
    <breadcrumb><a ui-sref='main.dashboard.menus.list' translate>My menus</a></breadcrumb>
    <breadcrumb>{{vm.menu.name}}</breadcrumb>
  </div>
  <div class="menu-content layout-left-right with-toolbar">
    <div class='main-content-left'>
      <menu-section-list ng-if="vm.menu.sections" menu="vm.menu" sections="vm.menu.sections" tags="vm.tags">
      </menu-section-list>
    </div>
    <div class='floating-right-buttons' ng-if="!vm.menu.isVoucher()">
      <md-button ng-click="vm.toggleDrawer('modifiers')" class="md-primary md-hue-2">{{ 'Show modifiers' | translate}}</md-button>
    </div>
    <div class='main-content-right' media-query="min-width: 1024px" sticky offset="134" contextual-menu-holder></div>
  </div>
</div>

<contextual-drawer-item></contextual-drawer-item>
<contextual-drawer-modifier></contextual-drawer-modifier>