
.data-filters-view{
	width: 100%;

	md-select{
		height: 48px;	
	}	

	md-input-container{		
		margin:  0;
		 &:not(:first-of-type) &:not(.md-checkbox-market){
			margin-left: 15px;
		 }		 

		 label{
			top: 0;
		 }
	}	
	
	md-card-content:not(:first-of-type){
		padding-top: 0;
	}
 	
	.md-checkbox-market md-checkbox{
		margin-bottom: 0;
		margin-top: 16px;	 
	}

}

/* md-truncate does not work inside md-optgroup */
.md-customfix-container{
	//flex: 1;
//	white-space: nowrap;
//	overflow: hidden;
//	text-overflow: ellipsis;

	/* Overwrite Angular Materials < 1.1.1 Bug with select-menu */
	md-select-menu .md-checkbox-enabled.md-default-theme[selected] .md-icon:after ,
	md-select-menu .md-checkbox-enabled[selected] .md-icon:after {
		border-color: white;
	}

	md-select-menu[multiple] md-option.md-checkbox-enabled{
		&.childmargin{
			margin-left: 25px;
		}
	}

	md-select-menu .md-checkbox-enabled[selected] .md-icon{
		background-color: #0288D1;
	}	
	
}