<div class='promotion-display'>
    <md-checkbox ng-model="$displayInMenu" ng-change="onDisplayChange()">
      {{'Display promotion on the menu' | translate}}
    </md-checkbox>
   <md-input-container class="md-block" ng-if="$displayInMenu">
          <label translate>Display text</label>
          <input type="text" autocomplete="off"  required name="displayName" ng-model="promotion.displayName" ng-maxlength="100">
          <div ng-messages="contextualMenuCtrl.contextualForm.displayName.$error">
            <div ng-message="required" translate>This is required.</div>
          </div>
      </md-input-container>
</div>
