<md-toolbar class="md-hue-2" layout="row" layout-align="center stretch">
    <venue-select></venue-select>
      <section flex layout="row" layout-align="start center" class="toolbar-nav">
        <md-button path-selected="dashboard" href="#/main/dashboard" title="Dashboard" aria-label="Dashboard">
            <icon>settings</icon>
            <span translate>Dashboard</span>
        </md-button>
        <md-button path-selected="analytics" href="#/main/analytics" title="Analytics" aria-label="Analytics">
            <icon>equalizer</icon>
            <span translate>Analytics</span>
        </md-button>
        <md-button path-selected="account" href="#/main/account" title="My Account" aria-label="My Account">
            <icon>person</icon>
            <span translate>My Account</span>
        </md-button>
        <div flex layout="row" layout-align="end center" class="message">
          <md-button ng-click="vm.openMessages()" title="Messages" aria-label="Messages" class="md-icon-button">
              <icon>email</icon>
          </md-button>
        </div>
      </section>
    <user-select></user-select>
</md-toolbar>