<div class="external-event-list">  
  <label class="label-title">{{ 'Events imported:' | translate }}</label>
  <card-item-list 
    tooltip="{{ 'Import new event' | translate }}"
    has-new="externalEventListCtrl.hasNew" 
    on-click-new="externalEventListCtrl.showContextual()" 
    collection="externalEventListCtrl.events">
    <div class='sort-holder'>
    <card-item
      has-actions="externalEventListCtrl.hasActions"
      ng-repeat="event in externalEventListCtrl.event.externalEvents | orderBy: eventDate track by $index"
      selected="event.$selected"
      deleted="event.$deleted">
      <card-item-title has-visible="true">
        <span>{{event.showName}} </span>
      </card-item-title>

      <card-item-actions on-delete="externalEventListCtrl.onDelete(event)">          
      </card-item-actions>
    </card-item>
    <div sv-placeholder></div>
    </div>
  </card-item-list>  
</div>