<div class='outlet-location-view' layout='column'>
  <div class="outlet-location-toolbar" layout="row" layout-align="start center">
    <breadcrumb ng-repeat="breadcumb in outletLocationsCtrl.breadcumbs">
      <a ng-href="{{ breadcumb.url }}" ng-if="!breadcumb.isLast" translate>{{ breadcumb.group.label || 'Location label' }}</a>

      <span ng-if="breadcumb.isLast">{{ breadcumb.group.label || 'Location label' | translate }}</span>
    </breadcrumb>
  </div>
  <div flex class="layout-left-right">
    <div class='main-content-left'>
      <outlet-location-group-list ng-if="outletLocationsCtrl.loaded" 
          outlet-location-group="outletLocationsCtrl.outletGroup" 
          on-group-deleted="outletLocationsCtrl.groupDeleted()">
          </outlet-location-group-list>
     </div>
    <div class='floating-right-buttons'>
    	<md-button ng-click="outletLocationsCtrl.toggleDrawer('outlets')" class="md-primary md-hue-2" translate>Add outlets</md-button>
  	</div>
  	<div class='main-content-right' sticky offset="88" contextual-menu-holder></div>
  </div>
  <contextual-drawer-outlets></contextual-drawer-outlets>
	<contextual-drawer-outlet-locations></contextual-drawer-outlet-locations>
</div>