<div class='outlet-location-view' layout='column'>
  <div class="outlet-location-toolbar" layout="row" layout-align="start center">
    <breadcrumb ng-if="outletLocationsCtrl.breadcumbs.length > 1" ng-repeat="breadcumb in outletLocationsCtrl.breadcumbs">
      <a ui-sref="main.dashboard.outlets.location({outletLocation: breadcumb.stateParams})" translate>{{ outletLocationsCtrl.getBreadcumbTitle(breadcumb) }}</a>
    </breadcrumb>
    
    <breadcrumb>
      <span>{{ outletLocationsCtrl.breadcumbs[outletLocationsCtrl.breadcumbs.length - 1].group.label || 'Location label' | translate }}</span>
    </breadcrumb>
  </div>
  <div flex class="layout-left-right">
    <div class='main-content-left'>
      <outlet-location-group-list ng-if="outletLocationsCtrl.loaded"
          outlet-location-group="outletLocationsCtrl.outletGroup"
          on-group-deleted="outletLocationsCtrl.groupDeleted()">
          </outlet-location-group-list>
     </div>
    <div class='floating-right-buttons'>
    	<md-button ng-click="outletLocationsCtrl.toggleDrawer('outlets')" class="md-primary md-hue-2" ng-if="outletLocationsCtrl.hasOutlets()" translate>Add outlets</md-button>
  	</div>
  	<div class='main-content-right' sticky offset="134" contextual-menu-holder></div>
  </div>
  <contextual-drawer-outlets></contextual-drawer-outlets>
	<contextual-drawer-outlet-locations></contextual-drawer-outlet-locations>
</div>