<md-sidenav md-disable-backdrop class="md-sidenav-right contextual-drawer contextual-drawer-customer-notes md-whiteframe-4dp" md-component-id="customerNotes">
  <div class="contextual-header">
    <md-button ng-click="drawerCustomerNotesCtrl.onAddNotes()" class="md-primary" translate>Add note</md-button>
  </div>

  <div class="contextual-list" ng-switch="drawerCustomerNotesCtrl.collection && drawerCustomerNotesCtrl.collection.length > 0" ng-class="{empty:!drawerCustomerNotesCtrl.collection || !drawerCustomerNotesCtrl.collection.length}">
    <customer-note-list ng-switch-when="true" collection="drawerCustomerNotesCtrl.collection"></customer-note-list>

    <div ng-switch-default class="contextual-empty">
      <img class="empty-icon" src="/images/notes.svg">
      <div class="content">
        {{ 'There are no notes for this customer.' | translate }}
        <br />
        {{ 'Click the button above to add a new note' | translate }}
      </div>
    </div>
  </div>

  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="drawerCustomerNotesCtrl.done()" class="md-raised" translate>
        Done
    </md-button>
  </md-card-actions>
</md-sidenav>