<div class='modifier-chips'>
  <static-modifier-chip modifier="modifier"
          ng-repeat="modifier in ::staticModifierChipsCtrl.myModifiers | orderBy: ['!!position', 'position'] | filter:{ variant:0 }"
          parent="::staticModifierChipsCtrl.parent"
          modifier-item="::staticModifierChipsCtrl.modifierItem"
          item="::staticModifierChipsCtrl.item"
          on-modifier-removed="staticModifierChipsCtrl.onModifierRemoved({modifier: modifier})"
          section="::modifierChipsCtrl.section"></static-modifier-chip>
</div>
