md-toast{
  position: fixed;
  top: 60px !important;
  left: 50% !important;
  bottom:auto !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index:100000;

  &.success{
    .md-toast-content{
      background-color: #259B24;
    }
  }

  &.error{
    .md-toast-content{
      background-color: #E62A10;
    }
  }
}
