@import '../../shared/styles/variables.scss';
@import './cardItem.animations.scss';

.card-item{
  border:1px solid #E0E0E0;
  position: relative;
  overflow: hidden;
  transition:border 0.3s ease-in-out;

  &:hover{
    cursor: pointer;
    border: 1px solid #757575;
  }

  &:not(.selected){
    box-shadow: none;
  }

    & > .card-title{

      padding: 10px 22px;
      & > span{
        color: #424242;
      }


      &:hover{
        .arrow-icon{
          opacity: 1;
        }
      }

      button{
        margin-right:-16px
      }

      .arrow-icon{
        opacity: 0;
        @include transition();
      }

      &>div{
        @include ellipsis();
      }
      .visibility{
        margin-right: 16px;
        position: relative;
        top:-2px;
      }

      &.invisible{
        span{
          color:#757575;
        }
        .visibility{
          span{
            color:#D1D1D1;
          }
        }
      }
    }

    & > .card-item-actions > md-card-actions{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgba(255,255,255,0.9);
      z-index:21; //1 more than material FAB buttons
    }




  &.selected{
    background-color:#E1F5FE;
    @include materialRaisedShadow();
    .item-actions{
      visibility: hidden;
    }
  }

  &.hidden{
    &>md-card-title{
      color:#757575;
    }
  }
}
