// COLORS
@import '../../shared/styles/variables.scss';

@mixin from(){
  transform:translate(0,-100%);
}
@mixin to(){
  transform:translate(0,0);
}

.card-item{

  button {
        transition:transform 0.3s linear;
        // transition-delay:0.2s;

          & + button{
            transition-duration:0.25s;
            & + button{
              transition-duration:0.3s;
              & + button{
                transition-duration:0.35s;
                & + button{
                  transition-duration:0.4s;
                }
              }
            }
        }
        &.ng-hide-add, &.ng-hide-remove {
          transition: none !important;
        }

        &.ng-enter, &.ng-leave.ng-leave-active {
          @include from();

        }
        &.ng-leave, &.ng-enter.ng-enter-active {
          @include to();
        }
    }

    & > .card-item-actions > md-card-actions{
      transition:transform 0.1s ease-in-out;



      &.ng-enter, &.ng-leave.ng-leave-active {
        @include from();
      }
      &.ng-leave, &.ng-enter.ng-enter-active {
        @include to();
      }

    }

}
