@import '../../shared/styles/variables.scss';
@import './cardItem.animations.scss';

.card-item{
  border:1px solid #E0E0E0;
  position: relative;
  overflow: hidden;
  transition:border 0.3s ease-in-out, box-shadow 0.3s linear, background 0.3s linear;

  &.deleted{
    display: none;
  }


  &:hover{
    cursor: pointer;
    border: 1px solid #757575;
  }

  &:not(.selected){
    box-shadow: none;
  }


    & > .card-item-actions > md-card-actions{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgba(255,255,255,0.9);
      z-index:21; //1 more than material FAB buttons
    }




  &.selected{
    background-color:#E1F5FE;
    @include materialRaisedShadow();
    .item-actions{
      visibility: hidden;
    }
  }

  &.hidden{
    &>md-card-title{
      color:#757575;
    }
  }
}
