<div role="application" class="contentDatepicker">
  <table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}" preo-calendar-bind>
    <thead>
    <tr>
      <th ng-show="showWeeks" class="text-center"></th>
      <th ng-show="showDays" ng-repeat="label in labels track by $index" class="text-center colWeek"><span aria-label="{{label.full}}">{{ label.abbr.substring(0, 2) }}</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows track by $index">
      <td ng-show="showWeeks" class="text-center h6 colItemCalendar"><em>{{ weekNumbers[$index] }}</em></td>
      <td ng-repeat="dt in row track by dt.date" class="text-center colItemCalendar" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}" ng-class="{'has-event': dt.$events, 'isCurrentMonth': dt.isCurrentMonth}">
        <button type="button" style="width:100%;" class="btn btn-sm itemCalendar" ng-class="{'dayActive': dt.selected, 'btn-between': dt.between, 'has-event': dt.$events, 'isCurrentMonth': dt.isCurrentMonth, 'isWeekend': ($index === 5) || ($index === 6)}" ng-disabled="dt.disabled" tabindex="-1">
        <!-- ng-click="select(dt)" -->
              <span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current || dt.isCurrentMonth}">
                {{dt.label}} <br>
                <b class="name-event">{{ dt.$events ? (dt.$events.length + (dt.$events.length === 1 ? ' event' : ' events')) : null }}</b>
              </span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
