@import "../../../../../shared/styles/variables";

.events-view {
    height: 100%;
    width: 100%;

  .main-content-right {
    margin-top: 24px;
    width: calc(50% - 24px);
  }

  .events-toolbar{
    background: #EEEEEE;
    border-bottom:1px solid #CCCCCC;
    min-height:50px;
    width: 100%;
    font-size:14px;
    position: fixed;
    z-index:21;
    top:64px;
    padding-left:24px;

    button {
    	md-icon {
    		color: #0288D1 !important;
    		margin-right: 8px;
    	}
    }
  }

  .edit-mode-button {
    md-icon {
        margin-top: -4px;
    }
  }

  .content-calendar {
    padding: 74px 24px 24px 24px;
    height: 100%;

    .md-toolbar-tools {
        background-color: $blueDefault;
        color: #fff;

        h2 {
            background: none;
            overflow: visible;
            font-size: 17px;
        }

        button {
            span {
                display: none;
            }

            &:after {
                content: "";
                display: inline-block;
                border-right: 2.5px solid #fff;
                border-bottom: 2.5px solid #fff;
                width: 7.5px; height: 7.5px;
                transform: rotate(-45deg);
            }

            &:first-child {
                &:after {
                    border-right: 0px;
                    border-left: 2.5px solid #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }

    md-content {
        & > div {
            & > div {
                color: $colorLight;
                font-size: 14px;

                a {
                    color: $colorLight;
                }

                button, span {
                    color: $colorLight;
                    font-size: 12px;
                    margin: 0px;
                    width: 100%;
                    text-align: left;
                    text-transform: none;
                }
            }
        }

        .md-whiteframe-12dp, .active {
            box-shadow: none !important;
            background: none !important;
        }
    }
  }
}