<div class='event-schedule ng-enter'
      ng-class="{expanded:scheduleCtrl.schedule.$expanded}"
      ng-attr-data-id="{{scheduleCtrl.schedule.id}}">

  <card-item  has-actions="true"
              deleted="scheduleCtrl.schedule.$deleted"
              selected="scheduleCtrl.schedule.$selected"
              >
    <card-item-title ng-click="scheduleCtrl.toggleExpanded($event)"
                    has-visible="true"
                    sv-root="item">
                      <span class="schedule-name">{{ scheduleCtrl.getScheduleTitle() }}</span>
                      <span class="schedule-time">{{ scheduleCtrl.getScheduleTime() }}</span>
                    </card-item-title>

    <card-item-actions is-visible="scheduleCtrl.schedule.visible"
                       on-delete="scheduleCtrl.onDelete(createdOutlet)"
                       on-edit="scheduleCtrl.onEdit($event)"
                        ></card-item-actions>
  </card-item>
</div>