$heightMenuItemCard: 48px;

.event-schedule {
  margin: 0;
  padding: 0;
  position: relative;

  .card-item {
    margin: 0;

    .hidden-card-actions {
      align-items: flex-start;
      padding-top: 6px;
    }

    .card-title {
      // max-height: $heightMenuItemCard;
      min-height: auto;
      padding: 0 14px;

      .card-title-text {
        font-size: 13px;
        align-items: flex-start;
        height: 100%;
      }

      .schedule-name {
        flex: 1;
        display: inline-block;

        .name {
          display: block;
        }
      }

      .schedule-time {
        text-align: right;
        float: right;
      }

      .warning-button {
        margin-right: 12px;
        margin-left: 0;
        padding: 0;
        width: 24px;
        height: 24px;

        .warning-icon {
          color: #d0021b;
        }
      }

      .md-icon-button {
        &.item-actions {
          align-self: flex-start;
          margin-top: 5px;
          margin-right: -10px;
        }
      }
    }

    .size-wrapper {
      padding-bottom: 5px;
    }
  }
}
