$heightMenuItemCard:48px;

.event-schedule {
	margin: 0px;
	padding: 0px;
	position: relative;

  .card-item {
  	margin: 0;

    .hidden-card-actions{
      align-items: flex-start;
      padding-top: 6px;
    }

    .card-title{
      max-height: $heightMenuItemCard;
      min-height: auto;
      padding: 0 14px;

      .card-title-text{
        font-size:13px;
        align-items: stretch;
      }

      .schedule-name {
        flex: 3 0;
        display: flex;
      }

      .schedule-time {
        flex: 1 0;
        text-align: right;
      }
    }

    .size-wrapper{
      padding-bottom: 5px;
    }
  }
}