  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="true"
      md-disable-backdrop
      md-whiteframe="5"
      layout="column"
      ng-class="{expanded:vm.$expanded}">
      <md-list flex>
        <navbar-item ng-repeat="item in vm.menu" item="item">{{item}} </navbar-item>
      </md-list>
      <md-divider></md-divider>
      <div class="close-menu">
        <md-button class="md-icon-button" ng-click="vm.toggleMenu()">
            <icon>{{ vm.$expanded ? 'arrow_back' : 'arrow_forward' }}</icon>
        </md-button>
      </div>
  </md-sidenav>
