  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="true"
      md-disable-backdrop
      md-whiteframe="5"
      layout="column"
      ng-class="{expanded:navBarCtrl.$expanded}">
      <md-list flex ng-if="navBarCtrl.menu.length">
        <navbar-item ng-repeat="item in navBarCtrl.getActivedMenu()"
                     item="item" >
                   {{item}}
        </navbar-item>
      </md-list>
      <md-divider></md-divider>
      <div class="close-menu">
        <md-button class="md-icon-button" ng-click="navBarCtrl.toggleMenu()">
            <icon>{{ navBarCtrl.$expanded ? 'arrow_back' : 'arrow_forward' }}</icon>
        </md-button>
      </div>
      <div class='map-overlay-drawing'></div>
  </md-sidenav>
