@import '../../shared/styles/variables';

.md-sidenav-left{
  transition:width 0.2s linear;

  span{
    transition:max-width 0.2s linear;
  }

  &:not(.expanded){
    width:72px;
    .close-menu{
      text-align: center;
    }
    span{
      max-width:0;
      overflow: hidden;
    }
  }

  button {
    text-transform: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: normal;
  }

  .close-menu{
    transition:text-align 0.2s linear;
    text-align: right;
  }
  md-list{
    overflow-y: auto;
    overflow-x: hidden;
  }

  md-list-item{
    md-menu {
      padding:0;
      &> div{
        & > button{
          border-left: 5px solid transparent;
          width: 100%;
          text-align: left;
          margin:0;
          padding: 8px 8px 8px 16px;
          &> span{
            padding-left:24px;
          }
        }
      }
    }

      &.expanded{
        .children{
          max-height:none;
        }
      }

  }

  md-list-item.selected, md-list-item.open{
    md-menu > div{
      &>button{
        border-left:$borderSelected;
        background: $colorBackgroundFocusButtonMaterial;
      }
    }
  }

  .children {
    max-height:0;
    overflow: hidden;
    @include selected();
    span{
      text-align: left;
    }
  }
}


.navbar-menu-content{
  padding:0;

  md-menu-item {
    @include selected();
    height:52px;
  }
}