@import '../../shared/styles/variables';

.md-sidenav-left{
  transition:width 0.2s linear;

  span{
    transition:max-width 0.2s linear;
    font-weight: 500;
  }

  &:not(.expanded){
    width:72px;
    .close-menu{
      text-align: center;
    }
    span{
      max-width:0;
      overflow: hidden;
    }
  }

  button {
    text-transform: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: normal;
  }

  .close-menu{
    transition:text-align 0.2s linear;
    text-align: right;
  }
  md-list{
    overflow-y: auto;
    overflow-x: hidden;
  }

}


.navbar-menu-content{
  padding:0;

  md-menu-item {
    @include selected();
    height:52px;
  }
}