.clear {
	clear: both;
}

.booking-container h1 {
	margin-bottom: 8px;
}

.date-range label {
	padding: .5em .125em .625em;
    font-size: 14px;
    color: #222 !important;
    text-align: left;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}

.date-range .sched-start-date, .date-range .sched-end-date {
	width: 85px !important;
	float: left;
	font-size: 12px !important;
    font-weight: bold;
    z-index: 100;
    height: 32px;
    padding: 0;
    padding-left: 10px;
}

.date-range .sched-start-date {
	/*margin-left: 10px;*/
}

.date-range .separator {
    height: 30px;
    padding: 5px;
    font-weight: bold;
    float: left;
    background-color: #fff;
    margin-top: 2px;
    margin-left: 1px;
}

.date-range .calendar {
	width: 21px;
	height: 21px;
	display: block;
	float: left;
    background: url(/code/booking/img/calendar.png);
    margin-left: 10px;
    margin-top: 4px;
}

.date-range button {
	height: 40px;
	margin: 0;
    line-height: 100%;
    float: left;
    margin-left: 10px;
    margin-top: -4px;
    font-size: 120%;
    padding: 9px 15px;
}

.booking-row {
	margin-top: 44px;
}

.booking-container .booking-table thead {
	border-bottom: 1px solid #B9BBBD;
	font-size: 15px;
}

.booking-table thead span {
	padding-bottom: 10px;
}

.booking-table thead .booking-name {
	width: 23%;
}

.booking-table thead .booking-client {
	width: 19%;
}

.booking-table thead .booking-date {
	width: 12%;
}

.booking-table thead .booking-time {
	width: 9%;
}

.booking-table thead .booking-guests {
	width: 11%;
}

.booking-table thead .booking-page {
	width: 14%;
}

.booking-table {
	display: table;
    margin-right: auto!important;
    width: 100%!important;
    margin-left: 4px;
    margin-bottom: 30px !important;
    margin-top: -1px;
    max-width: 987px;
    border: 0;
    background-color: transparent;
    color: #48535d;
}

.booking-info {
	height: 54px;
	cursor: pointer;
}

.booking-info td {
	vertical-align: middle;
}

.booking-table .client-info {
	border-top: 1px solid #979797;
	padding-top: 16px;
	padding-bottom: 8px;
	color: black;
	font-size: 13px;
}

.booking-table .client-info > div {
	display: inline-block;
}

.booking-table .client-info b {
	width: 100px;
    display: inline-block;
}

.booking-table .client-info > div > div {
	margin-bottom: 5px;
}

.booking-table .client-info .ct-btn-print {
	margin-top: 7px;
	margin-right: 5px;
}

.booking-table .client-info .ct-btn-print form {
	margin: 0;
}

.booking-table .client-info .btn-print {
	width: 215px;
	height: 40px;
	font-size: 150%;
	margin: 0;
}

.booking-table .booking-info, .booking-table .booking-details {
	background-color: #fff;
}

.booking-table .booking-details {
	display: none;
}

.booking-table .booking-details td {
	padding-top: 0px;
}

.booking-table .dish-info {
	border-top: 1px solid #969696;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 13px;
}

.booking-table .dish-info .list-header {
	background-color: #f3f3f3;
	padding: 15px 5px;
	height: 20px;
	color: #7c7c7c;
}

.booking-table .dish-info .list-header .section-name {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.booking-table .dish-info .list-header span {
	margin-top: -8px;
}

.booking-table .dish-info .dish-card {
	width: 22.5%;
    max-width: 225px;
    display: block;
	margin-left: 2%;
	margin-bottom: 10px;
	margin-top: 25px;
	float: left;
}

.booking-table .dish-info .dish-list ul {
	list-style-type: none;
	padding: 5px;
	color: #b0b0b0;
}

.booking-table .dish-info .dish-list ul .item-name {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.booking-table .separator-thead {
	height: 15px;
	background-color: transparent;
}

.booking-table .separator {
	height: 6px;
	background-color: transparent;
}

.booking-table .no-bookings {
	background: #F3F3F3 !important;
}
