
.md-table-view {
	md-card-title {
		padding: 20px;
	}

	md-card-content {
		padding: 0px 24px 24px 24px;
	}	

	.main-content-full {
		flex-flow: row wrap;

		md-card {
			&.full-card {
				flex: 1 100%;
			}
		}
	}

	.md-title-with-action{
		display: flex;
	}
}

	.align-action-top{
		margin-top: -1.5%;	
		//margin-right: -2%;	
	}
