
$verticalPadding: 16px;
$horizontalPadding: 24px;
$disabledCheckboxOpacity: 0.3;
$disabledCheckboxTextOpacity: 0.35;

.entity-select {
	padding-top: 24px;

	.channel-name {
		display: block;

		.md-label, span {
			display: block;
		}

		.ellipsis {
			max-width: 100%;
		}
	}

	.checkbox-wrapper {
		border-bottom: solid 1px rgba(0, 0, 0, 0.12);
		padding: 0 $horizontalPadding 0 $horizontalPadding;

		&:last-child {
			border-bottom: 0px;
		}

		md-checkbox {
			display:block;

			&[disabled="disabled"] {
				cursor: not-allowed;

				.md-icon {
					opacity: $disabledCheckboxOpacity;
				}

				.md-label {
					opacity: $disabledCheckboxTextOpacity;
				}
			}

			.md-label {
				span {
					line-height: 20px !important;
				}
			}
		}

		&+.channel-entities {
			padding-top: $verticalPadding;
		}
	}

	.channel-entities {
		.checkbox-wrapper {
			margin-bottom: $verticalPadding;
		}
	}
}