@import '../../../shared/styles/variables';
@import './contextualMenu.animations.scss';

.contextual-menu {
  max-height: calc(100vh - 64px - 50px - 5vh); //100% - toolbar - optional dashboard toolbar - extra spacing for bottom padding
  margin:0;
  @include materialRaisedShadow();
  border-radius: 2px;

  .form-content{
    max-height: calc(100vh - 64px - 50px - 90px - 30px ); //100% - toolbar - optional dashboard toolbar - bottom buttons - extra spacing for bottom padding
    overflow-y:auto;

  }

  md-card-actions{
    border-top:1px solid #E0E0E0;
    background:#F5F5F5;
    margin: 0;
    padding: 16px;
  }

  md-tabs-wrapper{
    background:#F5F5F5;

    md-tab-item{
      span{
        color: #424242;
      }

      &.md-active{
        span{
          color:$colorPrimary;
        }
      }
    }
    md-ink-bar{
      color:$colorPrimary;
      background-color:$colorPrimary;;
    }
  }

  .price {
    md-input-container{
      margin-right:10px;
    }
    color:$colorLight;
  }

  .currency{
    margin-top:-10px;
  }

  .size {
    display: block;
    margin:18px 0;

    md-radio-button{
      display: inline-block;
      span{
        color:$colorLight;
      }
      &+md-radio-button{
        margin-left:24px;
      }
    }
  }

  .md-input-container-seat-number {
    .input-label {
      width: 120px;
    }

    input {
      width: 100px;
    }
  }

  .contextual-menu-outlet-location {
    .input-label {
      color:rgba(0,0,0,0.50);
      font-size:16px;
    }
  }

  .contextual-menu-outlet {
    md-input-container {
      height: 35px;
      margin-bottom: 16px;
    }

    md-radio-group {
      display: block;
      margin-top: 14px;
    }

    md-radio-button {
      color:rgba(0,0,0,0.50);      
    }

    .menus-select-content {
      margin-top: 24px;

      label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
      }
    }    
  }

  .error {
    font-size:14px;
    color: #fc3339;
  }

  .md-input-message-animation {
    &.activated, &.ng-enter-active {
      opacity: 1 !important;
      margin-top: 0px !important; 
    }      

    // // &.active {
    //   &:not(.ng-animate), &:not(.ng-leave) {
    //     opacity: 0 !important;
    //     margin-top: -100px !important;
    //   }
    // // }

    // &.ng-enter-active, &.ng-enter {
    //     opacity: 1 !important;
    //     margin-top: 0px !important;      
    // }

    &.active-remove, &.ng-leave-active {
      opacity: 0 !important;
      margin-top: -100px !important;
    }
  }

}