<div class='card-item-child' layout="row">
  <div sv-root="modifier"
       sv-disabled="cardItemChildCtrl.svDisabled">

    <div class='sv-dropzone sv-dropzone-modifier'
         sv-part="cardItemChildCtrl.newModifiers"
         sv-is-dropzone-disabled='cardItemChildCtrl.svIsDropzoneDisabled'
    		 sv-on-external-sort="cardItemChildCtrl.onNewModifierMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
      <div sv-placeholder></div>
    </div>
  </div>
  <span class='name-wrapper' layout="row" flex>
  	<span class='name' layout="column" layout-align="center start">{{cardItemChildCtrl.option.name}} </span>
  	<modifier-chips flex
  			ng-if="cardItemChildCtrl.option.modifiers.length"
  			modifiers="cardItemChildCtrl.option.modifiers"
  			on-modifier-removed="cardItemChildCtrl.onModifierRemoved(modifier)"
  			modifier-item="cardItemChildCtrl.option"></modifier-chips>
  </span>
  <span class='price'> {{cardItemChildCtrl.option.price | currency}}</span>
</div>