<div class="event-basic">
    <md-input-container class="md-block">
        <label translate>Event name</label>
        <input type="text" autocomplete="off"  required name="entityName" ng-model="eventBasicCtrl.event.name" ng-maxlength="100" />
        <div ng-messages="eventBasicCtrl.contextualForm.entityName.$error" ng-show="eventBasicCtrl.contextualForm.entityName.$dirty">
          <div ng-message="required" translate  ng-class="{'activated': eventBasicCtrl.contextualForm.entityName.$error.required}">This field is required.</div>
          <div ng-message="maxlength" translate ng-class="{'activated': eventBasicCtrl.contextualForm.entityName.$error.maxlength}">Max length is 100.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label translate>Description</label>
        <input type="text" autocomplete="off"  name="entityDescription" ng-model="eventBasicCtrl.event.description" ng-maxlength="255" />
        <div ng-messages="eventBasicCtrl.contextualForm.entityDescription.$error" ng-show="eventBasicCtrl.contextualForm.entityDescription.$dirty">
          <div ng-message="maxlength" translate ng-class="{'activated': eventBasicCtrl.contextualForm.entityDescription.$error.maxlength}">Max length is 255.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block md-block-duration">
        <label translate>Duration <small>(in minutes)</small></label>
        <input type="text" autocomplete="off" required name="entityDuration" ng-model="eventBasicCtrl.event.duration" valid-number max-integer-value />
        <div ng-messages="eventBasicCtrl.contextualForm.entityDuration.$error" ng-show="eventBasicCtrl.contextualForm.entityDuration.$dirty">
          <div ng-message="required" translate  ng-class="{'activated': eventBasicCtrl.contextualForm.entityDuration.$error.required}">This field is required.</div>
          <div ng-message="maxIntegerValue" translate ng-class="{'activated': eventBasicCtrl.contextualForm.entityDuration.$error.maxIntegerValue}">Max value is 2147483646.</div>
        </div>
    </md-input-container>
</div>