<div flex  class='venue-services layout-left-right'>
  <div class='main-content-full' flex layout="row" layout-align="start start">
      <md-card  flex="30" >
        <md-card-title>
          <md-card-title-text flex layout="row" layout-align="center start">
            <h2 class="md-title" flex="90"  translate> Collection </h2>
            <md-switch  ng-change="venueServicesCtrl.updateVenue()" flex="10" layout-align="center end" ng-true-value="1" ng-false-value="0" ng-model="venueServicesCtrl.venue.pickupFlag">
            </md-switch>
          </md-card-title-text>
        </md-card-title>
        <md-card-content ng-class="{active:venueServicesCtrl.venue.pickupFlag}">
          <form name="venueServicesCtrl.collectionForm" ng-submit="venueServicesCtrl.submit()" novalidate>
              <div class='form-content'>
                   <md-input-container class="md-block no-spacer inline-mins">
                      <label translate>Lead Time</label>
                      <div class='input-with-label' flex layout="row" layout-align="space-between start">
                        <div class='input-wrapper' flex="grow">
                          <input ng-blur="venueServicesCtrl.updateVenueSettings()" type="text" valid-number name="leadTime" ng-model="venueServicesCtrl.venue.settings.leadTime" >
                        </div>
                        <div class='mins' flex="nogrow" translate>Mins</div>
                      </div>
                  </md-input-container>
                  <md-input-container class="md-block no-spacer minimum-order-value">
                    <div flex layout="row" layout-align="space-between start">
                      <div class='input-wrapper' flex="grow">
                        <label translate>Minimum order value</label>

                        <input ng-blur="venueServicesCtrl.updateVenueSettings()" type="text" valid-price required name="leadTime" ng-model="venueServicesCtrl.venue.settings.orderMin">
                      </div>
                    </div>
                    <div ng-messages="venueServicesCtrl.collectionForm.leadTime.$error">
                      <div ng-message="required" translate>This is required.</div>
                      <div ng-message="invalidPrice" translate>Invalid price.</div>
                      <div ng-message="maxDecimalValue" translate>Max value is 99999999.99.</div>
                    </div>
                  </md-input-container>
                    <md-checkbox  ng-change="venueServicesCtrl.updateVenue()" ng-true-value="1" ng-false-value="0" aria-label="Auto accept collection orders" ng-model="venueServicesCtrl.venue.autoAcceptCollection">
                      {{'Auto accept' | translate}} <span><icon>info</icon> <md-tooltip>{{'When selected, all collection orders will be accepted automatically, without the need for you to first approve them manually' | translate}}</md-tooltip></span>
                    </md-checkbox>
              </div>
          </form>
        </md-card-content>
      </md-card>
       <md-card flex="30" class='delivery'>
        <md-card-title>
          <md-card-title-text flex layout="row" layout-align="center start">
            <h2 class="md-title" flex="90" translate> Delivery </h2>
            <md-switch  ng-change="venueServicesCtrl.updateVenue()" flex="10" layout-align="center end"  ng-true-value="1" ng-false-value="0" ng-model="venueServicesCtrl.venue.deliverFlag">
            </md-switch>
          </md-card-title-text>
        </md-card-title>
        <md-card-content ng-class="{active:venueServicesCtrl.venue.deliverFlag}" flex layout="column" layout-align="center stretch" >
          <form name="venueServicesCtrl.deliveryForm" layout="column" layout-align="center stretch">
            <md-button class='md-raised md-primary' ng-click="venueServicesCtrl.loadDeliveryZones()" flex translate> Add delivery Zones </md-button>
          </form>
        </md-card-content>
      </md-card>
  </div>
</div>
