.venue-services{
  md-card{
    min-width: 310px;
    // width:30%;
    &.delivery{
      form{
        padding-top:12px;
      }
    }
  }
  md-card-title{
    padding:0 24px 0 24px;
    min-height:60px;
    height:60px;

    h2 {
      line-height: 60px;
    }
  }
  md-card-content{
    max-height: 0px;
    overflow: hidden;
    padding-bottom:0;
    padding-left: 24px;
    padding-right: 24px;
    transition:max-height 0.5s ease-in-out;

    form{
      button{
        margin:0;
      }
      padding-bottom: 24px;
      md-checkbox{
        margin-top:6px;
        margin-bottom: 0;
        .md-label{
          .label-text {
            font-size: 16px;
            color: rgba(0,0,0, 0.5);
          }

          span{
            margin-right: 10px;
            vertical-align: middle;
            display: inline-block;

            span {
              vertical-align: top;
            }
          }
        }
      }
    }

    &.active{
      max-height: 300px;
    }
  }

  .minimum-order-value  {
    .input-wrapper {
      padding-right: 16px;
    }
  }
}