@import "../../shared/styles/variables";

.notfound {
	text-align: center;
	padding: 2rem;

	&-wrapper {
		max-width: 450px;
		margin: 0 auto;
	}

	&-icon {
		svg {
			color: $greyDefault;
			fill: $greyDefault;
			width: 150px;
			height: 150px;

			g, path {
				color: $greyDefault;
				fill: $greyDefault;
			}
		}
	}

	&-text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 1.5rem;
    line-height: 1.2;

    a {
    	font-size: 15px;
    	color: #1a2da6;
    }
	}
}