.styling-weborders{
  width: 100%;

  #web-orders-iframe{
    height: calc(100vh - 110px);
    position: relative;
    top:50px;
    transform-origin: top left;
  }

  .iframe-content {
    width: 100%;
    padding: 24px;

    #web-orders-iframe {
      width: 100%;
    }
  }

  .weborders-link{
    position: fixed;
    right: 16px;
    top:64px;
  }

  .iframe-error{
    position: relative;
    top: 75px;
    left: 0px;
    padding-left: 20px;
  }
}

