/* app css stylesheet */

body{
  background-color: #EFEFEF;
  font-family: "Co Text W01 Regular","Co Text W01 Light";
  font-weight: normal;  
}

#dashboard{
  margin-bottom:80px;
}

form label, label, .multiSelect .button{
  color:#46545D !important;
}

.navbar-first{
  padding: 5px 0;
  margin-bottom: 0px;
}

.faixa-orange{
  background-color: #F6B33D;
}


.navbar-form label>*{
  margin-top:20px;
}


.title-white{
  color: #fff;
  margin-bottom: 0px;
  font-size: 100%;
  line-height: 50px;
  position: relative;
  padding-left: 40px;
}

/**********Navbar************/
#navbar-menu{
  background-color: #46535D !important;
  border: none;
  margin-bottom: 0px;
  height: 135px;
  padding: 0px !important;
}

#navbar-menu ul li{
  border-right: 1px solid #333E46;
  background: none;
}

#navbar-menu ul li a{
  display: block;
  font-size: 16px !important;
  padding: 17px 0 !important;
  width: 225px;
  background: none !important;
}

#navbar-menu ul li a{
  color: #333E46 !important;
  text-align: center;
}

#navbar-menu ul li a:hover, #navbar-menu ul li a.active{
  background-color: #929497 !important;
  color: #fff !important;  
}

#navbar-menu ul li.metrics a i{
  background: url('/code/kyc/images/icons/metrics-icon-grey.png') center center no-repeat;
}

#navbar-menu ul li.metrics a.active i, #navbar-menu ul li.metrics:hover a i{
  background: url('/code/kyc/images/icons/metrics-icon-white.png') center center no-repeat;
}

#navbar-menu ul li.stock a i{
  background: url('/code/kyc/images/icons/stock-icon-grey.png') center center no-repeat;
}

#navbar-menu ul li.stock a.active i, #navbar-menu ul li.stock:hover a i{
  background: url('/code/kyc/images/icons/stock-icon-white.png') center center no-repeat;
}

#navbar-menu ul li.customers a i{
  background: url('/code/kyc/images/icons/customer-icon-grey.png') center center no-repeat;
}

#navbar-menu ul li.customers a.active i, #navbar-menu ul li.customers:hover a i{
  background: url('/code/kyc/images/icons/customer-icon-white.png') center center no-repeat;
}

#navbar-menu ul li.reports a i{
  background: url('/code/kyc/images/icons/reports-icon-grey.png') center center no-repeat;
}

#navbar-menu ul li.reports a.active i, #navbar-menu ul li.reports:hover a i{
  background: url('/code/kyc/images/icons/reports-icon-white.png') center center no-repeat;
}

#navbar-menu ul li.live-stream a i{
  background: url('/code/kyc/images/icons/live-stream-icon-grey.png') center center no-repeat;
}

#navbar-menu ul li.live-stream a.active i, #navbar-menu ul li.live-stream:hover a i{
  background: url('/code/kyc/images/icons/live-stream-icon-white.png') center center no-repeat;
}

@media(max-width: 954px) {
  #navbar-menu ul li a i{
    background: none !important;
    height: 0px !important;
  }

  #navbar-menu ul li a{
    width: 100% !important;
    padding: 10px !important;
  }

  #navbar-menu{
    height: 45px !important;
  }

  #navbar-menu.expanded{
    height: 225px !important;
  }

  #navbar-menu .navbar-nav{
    width: 92% !important;
  }

  #icon-menu{
    background: none !important;
  }
}



/**********End Navbar************/

.icon-white{
  color: #fff;
}

.icon-large{
  font-size: 60px;
  height: 56px;
  display: block !important;
}

#container-search{
  padding-top: 20px;
}

#container-search, #content-list{
  background-color: #fff;
  padding-bottom: 30px;
}

#container-search > .container{
  height: 85px;
}



.widget{
  background-color: #fff;
  overflow: hidden;
  max-height: 500px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);  
}

#ul-widgets{
  margin-left: 0px;
}

.header-chart, .header-widget, .header-list{
  padding: 7px 5px;
}

.header-list{
  text-align: center;
}

.header-widget, .header-list{
  background-color: #929497;
  color: #fff
}

.header-widget i, .header-list i{
  color: #E6E7E6;
}

.header-widget span, .header-list span {
  margin: 6px 0 3px 0;
  font-weight: 400;
  font-size: 15px;
  width: 89%;
}

.overflow{
  overflow: hidden;
}



/***** End Socials Network ******/

.actions-chart{
  background-color: #1476B7;
  width: 100%;
  height: 100%;
  position: relative;
}


.content-actions{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -35px;
  width: 160px;
  height: 70px;
}

.content-actions .buttons{
  margin-top: 10px;
}

.content-actions button{
  padding: 5px 15px;
  margin-right: 10px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

.content-actions button:hover{
  background-color: #A4A6A8;
  color: #fff;
}

.largerNumber{
  font-size: 60px;
  color: #1476B7;
  display: block;
  margin-top: 30px;
  font-family:"Co Text W01 Regular";
}

#filterDashboard{
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  margin: 30px auto 20px;
  width: 98%;
}

#filterDashboard ul{
  overflow: hidden;
}

#filterDashboard ul li{
  float: left;
  margin: 0 5px 5px 0;
  width: 170px;
}

#filterDashboard ul li .checkbox{
  margin: 0px;
}

#filterDashboard ul li label{
  font-size: 11px;
}

#content-table{
  margin-top: 30px;
}

.block-status{
  width: 105px; 
  text-align: center;
  padding: 10px;
  display: block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.block-status.good{
  background-color: #8BC04F
}

.block-status.bad{
  background-color: #c0392b;
}

.add-widget{
  display: none;
}

.container, #navbar-menu section{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}

@media (min-width:768px){.container, #navbar-menu section{width:750px}}

@media (min-width:992px){.container, #navbar-menu section{width:970px}}

@media (min-width:1200px){.container, #navbar-menu section{width:1170px}}

.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}

.title-modal-chart{
  text-align: center;
  border-bottom: 1px solid #B3B6B8;
  color: #46535D;
  margin-top: -20px;
  padding-bottom: 15px;
  font-size: 110%;
}

.container-modal-chart{
  text-align: center;
}

#content-table > table{
  width: 100%
}

.topSpacing{
  margin-top:30px;
}

.noData{
  position: absolute;
  font-size: 150%;
  top: 55%;
  width: 100%;

}

/****** Flip Effect *******/

/* entire container, keeps perspective */
.flip-container {

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;  
}

.content-chart{
  padding: 0 10px 15px 10px;
  position:relative;
}
  /* flip the pane when hovered */
  .flip-container.active .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 100%;
  height:100%;
}

.flipper.reportPage, .front.reportPage{
  min-height:500px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height:100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;      
  position: relative;
  margin-bottom:100px;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;  

  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */
.front {
  z-index: 2;
  position:relative; /* front doesn't need to be absolute*/
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);  
}

/****** End Flip Effect *******/

.numberLeft{
  font-size: 40px;
  color: #1476B7;
  font-family:"Co Text W01 Bold";
  position:absolute;
  top:15px;
  left:15px;
  z-index:2;
}

.numberRight{
  font-size: 30px;
  font-weight: 600;
  color: #8ABE4F;
  font-family:"Co Text W01 Bold";
  position:absolute;
  top:15px;
  right:15px;
  z-index:2;
}

.top-chart{
  padding: 10px 0;
}

.table-list thead th{
  cursor: pointer;
}

table .sort i{
  height: 0px;
  display: block;
}

.table-striped{
  border-collapse: separate !important;
  border-radius: 5px;  
  overflow: hidden;
  border: 1px solid #b4b6b8; 

}

table tr.alt, table tr.even, table tr:nth-of-type(even), table tbody:nth-of-type(even){
  background-color:#fcfcfc;
}

.table-striped tr:first-child th{
  border-top:none;
}

.table-striped td:last-child,.table-striped th:last-child{
  border-right:none;
}

.table-striped td,.table-striped th{
  font-family:"Co Text W01 Light";
  color: #6d6e71;
  border-top: 1px solid #b4b6b8; 
  border-right:1px solid #b4b6b8; 
}

.table-striped th input, .table-striped td input{
  margin: 0px;
}

.table-striped thead tr th{
  padding: 15px;
  background-color: #F3F4F4;
  
  font-weight: 400;
}


.table-striped tbody tr td{
  padding: 10px 15px;
}

#content-table{
  padding: 0 50px;
  overflow-y: scroll;
  max-height: 800px;
}


.input-search{
  font-size: 14px !important;
}

.modal-preoday{
  background: none;
  padding: 0px;
  border: none;
  top: 2em;
}

.content-modal{
  background-color: #fff;
  padding: 1.875em;
}

.options-modal{
 margin-top: 30px; 
}

.inlineBlock{
  display: inline-block;
  width: 100%
}

.percent-modal{
  color: #8ABE4F;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: block;

}

.percent-modal.negative{
  color: #533A86
}

.title-option-modal{
  color: #655D5D;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "Co Text W01 Regular";
}

.block-modal{
  width:14.5%;
  margin-right:2%;
  font-family: "Co Text W01 Bold";
}

.button-option{
  text-align: center;
  background-color: #DBDBD9;
  padding: 12px 0;  
  font-weight: 600;
  color: #46535D;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  border-radius:2px;
  font-size:180%;
}

.block-modal.active .button-option{
  background-color: #1476B7;
  color: #fff;
}

span.multiSelect{
  color: #4B535D
}

.options label{
  color: #fff;
  margin-right: 20px
}





.table-stream tr td{
  cursor: pointer;
}

.table-stream tr.active td {
  background-color: #333F47 !important;
  border-color: #333F47;
  color: #fff;
}

.table-stream tr.result td{
  padding: 0px;
  background-color: #fff
}

.table-stream tr.result p{
  margin-bottom: 5px
}

.table-stream tr.result .code{
  font-size: 25px;
}

.table-stream tr.result td.padding{
  padding: 15px;
}


.table-max{
  width: 100%;
  background: none;
  border: none;
  margin: 25px 0 0 0;
}

.table-max tr td{
  border: none;
  padding: 5px 15px !important;
  font-size: 16px;
  color:#333f47;
}

.table-max .streamDiscount{
  font-style: italic;
}

.table-max .streamTotal b{
  font-family: "Co Text W01 Bold";
}

.text-status{
  font-size: 13px;
  text-transform: uppercase;
}

.text-status.good{
  color: #8BC04F;
}

.text-status.bad{
  color: #c0392b;
}


.options input[type = "radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
} 

.icon-know-customers{
  background: url("/img/KYC-icon-white-reverse.png") left center no-repeat;
  width:30px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  height: 30px;
}

.checkboxStyle input[type=checkbox] {  
    display: none;  
}  

.checkboxStyle label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;  
} 

.checkboxStyle label:before {  
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    background-color: #DCDCDA;  
}  

.checkboxStyle label.disabled:before {  
    background-color: #DBDBD9;  
}  
.checkboxStyle label.disabled {  
    color: #DCDCDB;
}  

.checkboxStyle input[type=checkbox]:checked + label:before {  
    content: "\2717";  
    font-size: 15px;  
    color: #95979A;  
    text-align: center;  
    line-height: 15px;  
}  

.table-striped td.streamPrice{
  font-family: "Co Text W01 Bold";
  color:#46545d;
  font-size:105%;
}

.table-striped td.streamCustomer{
  font-family: "Co Text W01 Regular";
  color:#46545d;
  font-size:105%;
}

.table-striped td.streamOrder{
  font-family: "Co Text W01 Regular";
  color:#46545d;
  font-size:85%;
}

.table-striped td.streamUpdated{
  font-family: "Co Text W01 Light";
  color:#939598;
  font-size:70%;
}

.chart_3:hover{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
};