/* app css stylesheet */

.nopadding{
  padding:0 !important;
}

.nopaddingleft{
  padding-left:0 !important;
}

.nomargin{
  margin:0 !important;
}


body{
  background-color: #EFEFEF;
  font-family: "Co Text W01 Regular","Co Text W01 Light";
  font-weight: normal;  
}

#wrap{
  margin: 0;
  padding: 0;
}

#dashboard{
  margin-bottom:80px;
}

form label, label, .multiSelect .button, .navbar-form input, .current{
  color:#46545D !important;
}

.navbar-first{
  padding: 5px 0;
  margin-bottom: 0px;
}

.faixa-orange{
  background-color: #F6B33D;
}


.navbar-form label{
  margin-bottom:20px;
}

.navbar-form .dateTo{
  line-height:32px;
  text-align:center;
}

.navbar-form input{
  border-radius:3px;
  text-align:center;
}

.title-white{
  color: #fff;
  margin-bottom: 0px;
  font-size: 100%;
  line-height: 50px;
  position: relative;
  padding-left: 40px;
}

/**********Navbar************/
.kycWrapper header{
  background-color: #56666d !important;
  border: none;  
  height: 135px;  
}

.kycWrapper header nav, .kycWrapper header ul, .kycWrapper header li{
  height:100%;
}

#navbar-menu ul li{
  border-right: 1px solid #333E46;
  width:20%;
  float:left;
  display:block;  
  background-position:center 35%;
  background-repeat:no-repeat;
  text-align:center;
  position:relative;
}

#navbar-menu ul li.metrics{
  background-image: url('/code/kyc/images/icons/metrics-icon-grey.png');
}

#navbar-menu ul li.metrics.active, #navbar-menu ul li.metrics:hover {
  background-image: url('/code/kyc/images/icons/metrics-icon-white.png');
}

#navbar-menu ul li.stock{
  background-image: url('/code/kyc/images/icons/stock-icon-grey.png');
}

#navbar-menu ul li.stock.active, #navbar-menu ul li.stock:hover {
  background-image: url('/code/kyc/images/icons/stock-icon-white.png') ;
}

#navbar-menu ul li.customers{
  background-image: url('/code/kyc/images/icons/customer-icon-grey.png');
}

#navbar-menu ul li.customers.active, #navbar-menu ul li.customers:hover {
  background-image: url('/code/kyc/images/icons/customer-icon-white.png') ;
}

#navbar-menu ul li.reports{
  background-image: url('/code/kyc/images/icons/reports-icon-grey.png');
}

#navbar-menu ul li.reports.active, #navbar-menu ul li.reports:hover {
  background-image: url('/code/kyc/images/icons/reports-icon-white.png') ;
}

#navbar-menu ul li.live-stream{
  background-image: url('/code/kyc/images/icons/live-stream-icon-grey.png');
}

#navbar-menu ul li.live-stream.active, #navbar-menu ul li.live-stream:hover{
  background-image: url('/code/kyc/images/icons/live-stream-icon-white.png');
}
#navbar-menu ul > li:first-child{
    border-left: 1px solid #333E46;
}

#navbar-menu ul li:hover{
  cursor:pointer;
}

#navbar-menu ul li.active:hover{
  cursor:default;
}

#navbar-menu ul li.active, #navbar-menu ul li:hover {
  background-color:#939598 !important;
}

#navbar-menu ul li span {
  color:#333f47;  
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
}

#navbar-menu ul li.active span,#navbar-menu ul li:hover span{
  color:#f3f4f4;
}



/**********End Navbar************/

.icon-white{
  color: #fff;
}

.icon-large{
  font-size: 60px;
  height: 56px;
  display: block !important;
}

#container-search{
  padding-top: 2em;
  padding-bottom:0px;
  background-color: #fff;
}

#content-list{
  background-color: #fff;
  padding-bottom: 30px;
}

#container-search > .container{
  height: 85px;
}



#ul-widgets{
  margin-left: 0px;
}

.header-chart, .header-list{
  padding: 7px 5px;
}

.header-list{
  text-align: center;
}

.header-widget, .header-list{
  background-color: #929497;
  color: #fff
}

.header-widget i, .header-list i{
  color: #E6E7E6;
}

.header-widget{
  padding:7px;
  min-height:35px;
}

.header-widget span {  
  width:100%;
  font-weight: 400;
  font-size: 15px;  
  display:block;
  position:absolute;
  left:0;
  text-align: center;
  top:0;
  line-height: 35px;
}

.header-widget a{
  position:relative;
  z-index: 2;
}
.header-list span {
  margin: 6px 0 3px 0;
  font-weight: 400;
  font-size: 15px;
  line-height:20px;
  
}

.widget .flipper, .widget .front, .widget .flip-container{
  height:100%;
  width:100%;
  background:white;
}

.overflow{
  overflow: hidden;
}



/***** End Socials Network ******/

.actions-chart{
  background-color: #1476B7;
  width: 100%;
  height: 100%;
  position: relative;
}

.content-actions{
  height: 60px;
  position: absolute;
  top: 45%;
  margin-top: -30px;
  width: 100%;
  text-align:center;
}

.content-actionsModal{
  top: 32%;
}

.content-actions h4{
  color:white;
  font-size:120%;
  margin-bottom:20px;
}

.content-actions form{
  display:inline;
}

.content-actions form.formLeft{
  margin-right: 15px;
}

.content-actions button{
  padding: 6px 25px;
  background-color: #fff;
  color: #000;
  font-size: 110%;
  font-family: 'Co Text W01 Regular';
}

.content-actions button:hover{
  background-color: #A4A6A8;
  color: #fff;
}

.largerNumber{
  font-size: 320%;
  color: #1476B7;
  display: block;
  line-height:110px;
  position:relative;
  letter-spacing: -0.03em;
  font-family: 'Co Text W01 Bold';
}

.largerNumber.medium{
  font-size:300%;
}

.largerNumber.small{
  font-size:260%;
}

#filterDashboard{
  background-color: #fff;
  padding: 2%;
  margin: 30px auto 20px;  
}

#filterDashboard li{
  margin-bottom: 5px;
  list-style: none;
}

#filterDashboard ul{
  padding:5px 5px 0px 5px;
  margin-bottom: 0;
}

#content-table{
  margin-top: 30px;
}

.block-status{
  width: 105px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.block-status.good{
  background-color: #8BC04F
}

.block-status.bad{
  background-color: #c0392b;
}

.add-widget{
  display: none;
}

.title-modal-chart{
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  color: #46535D;
  margin-top: -20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 110%;
}

.container-modal-chart{
  text-align: center;
  position: relative;
}

.container-modal-chart .noData{
  padding: 113px 0;
  position: static;
}

#content-table > table{
  width: 100%
}

.topSpacing{
  margin-top:30px;
}

.noData{
  position: absolute;
  font-size: 150%;
  top: 55%;
  width: 100%;

}

/****** Flip Effect *******/

/* entire container, keeps perspective */
.flip-container {

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;  
}

.content-chart{
  padding: 0 10px 15px 10px;
  position:relative;
}
  /* flip the pane when hovered */
  .flip-container.active .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

.reportPage .flipper, .reportPage .front{
  min-height:500px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height:100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;      
  position: relative;
  margin-bottom:100px;
  backface-visibility: hidden !important;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden !important;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;  

  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */
.front {
  z-index: 2;
  position:relative; /* front doesn't need to be absolute*/
  background-color: #fff;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);  
}

/****** End Flip Effect *******/

.numberLeft{
  font-size: 40px;
  color: #1476B7;
  font-family:"Co Text W01 Bold";
  position:absolute;
  top:15px;
  left:15px;
  z-index:2;
}

.numberRight{
  font-size: 30px;
  font-weight: 600;
  color: #8ABE4F;
  font-family:"Co Text W01 Bold";
  position:absolute;
  top:15px;
  right:15px;
  z-index:2;
}

.top-chart{
  padding: 10px 0;
}

.table-list thead th{
  cursor: pointer;
}

table .sort i{
  height: 0px;
  display: block !important;
}

.table-striped{
  border-collapse: separate !important;
  border-radius: 5px;  
  border: 1px solid #b4b6b8; 

}

table tr.alt, table tr.even, table tr:nth-of-type(even), table tbody:nth-of-type(even){
  background-color:#fcfcfc;
}

.table-striped tr:first-child th{
  border-top:none;
}

.table-striped td:last-child,.table-striped th:last-child{
  border-right:none;
}

.table-striped td,.table-striped th{
  font-family:"Co Text W01 Light";
  color: #6d6e71;
  border-top: 1px solid #b4b6b8; 
  border-right:1px solid #b4b6b8; 
}

.table-striped th{
  position:relative;
}
.table-striped th input, .table-striped td input{
  margin: 0px;
}

.table-striped thead tr th{
  padding: 15px;
  background-color: #F3F4F4;
  
  font-weight: 400;
}


.table-striped tbody tr td{
  padding: 10px 15px;
}

#content-table{
  padding: 0 35px;
  /*overflow-y: scroll;*/
}


.input-search{
  font-size: 13px !important;
  background-color: #DFE1DE !important;
  font-weight: 400;
}

.modal-preoday.modal-chart{
  background: none;
  padding: 0px;
  border: none;
  top: 2em;
  box-shadow: none;
}

.modal-chart .fa-plus-kyc{
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-chart .fa-plus-kyc:hover{
  cursor:pointer;
}

.modal-chart .close-reveal-modal{
  top: 15px;
  left: 15px;
  width: 0;
}

.modal-chart .flipper{
  margin-bottom: 0;
}

.modal-chart .content-actions button{
  width: 80px;
  min-width: 0;
  padding: 6px 0;
}

.modal-chart .content-modal{
  /*background-color: #fff;*/
  padding: 0;
}

.modal-chart .flipper .front{
  padding: 1.875em;
  background-color: #fff;
  position:relative;
}
.modal-chart .options-modal{
 margin-top: 30px; 
 background-color: #fff;
 padding: 1.875em;
}

.inlineBlock{
  display: inline-block !important;
  width: 100%
}

.inlineBlock.pagination{
  width: auto;
}

.percent-modal{
  color: #8ABE4F;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: block;

}

.percent-modal.negative{
  color: #533A86
}

.title-option-modal{
  color: #655D5D;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-bottom: 0px;
  font-family: "Co Text W01 Regular";
}

.block-modal{
  width:14.5%;
  margin-right:2%;
  font-family: "Co Text W01 Bold";
}

.button-option{
  text-align: center;
  background-color: #DBDBD9;
  padding: 12px 0;  
  font-weight: 600;
  color: #46535D;
  cursor: pointer;
  display: block;
  margin: 0 0 10px 0 ;
  border-radius:2px;
  font-size:180%;
}

.block-modal.active .button-option{
  background-color: #1476B7;
  color: #fff;
}

span.multiSelect{
  color: #4B535D
}

.options label{
  color: #f3f4f4 !important;
  display:inline;
  font-family: Co Text W01 Light;
}
.options label + label{
  position:relative;
  left:20px;  
}

.content-optionsExport{
  width: 100%;
  text-align: center;
}

.optionsExport{
  display: inline-block;
  padding-left: 25px;
}

.optionsExport > div{
  float: left;
}





.table-stream tr td{
  cursor: pointer;
}

.table-stream tr.active td {
  background-color: #333F47 !important;
  border-color: #333F47;
  color: #fff;
}

.table-stream tr.result td{
  padding: 0px;
  background-color: #fff
}

.table-stream tr.result p{
  margin-bottom: 5px
}

.table-stream tr.result .code{
  font-size: 25px;
}

.table-stream tr.result td.padding{
  padding: 15px;
}


.table-max{
  width: 100%;
  background: none;
  border: none;
  margin: 25px 0 0 0;
}

.table-max tr td{
  border: none;
  padding: 5px 15px !important;
  font-size: 16px;
  color:#333f47;
}

.table-max .streamDiscount{
  font-style: italic;
}

.table-max .streamTotal b{
  font-family: "Co Text W01 Bold";
}

.text-status{
  font-size: 13px;
  text-transform: uppercase;
}

.text-status.good{
  color: #8BC04F;
}

.text-status.bad{
  color: #c0392b;
}


.options input[type = "radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
} 

.icon-know-customers{
  background: url("/img/KYC-icon-white-reverse.png") left center no-repeat;
  width:30px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  height: 30px;
} 

.table-striped td.streamPrice{
  font-family: "Co Text W01 Bold";
  color:#46545d;
  font-size:105%;
}

.table-striped td.streamCustomer{
  font-family: "Co Text W01 Regular";
  color:#46545d;
  font-size:105%;
}

.table-striped td.streamOrder{
  font-family: "Co Text W01 Regular";
  color:#46545d;
  font-size:85%;
}

.table-striped td.streamUpdated{
  font-family: "Co Text W01 Light";
  color:#46545d;
  font-size:80%;
}


.sscontainer {
    position: relative;    
}

.highchartsItem{
  z-index: 10;
}

.widget {    
    /*overflow: hidden;  */
    height: 160px;
    position: absolute;
    width: 235px;
    text-align:center;
}

.widget[data-ss-colspan='2'] { 
  width: 490px;
  height:310px; 
}

.sscontainer .ss-placeholder-child {
    background: transparent;
    border: 1px dashed red;
}

@media screen and (max-width: 62.5em) {
  .row{
    width:95%;
    margin:0 auto;
  }

}

form.custom .custom.dropdown{
  width:90%;
}

form.custom .customDropdown ul.f-dropdown ,form.custom .customDropdown li{
  width:100%;
  left:0 !important;  
  max-width:100% !important;
}

/* Downward pointing arrow */
.customDropdown .caret {
    position: absolute;
    top: 1px;
    right: 0;
    margin: 0;
    background: url("/img/arrowOutlet.jpg") left top no-repeat;  
    width:33px;          
    height:99%; 

}

.customDropdown .current{
  cursor: default;
  white-space: nowrap;
  line-height: 2.1em;
  color: rgba(0,0,0,.75);
  text-decoration: none;
  overflow: hidden;
  display: block;
  margin-left: .5em;
  margin-right: 2.3125em;
}

.customDropdown li{
  color: #555;
  font-size: .875em;
  cursor: default;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .375em;
  padding-right: 2.375em;
  min-height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  white-space: nowrap;
  list-style: none;
}

.customDropdown ul {
  position: absolute;
  width: auto;
  display: none;
  left: -1px;
  top: auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 16p
}

.highcharts-content:hover .chart_AREA {
  opacity:0.5;
  cursor:pointer;
}

.fa{
  display: inline-block !important;
}

.fa-plus-kyc, .fa-plus{
  background: url('/img/icon-plus.png') left top no-repeat;
  width: 12px;
  height: 12px;
}

.fa-arrow-left-kyc, .fa-arrow-left{
  background: url('/img/arrow-left.png') left top no-repeat;
  width: 12px;
  height: 12px;
}

.fa-sort-up{
  background: url('/img/arrow-up.png') left top no-repeat;
  width: 10px;
  height: 7px !important;
  margin-bottom: 2px;
}

.fa-sort-desc{
  background: url('/img/arrow-down.png') left top no-repeat;
  width: 10px;
  height: 7px !important;
}

.fa-remove-kyc{
  background: url('/img/icon-remove.png') left top no-repeat;
  width: 10px;
  height: 10px;
}

/*********************Select2 plugin**********************/

.select2Preoday{
  width: 100%;
}

.select2Preoday a.select2-default, .select2Preoday a.select2-choice{
  background: #CED0D1!important;
  background-size:32px  100% !important;
  border: 0px;
  text-align: left;
  padding: 0 0 0 25px;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  color: #333 !important;     

}

.select2Preoday.select2-container .select2-choice{
  height: 33px;
}

.select2Preoday.select2-container .select2-choice .select2-arrow{
  width: 32px;
}

.select2Preoday.select2-container .select2-choice .select2-arrow b{
  background: url("/img/arrowOutlet.jpg") center no-repeat !important;
  background-size: 100% 100% !important;

}

.select2Preoday.select2-container-active .select2-choice{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  /*border: 1px solid #aaa; */
}


 .select2Preoday:focus{
  border:none;
  outline:none;
  box-shadow: :none;
  -webkit-box-shadow: none;
 }

.select2-results{
   background-color: #dfe1de !important;
   padding-left: 0px !important;
   margin: 0px !important;
   overflow-y: scroll !important;
}

.select2-result-label{
  font-size: 13px !important;
  color: #46545d !important;
  padding-left: 25px !important;
}

.select2-result-label:hover, .select2-results .select2-highlighted{
  background-color: #46535D !important;
  color: #fff !important;
}

.select2-search{
  padding: 0px !important;
}

.select2-no-results{
  background-color: #46535D !important;
  color: #46545d !important;
  font-size: 13px;
}

.select2-input{  
    font-size: 13px !important;
    font-weight: 400;
}

.select2-results .select2-highlighted .select2-result-label{
  color: #fff !important; 
}

.select2-drop-active{
 border: 1px solid #aaa; 
 border-top: none; 
}




.selectOutlet button{
  background: #DFE1DE url("/img/arrowOutlet.jpg") right center no-repeat !important;
  background-size:32px  100% !important;
  border: 0px !important;
}

.selectReport .multiSelect.checkboxLayer{
  width: 94%;
}

.selectReport.selectStream .multiSelect.checkboxLayer{
  width: 96%;
}

.input-search:focus, .datepicker.dropdown-menu, .select2-input:focus{
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    outline: 0 !important;
    -webkit-appearance:none;
}

/* .tooltipPie:before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #DBDBD9 transparent transparent transparent;
  position: absolute;
  left: 38%;
  top: 35px;
  z-index: 1000;
  opacity:1;
} */
 
.align-center{
  text-align: center;
}



.invisibleBack{
  opacity:0; 
  z-index:-1;
}

.invisibleBack.visible{
  opacity:1;
   transition: opacity 0.6s linear;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -ms-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  z-index:1;
}

.flip-container .header-chart{
  position: absolute;
  top: 0;
}

.checkboxPartials{
  position: relative;
}

.checkboxPartials label{
  margin-right: 0px;
  padding-left: 18px;
}

.checkboxPartials label:before{
  margin-top: -10px;
  top: 0px;
}

.flipRelative{
  position: relative;
}

.checkboxStyleDashboard label{
  color: #9F9FA2 !important;
  font-size: 11px;
  padding-left: 22px;
}
.checkboxStyleDashboard label.disabled{
  color: #C1C1C1 !important;
}
.marketingIcon{
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}

 .marketingIcon {
height: 22px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -12px;

}
.marketingTd{
  text-align:center;
}

.marketingOpt{
  width:15px;
}
