@import '../../../shared/styles/variables';

.user-select{
  max-width:$widthUserSelect;
  overflow: hidden;

  &>md-menu {
     span{
        color: #FAFAFA;
      }
      &>button{
        max-width: 100%;
          &>span{
            float:left;
            text-transform: none;
            font-size: 14px;
            font-weight: 500;
          }
      }
  }
}