<div class='user-select' layout="row" layout-align="center">
  <md-menu>
    <md-button aria-label="{{'Open profile interactions menu' | translate}}" ng-click="vm.openMenu($mdOpenMenu, $event)">
      <span md-menu-origin class="ellipsis"> <span ng-if="vm.user.$admin">-</span>{{vm.user.name}}</span>
      <icon>arrow_drop_down</icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="vm.navigateTo('main.account')" translate>
          My account
        </md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.VenueService && vm.VenueService.account && vm.VenueService.account.billingDate">
        <md-button ng-click="vm.navigateTo('main.billing')" translate>
          Billing
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="vm.signout()" translate>
          Signout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
