<div class="contextual-menu-collection-slot">
  <md-tabs md-dynamic-height md-stretch-tabs="always" ng-if="contextualMenuCtrl.FeatureService.hasCustomPickupSlotsFeature()">
    <md-tab label="Basic">
      <md-card-content>
        <collection-slot-basic ng-model="contextualMenuCtrl.entity"></collection-slot-basic>
      </md-card-content>
    </md-tab>
    <md-tab label="Advanced">
      <md-card-content>
        <collection-slot-advanced ng-model="contextualMenuCtrl.entity"></collection-slot-advanced>
      </md-card-content>
    </md-tab>
  </md-tabs>
  
  <md-card-content ng-if="!contextualMenuCtrl.FeatureService.hasCustomPickupSlotsFeature()">
    <collection-slot-basic ng-model="contextualMenuCtrl.entity" ></collection-slot-basic>
  </md-card-content>
</div>