<div class="contextual-menu-event">
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="Basics">
      <md-card-content>
        <event-basic ng-model="contextualMenuCtrl.entity"></event-basic>
      </md-card-content>
    </md-tab>
    <md-tab label="Image">
       <image-uploader
          viewport="{w:590,h:393}"
          output="{w:590,h:393}"
          dimensions="590 x 393px"
          keep-on-destroy="true"
          ng-model="contextualMenuCtrl.entity.$images">
        </image-uploader>
    </md-tab>    
  </md-tabs>
</div>