<div class="contextual-menu-event">
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="Basics">
      <md-card-content>
        <event-basic ng-model="contextualMenuCtrl.entity"></event-basic>
      </md-card-content>
    </md-tab>
    <md-tab label="Image">
       <image-uploader
          viewport="{w:412,h:232}"
          boundry="{w:618,h:348}"
          output="{w:412,h:232}"
          dimensions="412 x 232px"
          ng-model="contextualMenuCtrl.entity.$images">
        </image-uploader>
    </md-tab>
  </md-tabs>
</div>