<div class="contextual-menu-item">
  <md-tabs md-dynamic-height
          md-stretch-tabs="always"
          class="md-tabs-with-errors"
          ng-class="{'has-error': contextualMenuCtrl.contextualForm.$submitted && contextualMenuCtrl.contextualForm.$invalid}"
          md-selected="contextualMenuCtrl.contextualForm.selectedTabIndex">
    <md-tab>
      <md-tab-label>
        <div ng-class="{'has-error': contextualMenuCtrl.ItemService.hasBasicTabErrors(contextualMenuCtrl.contextualForm, contextualMenuCtrl.entity)}" class="md-tab-label">
          <span>{{ 'Basics' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <md-card-content>
          <menu-item-basic ng-model="contextualMenuCtrl.entity"></menu-item-basic>
        </md-card-content>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <div class="md-tab-label">
          <span>{{ 'Image' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <image-uploader
          dimensions="590 x 393px"
          viewport="{w:590,h:393}"
          output="{w:590,h:393}"
          ng-model="contextualMenuCtrl.entity.images"
          on-delete="contextualMenuCtrl.params.onDeleteImage(image)"></image-uploader>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="!contextualMenuCtrl.entity.isVoucher()">
      <md-tab-label>
        <div class="md-tab-label">
          <span>{{ 'Labels' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <tag-list ng-model="contextualMenuCtrl.entity.tags"></tag-list>
      </md-tab-body>
    </md-tab>
    <md-tab ng-if="contextualMenuCtrl.entity.isVoucher()">
      <md-tab-label>
        <div ng-class="{'has-error': contextualMenuCtrl.ItemService.hasAdvancedTabErrors(contextualMenuCtrl.contextualForm, contextualMenuCtrl.entity)}" class="md-tab-label">
          <span>{{ 'Advanced' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <menu-item-advanced ng-model="contextualMenuCtrl.entity"></menu-item-advanced>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <div ng-class="{'has-error': contextualMenuCtrl.ItemService.hasMoreTabErrors(contextualMenuCtrl.contextualForm, contextualMenuCtrl.entity)}" class="md-tab-label">
          <span>{{ 'More' | translate }}...</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <md-card-content>
          <menu-item-more ng-model="contextualMenuCtrl.entity"></menu-item-more>
        </md-card-content>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>