<div>
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="Basics">
    <md-card-content>
       <md-input-container class="md-block">
          <label translate>Item name</label>
          <input type="text" required name="entityName" ng-model="vm.entity.name" ng-maxlength="100">
          <div ng-messages="contextualForm.entityName.$error">
            <div ng-message="required" translate>This is required.</div>
          </div>
      </md-input-container>
      <md-input-container class="md-block">
          <label translate>Description</label>
          <textarea type="text" name="entityDescription" ng-maxlength="1000" ng-model="vm.entity.description"></textarea>
      </md-input-container>
    <menu-item-size ng-price-model="vm.entity.price" ng-model="vm.entity.$size"></menu-item-size>
    </md-card-content>
    </md-tab>
    <md-tab label="Image">
      <image-uploader ng-model="vm.entity.images"></image-uploader>
    </md-tab>
    <md-tab label="Labels">
      <tag-list ng-model="vm.entity.tags"></tag-list>
    </md-tab>
  </md-tabs>
</div>