<div>
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="Basics">
    <md-card-content>
       <md-input-container class="md-block">
          <label translate>Item name</label>
          <input type="text" autocomplete="off"  required name="entityName" ng-model="contextualMenuCtrl.entity.name" ng-maxlength="100">
          <div ng-messages="contextualMenuCtrl.contextualForm.entityName.$error">
            <div ng-message="required" translate>This is required.</div>
          </div>
      </md-input-container>
      <md-input-container class="md-block">
          <label translate>Description</label>
          <textarea type="text" name="entityDescription" ng-maxlength="1000" ng-model="contextualMenuCtrl.entity.description"></textarea>
      </md-input-container>
      <tax-group-select ng-model="contextualMenuCtrl.entity.taxId"></tax-group-select>

    <menu-item-size ng-price-model="contextualMenuCtrl.entity.price" ng-model="contextualMenuCtrl.entity.$size"></menu-item-size>
    </md-card-content>
    </md-tab>
    <md-tab label="Image">
      <image-uploader
        dimensions="590 x 333px"
        ng-model="contextualMenuCtrl.entity.images"
        on-delete="contextualMenuCtrl.params.onDeleteImage(image)"></image-uploader>
    </md-tab>
    <md-tab label="Labels">
      <tag-list ng-model="contextualMenuCtrl.entity.tags"></tag-list>
    </md-tab>
  </md-tabs>
</div>