<md-card-content>
  {{contextualMenuCtrl.entity | debug}}

  <md-input-container class="md-block no-spacer">
    <label translate>Name</label>
    <input type="text" required name="internalName" ng-model="contextualMenuCtrl.entity.internalName" ng-maxlength="100">

    <div ng-messages="contextualMenuCtrl.contextualForm.internalName.$error" ng-show="contextualMenuCtrl.contextualForm.internalName.$dirty">
      <div ng-message="required" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.internalName.$error.required}">This is required.</div>
      <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.internalName.$error.maxlength}">Max length is 100.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block no-spacer">
    <label translate>Display name</label>
    <input type="text" required name="entityName" ng-model="contextualMenuCtrl.entity.name" ng-maxlength="100">

    <div ng-messages="contextualMenuCtrl.contextualForm.entityName.$error" ng-show="contextualMenuCtrl.contextualForm.entityName.$dirty">
      <div ng-message="required" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityName.$error.required}">This is required.</div>
      <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityName.$error.maxlength}">Max length is 100.</div>
    </div>
  </md-input-container>

  <modifier-selection modifier="contextualMenuCtrl.entity"></modifier-selection>
  <modifier-items modifier="contextualMenuCtrl.entity"></modifier-items>
</md-card-content>
