<md-card-content class="contextual-menu-outlet">
   <md-input-container class="md-block">
      <label translate>Outlet name</label>
      <input type="text" name="entityName" ng-model="contextualMenuCtrl.entity.name" ng-maxlength="100" required />
      <div ng-messages="contextualMenuCtrl.contextualForm.entityName.$error" ng-show="contextualMenuCtrl.contextualForm.entityName.$dirty">        
        <div ng-message="required" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityName.$error.required}">This field is required.</div>
        <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityName.$error.maxlength}">Max length is 100.</div>
      </div>   
  </md-input-container>
   <md-input-container class="md-block">
      <label translate>Description</label>
      <input type="text" name="entityDescription" ng-model="contextualMenuCtrl.entity.description" ng-maxlength="255">

      <div ng-messages="contextualMenuCtrl.contextualForm.entityDescription.$error" ng-show="contextualMenuCtrl.contextualForm.entityDescription.$dirty">        
        <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityDescription.$error.maxlength}">Max length is 255.</div>
      </div>         
  </md-input-container>
   <md-input-container class="md-block">
      <label translate>Directions</label>
      <input type="text" name="entityDirections" ng-model="contextualMenuCtrl.entity.location" ng-maxlength="255">

      <div ng-messages="contextualMenuCtrl.contextualForm.entityDirections.$error" ng-show="contextualMenuCtrl.contextualForm.entityDirections.$dirty">        
        <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityDirections.$error.maxlength}">Max length is 255.</div>
      </div>       
  </md-input-container>

  <div class="error" ng-if="contextualForm.$submitted && !contextualMenuCtrl.entity.$menuId" translate>Menu is required.</div>
  
  <div class="menus-select-content" ng-if="contextualMenuCtrl.isShowing('outlet')">
    <label translate>Outlet menu:</label>
    <menus-select ng-model="contextualMenuCtrl.entity.$menuId"></menus-select>
  </div>
</md-card-content>
