<md-card-content class="contextual-menu-outlet-location">
   <md-input-container class="md-block">
      <label translate>Location name</label>
      <input type="text" required name="entityName" ng-model="vm.entity.name" ng-maxlength="100">
      <div ng-messages="contextualForm.entityName.$error">
        <div ng-message="required" translate>This is required.</div>
      </div>
  </md-input-container>
   <md-input-container class="md-block input-label">
      <md-checkbox ng-disabled="vm.entity.hasChildren() && !vm.entity.toSeatFlag && !vm.entity.isSeat()" aria-label="{{'Individially numbered locations' | translate}}" ng-model="vm.entity.toSeatFlag" ng-true-value="1" ng-false-value="0">
        {{'Individially numbered locations' | translate}}
      </md-checkbox>
  </md-input-container>
  <div ng-if="vm.entity.toSeatFlag">
    <md-input-container class="md-block md-input-container-with-no-float md-input-container-seat-number" md-no-float>
      <span class="input-label" translate>Start number</span>
      <input type="number" aria-label="{{ 'Start number' | translate }}" required name="seatStart" ng-model="vm.entity.seatStart">
      <div ng-messages="contextualForm.seatStart.$error">
        <div ng-message="required" translate>This is required.</div>
      </div>
    </md-input-container>   
    <md-input-container class="md-block md-input-container-with-no-float md-input-container-seat-number" md-no-float>
      <span class="input-label" translate>End number</span>
      <input type="number" aria-label="{{ 'End number' | translate }}" required name="seatEnd" ng-model="vm.entity.seatEnd" ng-maxlength="100">
      <div ng-messages="contextualForm.seatEnd.$error">
        <div ng-message="required" translate>This is required.</div>
      </div>
    </md-input-container>  	
  </div>
</md-card-content>
