<md-card-content>
   <md-input-container class="md-block no-spacer">
      <label translate>Tax rate name</label>
      <input type="text" required name="entityName" ng-model="contextualMenuCtrl.entity.name" ng-maxlength="100">

      <div ng-messages="contextualMenuCtrl.contextualForm.entityName.$error">
        <div ng-message="required" translate>This is required.</div>
        <div ng-message="maxlength" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.entityName.$error.maxlength}">Max length is 100.</div>
      </div>
  </md-input-container>
   <md-input-container class="md-block no-spacer">
      <label translate>Display Name</label>
      <input type="text" required name="displayName" ng-model="contextualMenuCtrl.entity.displayName" ng-maxlength="100">

      <div ng-messages="contextualMenuCtrl.contextualForm.displayName.$error">
        <div ng-message="required" translate>This is required.</div>
        <div ng-message="maxlength" translate ng-class= "{'activated': contextualMenuCtrl.contextualForm.displayName.$error.maxlength}">Max length is 100.</div>
      </div>
  </md-input-container>
   <md-input-container class="md-block no-spacer inline-percent">
    <label translate>Takeaway rate</label>
    <input type="text" min=0 max=100 name="takeAway" ng-model="contextualMenuCtrl.entity.pickup" valid-percentage  allow-equals> <span class='percent'>%</span>
    <div ng-messages="contextualMenuCtrl.contextualForm.takeAway.$error">
       <div ng-message="maxDecimalValue" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.takeAway.$error.maxDecimalValue}">Maximum value is 100%</div>
    </div>
  </md-input-container>
   <md-input-container class="md-block no-spacer inline-percent">
    <label translate>Delivery rate</label>
    <input type="text" name="delivery" ng-model="contextualMenuCtrl.entity.delivery" valid-percentage  allow-equals> <span class='percent'>%</span>
    <div ng-messages="contextualMenuCtrl.contextualForm.delivery.$error">
       <div ng-message="maxDecimalValue" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.delivery.$error.maxDecimalValue}">Maximum value is 100%</div>
    </div>
  </md-input-container>
  <md-input-container class="md-block no-spacer inline-percent">
    <label translate>To seat rate</label>
    <input type="text" name="seat" ng-model="contextualMenuCtrl.entity.seat" valid-percentage  allow-equals> <span class='percent'>%</span>
    <div ng-messages="contextualMenuCtrl.contextualForm.seat.$error">
       <div ng-message="maxDecimalValue" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.seat.$error.maxDecimalValue}">Maximum value is 100%</div>
    </div>
  </md-input-container>
  <md-input-container class="md-block no-spacer inline-percent">
    <label translate>Voucher rate</label>
    <input type="text" name="voucher" ng-model="contextualMenuCtrl.entity.voucher" valid-percentage  allow-equals> <span class='percent'>%</span>
    <div ng-messages="contextualMenuCtrl.contextualForm.voucher.$error">
       <div ng-message="maxDecimalValue" translate ng-class="{'activated': contextualMenuCtrl.contextualForm.voucher.$error.maxDecimalValue}">Maximum value is 100%</div>
    </div>
  </md-input-container>
</md-card-content>
