<div class="contextual-menu-user-invite">
  <md-tabs md-dynamic-height
          md-stretch-tabs="always"
          class="md-tabs-with-errors"
          ng-class="{'has-error': contextualMenuCtrl.contextualForm.$submitted && contextualMenuCtrl.contextualForm.$invalid}"
          md-selected="contextualMenuCtrl.contextualForm.selectedTabIndex">
    <md-tab tabindex="0">
      <md-tab-label>
        <div ng-class="{'has-error': contextualMenuCtrl.ValidationService.hasUserTabErrors(contextualMenuCtrl.contextualForm, contextualMenuCtrl.entity)}" class="md-tab-label">
          <span>{{ 'User' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <div class="userInvite-user-tab-content">
          <user-detail user="contextualMenuCtrl.entity"></user-detail>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab tabindex="1">
      <md-tab-label>
        <div ng-class="{'has-error': contextualMenuCtrl.ValidationService.hasUserVenuesTabErrors(contextualMenuCtrl.contextualForm, contextualMenuCtrl.params.entities)}" class="md-tab-label">
          <span>{{ 'Venues' | translate }}</span>
        </div>
      </md-tab-label>
      <md-tab-body>
        <div class="userInvite-venues-tab-content">
          <entity-select entities="contextualMenuCtrl.params.entities"
                         entity="contextualMenuCtrl.entity"></entity-select>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>