// COLORS
@import 'variables.scss';

// when sorting is happening
.sv-sorting-in-progress{
  &.sv-sorting-item{
    .sv-dropzone-item{
      display: block;
    }
  }
  &.sv-sorting-modifier{
    .sv-dropzone-modifier{
      display: block;
    }
  }

  &.sv-multi-selected{
    #sv-multi-helper{
      display: block;
    }
  }
}

//custom dropzones
.sv-dropzone{
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  max-height: 100%;
  // background-color:rgba(250,0,0,0.3);
  z-index:1000;

  &.sv-dropzone-item, &.sv-dropzone-modifier{
    &.sv-dropped{
      background-color:rgba(225,245,254,0.3);
    }
    .sv-placeholder{
      border: 1px solid #757575;
    }
  }


  .sv-placeholder{
    background: transparent;
    margin:0 !important;
    border:1px solid transparent;
    transition:border 0.5s linear 0.5s, background 0.5s ease-in-out 0s;
    border-radius: 2px;
    height: 60px;
    min-height: 0;
  }
}

.sv-dropzone-modifier{
  & > .sv-placeholder{
    max-height:48px;
  }
}


.card-item-child {
  .sv-dropzone{
    .sv-placeholder{
      max-height:41px;
    }
  }
}

//destination before drop
.sv-placeholder{
  background-color: #D1D1D1;
  min-height: 60px;
  margin: 8px;
}

// card while dragging
.sv-helper{
  @include materialRaisedShadow(2);
}

// on long press
#webappv2 .sv-long-pressing{
  transition: box-shadow 0.3s linear;
  @include materialRaisedShadow(2);
  cursor: move !important;

}

#sv-multi-helper{
  position: relative;
  margin: 8px;
  display: none;
  .card-item{
    position: relative;
    margin:0;
  }
  .badge{
    position: absolute;
    top: -11px;
    left: -11px;
    background: #616161;
    width: 22px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
    color: white;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: roboto;
  }
  &:before{
    content: '';
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    position: absolute;
    bottom: 10;
    right: -4px;
    bottom: -4px;
    left: 4px;
    top: 4px;
  }
}

.sv-multi-selected {
  .sv-element-multi-selected{
    .card-item, &.card-item{
      background-color:#E1F5FE;
      @include materialRaisedShadow();
      .item-actions{
        visibility: hidden;
      }
    }
  }
}