// COLORS
@import 'variables.scss';

//destination before drop
.sv-placeholder{
  background-color: #D1D1D1;
  min-height: 60px;
  margin: 8px;
}

.sv-helper{
  @include materialRaisedShadow(2);
}

.sv-long-pressing{
  transition: box-shadow 0.3s linear;
  @include materialRaisedShadow(2);
  cursor: move !important;

}