// COLORS
@import 'variables.scss';


//lement that's being dragged now
.dndDragging{
  //TODO need to apply box shadow here :(
}

//original element being dragged
.dndDraggingSource{
  display: none;
}

//destination before drop
.dndPlaceholder{
  display: block;
  background-color: #D1D1D1;
  min-height: 60px;
  max-width: 100%;
}