.layout-left-right{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;


  &.with-toolbar{
    padding-top:45px;

    .floating-right-buttons {
      top: 127px;
    }
  }
}

.floating-right-buttons {
  position: fixed;
  top: 80px;
  right: 16px;
  text-align: right;
}

.main-content-right{
  display: inline-block;
  width: calc(50% - 32px);
  position: absolute;
  margin-top:24px;
  margin-left: 8px;
  right: 24px;
}

.main-content-left{
  padding:16px 4px 24px 16px;
  position: relative;
  display: inline-block;
  width: 50%;
}

.main-content-full{
  padding:16px 4px 24px 16px;
  position: relative;
  display: flex;
  width: 100%;
}