// COLORS
@import 'variables.scss';

$backgroundButtonFocus:rgba(153,153,153,0.4);
$backgroundButtonFocusRipple:rgba(80,80,80,0.6);
$backgroundButtonActive:rgba(0,0,0,0.26);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material.ttf) format('truetype'),
   url(/fonts/material.svg) format('svg'),
   url(/fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  @include noselect;
}


//override material

#webappv2{

  .md-button {

    &.md-primary {
      color:$colorPrimary;

      &.md-fab {
        background-color:$colorPrimary;
        md-icon{
          span{
            color:white;
          }
        }
        &:not([disabled]):hover{
          background-color:$colorPrimaryDarker;
        }
      }
    }

    &.md-raised{
       background-color:$colorPrimary;
       color:white;
    }

  }


  md-input-container {
    label{
      @include transition(0.2s);
    }

    &.md-input-has-value, &.md-input-focused{
      label{
        &:not(md-no-float){
          font-size:75%;
          transform:translate3d(0,6px,0);
        }
      }
    }

    &:not(.md-input-invalid) {
      &.md-input-focused {
        label{
          color:$colorPrimary;
        }
        .md-input{
          border-color:$colorPrimary;
        }
      }
    }
  }
}