md-dialog {
	&.mdp-timepicker, &.mdp-datepicker  {
		width: auto !important;

		md-dialog-content {
			padding: 0px;

			md-toolbar {
				background-color: rgba(66,66,66, 0.9) !important;
			}
		}

		.mdp-clock-container, .mdp-calendar {
			button {
				background-color: transparent !important;
				color: #000 !important;

				&.md-primary, &.md-accent {
					background-color: rgba(66,66,66, 0.9) !important;
					color: #fff !important;
				}
			}
		}

		.mdp-timepicker-selected-time, .mdp-timepicker-selected-ampm {
			color: #fff;
		}
	}

	&.mdp-timepicker {
		.mdp-clock-container {
			button {
				&:hover {
					&:not(.md-primary) {
						background-color: #fff !important;
					}
				}
			}
		}
	}

	&.mdp-datepicker {
		md-toolbar {
			span {
				color: #fff;
			}
		}

		.mdp-calendar {
			button {
				&:hover {
					&:not(.md-accent) {
						background-color: rgb(224,224,224) !important;
					}
				}
			}
		}
	}
}