/**** MIXINS ***/

@mixin selected() {
  .selected {
    color:$colorSelected;
  }
}

@mixin ellipsis(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@mixin noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin transition($time:0.3s){
  transition: all $time linear;
  -webkit-transition: all $time linear;
  -o-transition: all $time linear;
  -ms-transition: all $time linear;
  -moz-transition: all $time linear;
}

@mixin materialRaisedShadow($depth: 1){

  @if $depth  == 1 {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26), 0px 2px 10px 0px rgba(0,0,0,0.16);
  }
  @if $depth  == 2 {
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.20), 0px 6px 20px 0px rgba(0,0,0,0.19);
  }
}

@mixin _calc($property, $variable, $operation, $value, $fallback: false, $additional: '') {
  @if $fallback {
    #{$property}: $fallback #{$additional}; //for browsers that don't support calc function
  }

  #{$property}: -moz-calc(#{$variable} #{$operation} #{$value}) #{$additional};
  #{$property}: -o-calc(#{$variable} #{$operation} #{$value}) #{$additional};
  #{$property}: -webkit-calc(#{$variable} #{$operation} #{$value}) #{$additional};
  #{$property}: -ms-calc(#{$variable} #{$operation} #{$value}) #{$additional};
  #{$property}: calc(#{$variable} #{$operation} #{$value}) #{$additional};
}
