@import 'mixins.scss';

/**************** TOOLBAR ****************/
$sideNavWidthLarge: 320px;
$sideNavWidth: 248px;
$heightToolbar:64px;
$widthVenueSelect: $sideNavWidth;
$widthVenueSelectLarge: $sideNavWidthLarge;
$widthUserSelect: 286px;
$borderToolbar: 1px solid #fafafa;
$searchBarHeight: 50px;
$scrollBarWidth: 15px;
$subToolbarZIndex: 21;


/**************** Navbar ****************/

$colorSelected:#ffab00;
$borderSelected: 5px solid $colorSelected;

/**************** GLOBAL ****************/

$paddedContentWidth: 1024px;
$fontSizeButton:14px;
$colorBackgroundFocusButtonMaterial: rgba(158,158,158,0.2);
$colorLight: rgba(0,0,0,0.5);
$colorPrimary: #0288D1;
$colorPrimaryDarker: #00669D;
$redDefault: rgb(221,44,0);

$blueDefault: #1893d6;
$lightGrey: #808080;
$linkColor: #1f73b9;
$light-red: #e02c00;
$spacer-x: 24px;


$heightScreen:calc(100vh - #{$heightToolbar});


$signinButtonColor: #2488c6;

$greyDefault: #757575;


/************ FONT *******/
$font-sm: 13px;