@import 'mixins.scss';

/**************** TOOLBAR ****************/
$heightToolbar:64px;
$widthVenueSelect: 320px;
$widthUserSelect: 286px;
$borderToolbar: 1px solid #fafafa;


/**************** Navbar ****************/

$colorSelected:#ffab00;
$borderSelected: 5px solid $colorSelected;

/**************** GLOBAL ****************/

$paddedContentWidth: 1024px;
$fontSizeButton:14px;
$colorBackgroundFocusButtonMaterial: rgba(158,158,158,0.2);
$colorLight: rgba(0,0,0,0.5);
$colorPrimary: #0288D1;
$colorPrimaryDarker: #00669D;
$redDefault: rgb(221,44,0);

$blueDefault: #1893d6;
$lightGrey: #808080;


$heightScreen:calc(100vh - #{$heightToolbar});


$signinButtonColor: #2488c6;