@import 'mixins.scss';

/**************** TOOLBAR ****************/
$heightToolbar:64px;
$widthVenueSelect: 320px;
$widthUserSelect: 286px;
$borderToolbar: 1px solid #fafafa;


/**************** Navbar ****************/

$colorSelected:#ffab00;
$borderSelected: 5px solid $colorSelected;

/**************** GLOBAL ****************/

$paddedContentWidth: 1024px;
$fontSizeButton:14px;
$colorBackgroundFocusButtonMaterial: rgba(158,158,158,0.2);


$heightScreen:calc(100vh - #{$heightToolbar});
