// @component
// tax-group-form
.tax-group-form {
  .tax-rate-select {
    margin-top: 24px; // 12px (before `manage groups` styles)

    // Checkboxes
    md-checkbox {
      display: block;
      margin-bottom: 16px; // 12px (before `manage groups` styles)
      color: rgba(0,0,0,0.5);

      .md-label,
      .md-label span { line-height: 20px !important; }
    }

    // Spinner
    .content-spinner { text-align: center; }
  }
}
