<div flex class="venue-payments layout-left-right" layout-align="stretch">
  <div class="main-content-full" flex layout="row" layout-align="start start">
    <md-card flex="30">
      <md-card-title>
        <h2 flex class="md-title" translate>Cash</h2>
        <md-switch ng-model="paymentsCtrl.cash.visible" ng-true-value="1" ng-false-value="0" ng-change="paymentsCtrl.updateVenue(venue)" aria-label="{{'Enable payment with cash' | translate}}"></md-switch>
      </md-card-title>
      <md-card-content ng-class="{active: paymentsCtrl.cash.visible}" >
        <div class="image-container">
          <img src="/images/wallet.png">
        </div>
        <div translate class="description">Customers can choose to pay <br/> cash on receipt of their order</div>
      </md-card-content>
    </md-card>
    <md-card flex="30" class="stripe">
      <md-card-title>
        <h2 flex class="md-title" translate>Stripe</h2>
        <md-switch ng-model="paymentsCtrl.stripe.visible" ng-true-value="1" ng-false-value="0" ng-change="paymentsCtrl.updateStripe()" aria-label="{{'Enable payment with stripe' | translate}}"></md-switch>
      </md-card-title>
      <md-card-content ng-class="{active: paymentsCtrl.stripe.visible}" ng-if="!paymentsCtrl.stripe.id">
        <div class="image-container">
          <img src="/images/stripe.png">
          <md-tooltip>{{'Not connected' | translate}}</md-tooltip>
        </div>
        <md-button class="md-raised" ng-click="paymentsCtrl.connectToStripe()">{{'Connect to stripe' | translate}}</md-button>
      </md-card-content>
      <md-card-content ng-class="{active: paymentsCtrl.stripe.visible}" ng-if="paymentsCtrl.stripe.id">
        <div class="image-container">
          <img src="/images/stripe-connected.png">
          <md-tooltip>{{'Connected' | translate}}</md-tooltip>
        </div>
        <md-button class="md-raised" ng-click="paymentsCtrl.goToStripe()">{{'Go to stripe' | translate}}</md-button>
      </md-card-content>
    </md-card>
  </div>
</div>
