// @view
// Payments

.venue-payments {
  md-card {
    display: block;

    &.stripe {
      button {
       margin-top: 12px;
       margin-left:0;
       margin-right:0;
      }
    }

    md-card-content {
      max-height: 0;
      overflow: hidden;
      padding-bottom: 0;
      padding-left: 24px;
      padding-right: 24px;
      transition: max-height .5s ease-in-out;

      & > *:last-child { margin-bottom: 24px; }

      &.active { max-height: 330px; }
    }

    md-switch .md-container { margin-right: 0; }
  }

  md-card-title {
    height: 60px;
    padding: 0 24px;

    h2 { line-height: 60px; }
  }

  .description {
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    color: #757575;
    line-height: 16px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none; // Remove the border on images inside links in IE 10-.
  }
}
