 <md-sidenav md-disable-backdrop class="md-sidenav-right contextual-drawer md-whiteframe-4dp" md-component-id="modifiers">
       <div sv-root="modifier" sv-part="vm.cancelledModifiers">
        <div class='sv-dropzone sv-dropzone-modifier' sv-part="vm.cancelledModifiers" sv-on-sort="vm.onNewModifierMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
        <div sv-placeholder></div>
      </div>
     </div>
    <div class='contextual-list'>
      <modifier-list has-search="true"
         sv-multi-select="true"
         sv-keep-in-list="true"
         sv-is-dropzone="false"
         has-new="false"
         ng-if="drawerModifiersCtrl.data.modifiers && drawerModifiersCtrl.data.modifiers.length"
         modifiers="drawerModifiersCtrl.data.modifiers"></modifier-list>
      </card-item-list>
    </div>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="drawerModifiersCtrl.close()" class='md-raised' translate>
          Done
      </md-button>
    </md-card-actions>
</md-sidenav>