<div class='card-title' layout="row" layout-align="start center" ng-class="{invisible:hasVisible && showVisible()}">
    <div flex>
      <icon class='visibility' ng-if="hasVisible && showVisible()">visibility_off</icon>
      <span class='card-title-text' ng-transclude flex></span>
      <icon class='arrow-icon' ng-if="showDropdown">{{vm.expanded ? 'arrow_drop_up' : 'arrow_drop_down'}}</icon>
    </div>
    <md-button class="md-icon-button item-actions" ng-if="vm.hasActions" ng-mouseenter="vm.toggleCardActions($event)">
      <icon>more_horiz</icon>
    </md-button>
</div>
