<div class='menu-section'
      ng-class="{expanded:vm.section.$expanded}"
      ng-attr-data-id="{{vm.section.id}}">
  <card-item  has-actions="true"
              deleted="vm.section.$deleted"
              selected="vm.section.$selected"
              expanded="vm.section.$expanded"
              >
    <card-item-title ng-click="vm.toggleExpanded($event)"
                    has-visible="true"
                    sv-root="item"
                    show-visible="!vm.section.visible"
                    show-dropdown="true">
                      <div class='sv-dropzone sv-dropzone-item' sv-part="vm.newItems" sv-on-external-sort="vm.onNewItemMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
                        <div sv-placeholder></div>
                      </div>
                      <span>{{vm.section.id + "--" | debug}}{{vm.section.name}} </span>
                    </card-item-title>
                      <div  sv-root="modifier">
                        <div class='sv-dropzone sv-dropzone-modifier' sv-part="vm.newModifiers" sv-on-external-sort="vm.onNewModifierMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
                          <div sv-placeholder></div>
                        </div>
                      </div>
    <modifier-chips ng-if="vm.section.modifiers.length" modifiers="vm.section.modifiers" section="vm.section"></modifier-chips>
        <menu-item-list
              has-new="vm.section.$expanded"
              items="vm.section.items"
              sort="position"
              section="vm.section">
         </menu-item-list>
    <card-item-actions is-visible="vm.section.visible"
                       on-delete="vm.onDelete()"
                       on-edit="vm.onEdit()"
                       on-visibility="vm.onVisibility(newStatus)"
                        ></card-item-actions>
  </card-item>
</div>