.menus {
  height: 100%;
  // overflow: auto;
  position: relative;

  .menu-content{
    overflow-y:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .main-content-right{
    padding:24px 16px;
    display: inline-block;
    width:50%;
    position: absolute;
  }

  .main-content-left{
    padding:16px 4px 24px 16px;
    position: relative;
    display: inline-block;
    width: 50%;
  }

  .menu-toolbar{
    background: #EEEEEE;
    border-bottom:1px solid #CCCCCC;
    min-height:50px;
    width: 100%;
    font-size:16px;

    .menu-name{
      padding-left:24px;
    }

    button{
      margin-right:18px;
    }
  }
}