
.data-filters-view{
	width: 100%;

	md-select{
		height: 48px;	
	}	
	
	md-card-content{

		&:not(:last-of-type){
			padding-bottom: 0;
		}
		> md-input-container{		
		  margin:  0;
			&:not(:first-of-type):not(.md-checkbox-market){
				margin-left: 15px;
			}		 
				
			label{
				top: 0;
			}
		}	
	}
 	
	.md-checkbox-market md-checkbox{
		margin-bottom: 0;
		margin-top: 16px;	 
	}

}

  .eventselect .eventselect-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; 
  }
  .eventselect .eventselect-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; 
  }
  .eventselect md-content._md {
    max-height: 240px; 
  }

/* md-truncate does not work inside md-optgroup */
.md-customfix-container{

	/* Overwrite Angular Materials < 1.1.1 Bug with select-menu */
	md-select-menu .md-checkbox-enabled.md-default-theme[selected] .md-icon:after ,
	md-select-menu .md-checkbox-enabled[selected] .md-icon:after {
		border-color: white;
	}

	md-select-menu[multiple] md-option.md-checkbox-enabled {
		&.childmargin .md-container{
			margin-left: 35.67px;
		}

		&.childmargin .md-text{
			padding-left: 25px;			
		}
	}

	md-select-menu .md-checkbox-enabled[selected] .md-icon{
		background-color: #0288D1;
	}	
	
}