<div class='item-list' layout="column">
  <div class="sub-toolbar menu-toolbar" layout="row" layout-align="start center">
    <!-- <div flex class='menu-name' translate>Item database</div> -->
  </div>
  <div flex class="menu-content layout-left-right with-toolbar">
      <div class='main-content-left'>
        <menu-item-list
            has-search="true"
            sv-disabled="true"
            has-new="true"
            ng-if="itemListCtrl.loaded"
            items="itemListCtrl.items"
            tags="itemListCtrl.tags"></menu-item-list>
      </div>
      <div class='floating-right-buttons'>
      <md-button ng-click="itemListCtrl.toggleDrawer('modifiers')" class="md-primary md-hue-2" translate>Show modifiers</md-button>
    </div>
    <div class='main-content-right' media-query="min-width: 1024px" sticky offset="134" contextual-menu-holder></div>
  </div>
</div>

<contextual-drawer-modifier></contextual-drawer-modifier>