<div layout="column" class="bar-chart-view">
	<md-card flex md-theme="default">
		<card-overlay ng-if="showOverlay()" ng-click="onOverlayClick()" content="{{getOverlayContent()}}"></card-overlay>
		<md-card-title >
			<md-card-title-text flex layout="row" layout-align="space-between start">
				<h2 class="md-title" translate> {{ title }}</h2>				
				<form action={{exportDataUrl}} method='POST' ng-submit='getExportData()'>
				  <input name='data' value='{{exportData}}' type='hidden'/>
					<div class="align-action-top" ng-if="shouldShowActions">
						<dropdown-actions actions-list="config.actions" on-actions="onActions(item)"> </dropdown-actions>
					</div>
				  <button id="postData" class="btn-form-analytics" ng-click=""></button>
				</form> 
			</md-card-title-text>
		</md-card-title>
		<md-card-content flex>
			<canvas id="barchart" > </canvas>
		</md-card-content>
	</md-card>
</div>