.outlet-location-tree-item {

	&:last-child {
		margin-bottom: 0px;
	}



	.outlet-location-name {
		font-size: 13px;
		color: #757575;
		cursor: pointer;
		padding: 4px 0 4px 24px;
		overflow: hidden;
		width: 100%;

		md-icon {
			cursor: pointer;
		}

		.content-icon {
			display: inline-block;
			vertical-align: middle;
	    height: 24px;
	    width: 24px;
	    margin-right: 12px;		
		}		

		.name {
			vertical-align: middle;
		}
	}

	.outlet-location-tree {
		// padding: 12px 0 0 0;
		padding: 0px;

		.outlet-location-group-name {
			padding-left: 61px;
		}

		.outlet-location-tree-item {
			padding-left: 37px;
		}
	}

	.outlet-location-tree-content {
		// display: none;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	&.expanded {
		&>.outlet-location-tree-content {
			transition: max-height 1s ease;
			display: block;
			max-height: 1000px;
		}
	}

	&.selected {
		&>.outlet-location-name {
			background-color: #eeefee;
		}
	}
}