.outlet-location-tree-item {
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0px;
	}

	.outlet-location-name {
		font-size: 13px;
		color: #757575;

		md-icon {
			cursor: pointer;
			margin-right: 12px;
		}
	}

	.outlet-location-tree {
		padding: 12px 0 0 37px;
	}

	.outlet-location-tree-content {
		// display: none;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	&.expanded {
		&>.outlet-location-tree-content {
			transition: max-height 1s ease;
			display: block;
			max-height: 1000px;
		}
	}
}