@import '../../shared/styles/variables';

.venue-select{
  width:$widthVenueSelect;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);


  &>md-menu {
    width: 100%;
      span{
        color: #FAFAFA;
      }
      &>button{
        margin: 0;
        padding: 0 14px;
        width: 100%;
        text-align: left;
        &>span{
            text-transform: none;
            font-size:15px;
            font-weight: 500;
          }
      }
  }
}