@import '../../shared/styles/variables';

.venue-select{
  width:$widthVenueSelect;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);

  &>md-menu {
      &>button{
        max-width: 100%;
          &>span{
            float:left;
            text-transform: none;
          }
      }
  }
}