@import '../../../../../../../shared/styles/variables.scss';

.modifier-chip{
  background: #EEEEEE;
  border: 1px solid #E0E0E0;
  display: inline-block;
  &:hover{
    cursor:default;
  }

  md-icon {
    font-size: 20px;
    width: 12px;
    height: 24px;
    /* padding: 5px 0; */
    position: relative;
    top: 3px;
    &:hover{
      cursor:pointer;
    }
  }

  & > span{
    padding:6px;
    font-size: 10px;
    color: #333333;
    line-height: 10px;
  }
}

.modifier-chip-tooltip {
  max-width: 150px;

  .md-content  {
    padding: 8px;
    height: auto;
    min-height: 22px;
    line-height: 0px;
    background-color: rgba(97,97,97,0.9);
  }

  .item-name {
    max-width: 100px;
    display: inline-block;
    flex: 1 0;
    text-align: left;
    margin-right: 8px;

    @include ellipsis();
  }

  .item-price {
    text-align: right;
  }

  .item-name, .item-price {
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
  }

  .modifierChipItem {
    display: flex;
    width: 100%;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}