<div class='modifier-item'>
  <md-card class='card-item' flex>

    <div class='card-title' layout="row" layout-align="start center">
      <div flex layout="row" layout-align="start center">
        <span class='card-title-text' flex layout="row" layout-align="start center">
          <span>{{ ::staticModifierItemCtrl.modifier.name }}</span>
        </span>
      </div>
    </div>

    <static-modifier-chips ng-if="::staticModifierItemCtrl.modifiers.length"
                    modifiers="::staticModifierItemCtrl.modifiers"></static-modifier-chips>

    <div class='size-wrapper'
          ng-if="::staticModifierItemCtrl.modifier.items.length">

      <div class='card-item-child' layout="row" ng-repeat="option in ::staticModifierItemCtrl.modifier.items">
        <span class='name-wrapper' layout="row" flex>
          <span class='name' layout="column" layout-align="center start">{{ ::option.name }} </span>

          <static-modifier-chips flex
              ng-if="::option.modifiers.length"
              modifiers="::option.modifiers"></static-modifier-chips>
              
        </span>
        <span class='price'> {{ ::option.formattedPrice }}</span>
      </div>

    </div>
  </md-card>
</div>