<div class='menu-item menu-item--static ng-enter'>
  <md-card class='card-item' flex>

    <div class='card-title' layout="row" layout-align="start center" ng-class="::{invisible: !staticMenuItemCtrl.item.visible}">
      <div flex layout="row" layout-align="start center">
        <icon class='visibility' ng-if="::!staticMenuItemCtrl.item.visible">visibility_off</icon>
        <span class='card-title-text' flex ayout="row" layout-align="start center">
          <span class='name' flex>{{ ::staticMenuItemCtrl.item.name }} </span>
          <span class='price'> {{ ::staticMenuItemCtrl.formattedPrice }}</span>
        </span>
      </div>
    </div>

    <static-modifier-chips
        ng-if="::staticMenuItemCtrl.modifiers.length"
        modifiers="::staticMenuItemCtrl.modifiers"
        on-modifier-removed="staticMenuItemCtrl.onModifierRemoved(modifier)"
        item="::staticMenuItemCtrl.item"></static-modifier-chips>

    <div class='size-wrapper'
          ng-if="::(staticMenuItemCtrl.item.$size.$isMultiple !== false && staticMenuItemCtrl.item.$size.items.length)">
      <static-menu-item-child ng-repeat="size in ::staticMenuItemCtrl.item.$size.items"
            modifier="::staticMenuItemCtrl.item.$size"
            option="::size"
            ng-attr-data-id="{{::size.id}}"></static-menu-item-child>
    </div>
  </md-card>
</div>