<div class="container" id="content-list">
	
	<div class="header-list overflow">			
		<span class="pull-left">Customers</span>

		<a href="javascript:void(0)" class="pull-right" >
			<i class="fa fa-plus"></i>
		</a>
	</div>

	<div id="content-table">
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>[]</th>
		  		<th>Name</th>
		  		<th>Total Spent</th>
		  		<th>Email addres</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="customer in customers">
		  		<td><input type="checkbox" name="" id=""></td>
		  		<td>{{ customer.name }}</td>
		  		<td>{{ customer.spent }}</td>
		  		<td>{{ customer.email }}</td>
		  	</tr>
		  </tbody>
		</table>		
	</div>

</div>