<div class="container" id="content-list">
	
	<div class="header-list overflow">			
		<span class="pull-left">Reports</span>

		<a href="javascript:void(0)" class="pull-right" >
			<i class="fa fa-plus"></i>
		</a>
	</div>

	<div id="content-table">
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>[]</th>
		  		<th>ID</th>
		  		<th>Outlet</th>
		  		<th>Name</th>
		  		<th>Time</th>
		  		<th>Qty</th>
		  		<th>Item</th>
		  		<th>Modifier</th>
		  		<th>Total</th>
		  		<th>Status</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="report in reports">
		  		<td><input type="checkbox" name="" id=""></td>
		  		<td>{{ report.id }}</td>
		  		<td>{{ report.outlet }}</td>
		  		<td>{{ report.name }}</td>
		  		<td>{{ report.time }}</td>
		  		<td>{{ report.quantity }}</td>
		  		<td>{{ report.item }}</td>
		  		<td>{{ report.modifier }}</td>
		  		<td>{{ report.total }}</td>
		  		<td>{{ report.status }}</td>
		  	</tr>
		  </tbody>
		</table>		
	</div>

</div>