
<div class="container" id="content-list">
	
	<div class="header-list overflow">			
		<span class="pull-left">Menu items</span>

		<a href="javascript:void(0)" class="pull-right" >
			<i class="fa fa-plus"></i>
		</a>
	</div>

	<div id="content-table">
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>[]</th>
		  		<th>Item</th>
		  		<th>Quantity Ordered</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="stock in stocks">
		  		<td><input type="checkbox" name="" id=""></td>
		  		<td>{{ stock.name }}</td>
		  		<td>{{ stock.quantity }}</td>
		  	</tr>
		  </tbody>
		</table>		
	</div>

</div>