<div class="container container-partials">
	<div class="flip-container">
		<div class="flipper">
			<div class="front" id="content-list">
				
				<div class="header-list overflow">			
					<span class="pull-left">Live Stream</span>

					<a href="javascript:void(0)" class="pull-right" ng-click="showOptions()">
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<div id="content-table">
					<table class="table table-striped table-stream table-list table-condensed">
					  <tbody ng-repeat="order in orders" ng-switch on="order.active">
					  	<tr ng-click="activeStream(order)" ng-class="{active: order.active}">
					  		<td width="15">
					  			<span class="block-status {{ stream.status }}">{{ order.status }}</span>
					  		</td>
					  		<td width="100" valign="middle">£ {{ order.total }}</td>
					  		<td valign="middle">{{ order.user.firstName + " " + order.user.lastName }}</td>
					  		<td width="300" valign="middle">{{ getOrderItems(order).join(",") }}</td>
					  		<td width="200" valign="middle">{{ getTimeDiff(order.updated) }}</td>
					  	</tr>
					  	<tr ng-switch-when="true" class="result">
					  		<td colspan="2" class="padding information">
					  			<p class="code"><b>#{{ stream.code }}</b></p>
					  			<p>{{ stream.name }}</p>
					  			<p>Tuesday, 10th June</p>
					  			<p>12:03:51</p>
					  			<br />
					  			<p>Visa ****4580</p>
					  			<p class="text-status {{ stream.order }}">PAIMENT {{ stream.order === 'order' ? 'success' : 'failed' }}</p>
					  		</td>
					  		<td colspan="3">
					  			<table class="table-max">
					  				<tbody>
					  					<tr>
					  						<td colspan="3">{{ stream.numbers }}</td>
					  						<td width="200">{{ stream.spent }}</td>
					  					</tr>
					  					<tr>
					  						<td colspan="3"><b>TOTAL</b></td>
					  						<td width="200"><b>{{ stream.spent }}</b></td>
					  					</tr>
					  				</tbody>
					  			</table>
					  		</td>
					  	</tr>
					  </tbody>
					</table>		
				</div>

			</div>

			<div class="actions-chart back">
				<div class="header-chart overflow">
				
					<a href="javascript:void(0)" class="pull-left" ng-click="hideOptions()">
						<i class="fa fa-arrow-left icon-white"></i>
					</a>

				</div>

				<div class="content-actions">
					<h4 class="title-white">Export as...</h4>

					<div class="buttons">
						<button class="pull-left btn btn-default" >
							PDF
						</button>
						<button class="pull-left btn btn-default">
							CSV
						</button>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>