<div class="container container-partials">
	<div class="flip-container">
		<div class="flipper">
			<div class="front" id="content-list">
				
				<div class="header-list overflow">			
					<span class="pull-left">Live Stream</span>

					<a href="javascript:void(0)" class="pull-right" ng-click="showOptions()">
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<div id="content-table">
					<table class="table table-striped table-list table-condensed">
					  <tbody>
					  	<tr ng-repeat="stream in streams">
					  		<td>
					  			<span class="block-status {{ stream.order }}">{{ stream.order }}</span>
					  		</td>
					  		<td>{{ stream.spent }}</td>
					  		<td>{{ stream.numbers }}</td>
					  		<td>{{ stream.time }}</td>
					  	</tr>
					  </tbody>
					</table>		
				</div>

			</div>

			<div class="actions-chart back">
				<div class="header-chart overflow">
				
					<a href="javascript:void(0)" class="pull-left" ng-click="hideOptions()">
						<i class="fa fa-arrow-left icon-white"></i>
					</a>

				</div>

				<div class="content-actions">
					<h4 class="title-white">Export as...</h4>

					<div class="buttons">
						<button class="pull-left btn btn-default" >
							PDF
						</button>
						<button class="pull-left btn btn-default">
							CSV
						</button>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>