<div class="container" id="content-list">
	
	<div class="header-list overflow">			
		<span class="pull-left">Live Stream</span>

		<a href="javascript:void(0)" class="pull-right" >
			<i class="fa fa-plus"></i>
		</a>
	</div>
	<div id="content-table">
		<table class="table table-striped table-condensed">
		  <tbody>
		  	<tr ng-repeat="stream in streams">
		  		<td>
		  			<span class="block-status {{ stream.order }}">{{ stream.order }}</span>
		  		</td>
		  		<td>{{ stream.spent }}</td>
		  		<td>{{ stream.numbers }}</td>
		  		<td>{{ stream.time }}</td>
		  	</tr>
		  </tbody>
		</table>		
	</div>

</div>