  html{
    overflow: hidden;
    /*height: auto;
    min-height: 100vh;*/
  }
  body{
    /*max-height: 100vh;*/
    /*overflow: auto !important;*/
    overflow: hidden !important;
  }
  #wrap{
    background: transparent url(../img/bg.jpg) repeat!important;
    height: calc(100vh - 117px);
    margin: 0 auto;
    top: 117px;
    position: relative;
    overflow: auto;
    padding: 0;
    min-height: 0;
  }

  #webappv2{
    /*min-height: calc(100vh - 66px);*/
  }
  #webappv2 .md-sidenav-left{
    display: none;
  }

  #webappv2  md-toolbar{
    display: none;
  }

  #webappv2  .main-ui-view {
    padding: 0 !important;
    overflow: auto !important;
  }

  #webappv2 .floating-right-buttons{
    top:120px;
  }

  input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, textarea:focus {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  #webappv2 input{
    outline: none ;
    box-shadow: none;
    margin:0;
    outline: none;
    box-shadow: none;
    display: block;
    background: 0 0;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    border-radius: 0;
    border-style: solid;
  }
  #webappv2 .md-sidenav-right{
    top:0;
  }
  #webappv2 .layout-left-right{
    padding-top:0;
  }
  #webappv2 .outlet-location-view .outlet-location-toolbar{
    top:67px;
    /*position: relative;*/
  }
  #webappv2 form{
    margin-bottom: 0;
  }

   #webappv2 md-input-container label{
    font-weight: normal;
    font-size: 16px;
  }
    #webappv2 .md-sidenav-right.contextual-drawer{
    z-index:124;
  }
  #webappv2 md-backdrop{
    height: 979px;
    top: 0;
    position: fixed ! important;
    z-index: 125 !important;
  }

  #webappv2 .md-dialog-container{
    top: -50px !important;
    z-index: 126 !important;
  }
  .contain-to-grid{
    position: fixed;
    z-index: 123;
  }

  body md-tooltip {
   z-index:200;
  }
  footer{
    display: none;
  }



  @media (min-width: 1024px) {
    #webappv2 .main-content-right{
      position: fixed !important;
      top:120px !important;
      left: auto !important;
      right:16px;
    }
  }
