<div>
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="Basics">
    <md-card-content>
       <md-input-container class="md-block">
          <label translate>Item name</label>
          <input type="text" required name="entityName" ng-model="vm.entity.name" ng-maxlength="100">
          <div ng-messages="contextualForm.entityName.$error">
            <div ng-message="required" translate>This is required.</div>
          </div>
      </md-input-container>
      <md-input-container class="md-block">
          <label translate>Description</label>
          <textarea type="text" name="entityDescription" ng-maxlength="1000" ng-model="vm.entity.description"></textarea>
      </md-input-container>
      <md-radio-group class='size' ng-model="vm.entity.$size">
        <md-radio-button value="0" class="md-primary md-hue-2">Single Size</md-radio-button>
        <md-radio-button value="1" class="md-primary md-hue-2"> Multiple Sizes </md-radio-button>
      </md-radio-group>
      <div class='price' layout="row" layout-align="start center">
        <md-input-container flex>
            <label translate>Price</label>
            <input flex type="number" required name="entityPrice" ng-model="vm.entity.price">
            <div ng-messages="contextualForm.entityPrice.$error">
              <div ng-message="required" translate>This is required.</div>
            </div>
        </md-input-container>
        <venue-currency class='currency'> GBP </venue-currency>
      </div>
    </md-card-content>
    </md-tab>
    <md-tab label="Image">
        TODO image content
    </md-tab>
    <md-tab label="Labels">
      TODO labels content
    </md-tab>
  </md-tabs>
</div>