.settings {
	background: #fff;
	padding: 30px;
	color: #6e767e;
	margin-left: -13px;
    margin-top: -2px;
}

.settings input {
	width: 40px;
    margin: 0;
    background: #f1f0f2;
}

.settings .reminder-container, .settings .restaurant-name-container {
	margin-bottom: 30px;
}

.settings .restaurant-field {
	width: 100%;
}

.settings .reminder-field-container, .settings .lock-field-container {
	display: inline-block;
}

.settings label {
	display: inline-block;
	color: #6e767e !important;
}

.settings .reminder-label, .settings .lock-label {
	margin-left: 3px;
}

.settings-container button {
	margin-top: 30px;
	margin-left: -13px;
}

.settings-container small.error {
	display: none;
}

.settings-container.invalid small.error {
	display: block;
}