.card-item.card-item-new{
    position: relative;
    min-height: 60px;
    border:1px dotted #BDBDBD;
    background: transparent;
    box-shadow: none;
    margin-bottom:32px;
    overflow: visible;

    &:hover{
      cursor: default;
    }

    md-card-actions{
      margin:0;
    }


    button{
      position: absolute;
      bottom: -20px;
      left: 20px;
    }
}