<div flex class='venue-delivery-zones layout-left-right' >
    <md-map ng-if="venueDeliveryZonesCtrl.showMap"
            on-load="venueDeliveryZonesCtrl.mapLoaded()"
            id="venue-map"
            delivery-zones="venueDeliveryZonesCtrl.DeliveryZoneService.data.deliveryZones"
            editable-delivery-zone="venueDeliveryZonesCtrl.DeliveryZoneService.editableDeliveryZone"
            venue="venueDeliveryZonesCtrl.venue">
    </md-map>
      <contextual-drawer-delivery-zones ng-if="venueDeliveryZonesCtrl.showDeliveryZonesDrawer"></contextual-drawer-delivery-zones>
      <contextual-drawer-delivery-zones-edit></contextual-drawer-delivery-zones-edit>
</div>