<div class="users-list">
    <div>
    <card-item-list
        has-new="false"
        on-click-new="usersListCtrl.showCreate()"
        collection="usersListCtrl.users">
        <div ng-repeat="user in usersListCtrl.users | orderBy: id">
          <user
            has-actions="true"
            ng-repeat="userRole in user.userRoles track by $index"
            on-edit="usersListCtrl.onEdit({user: user, userRole: userRole})"
            user="user"
            user-role="userRole">
          </user>
        </div>
    </card-item-list>
  </div>
</div>