$userEmailPadding: 24px;

.user-email {

	md-input-container {
		margin-top: 0px;

		.md-errors-spacer {
			display: none;
		}
	}

	.email-address,
	.pending-confirmation-message,
	md-input-container {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.email-address {
		font-size: 16px;
		color:#424242;
		line-height:16px;
	}

	.pending-confirmation-message {
		font-size:13px;
		color:#8c8c8c;
		line-height:13px;
		margin-top: 12px;
	}

	.content-form {
		width: 100%;
	}

	.md-input-message-animation {
		&:not(.ng-leave), &:not(.ng-animate) {
	    opacity: 1 !important;
	    margin-top: 0px !important;
		}
	}

	md-card-actions {
		button {
			margin-right: 0px !important;
		}
	}
}