<div class="events-list">
  <div class='sv-root-holder'>

    <card-item-list
        
        tooltip="{{ 'Add new event' | translate }}"
        
        collection="eventListCtrl.events">
      <div class='sort-holder'>
        <event
          has-actions="eventListCtrl.hasActions"
          ng-repeat="event in eventListCtrl.events | orderBy: id"
          event="event">
        </event>
        <div sv-placeholder></div>
      </div>
    </card-item-list>

    <event-new on-click="eventListCtrl.onMenuOptionClick($event, type)"> </event-new>
  </div>
</div>