<div class="events-list">
  <div class='sv-root-holder'>

    <card-item-list
        has-new="eventListCtrl.hasNew"
        tooltip="{{ 'Add new event' | translate }}"
        on-click-new="eventListCtrl.showCreateEvent()"
        collection="eventListCtrl.events">
      <div class='sort-holder'>
        <event
          has-actions="eventListCtrl.hasActions"
          ng-repeat="event in eventListCtrl.events | orderBy: id"
          event="event">
        </event>
        <div sv-placeholder></div>
      </div>
    </card-item-list>
  </div>
</div>