<div class='external-event'>
<card-item
  has-actions="externalEventListCtrl.hasActions"              
  ng-repeat="event in externalEventListCtrl.events | orderBy: eventDate track by $index"
  selected="event.$selected"
  ng-click="externalEventListCtrl.selectEvent(event)"
  >
  <card-item-title has-visible="true">
    <div class="external-event__details">
    <span class="event__name ellipsis">{{event.name}} </span>
    <span class="event__date ellipsis"> {{event.eventDateFormated}}</span>
    </div>
  </card-item-title>

  <card-item-actions ng-if="externalEventListCtrl.hasActions" on-delete="externalEventListCtrl.onDelete(event)"></card-item-actions> 
</card-item>
</div>