<div class='menu-item-list'>
  <div  class='repeat-holder'
          sv-root='item'
          sv-on-start="vm.onItemMoveStart($item, $part, $index, $helper)"
          sv-on-stop="vm.onItemMoveStop($item, $part, $index)"
          sv-on-sort="vm.onItemMoved($item, $partFrom, $partTo, $indexFrom, $indexTo)"
          sv-is-dropzone="vm.isDropzone"
          sv-disabled="vm.svDisabled"
          sv-keep-in-list="vm.svKeepInList"
          sv-part="vm.items">
         <div sv-placeholder></div>
      <menu-item
             ng-repeat="item in vm.items"
             item="item"
             ng-attr-data-id="{{item.id}}"
             sv-element="item"
             section="vm.section"
       ></menu-item>

  </div>
  <menu-item-new ng-if="vm.hasNew" section="vm.section" on-click="vm.showCreateItem($event,isImport)"></menu-item-new>
</div>
