<div class="collection-slots-list">
  <div class='sv-root-holder'>

    <card-item-list
        has-new="collectionSlotsCtrl.hasNew"
        tooltip="{{ 'Add new collection slot' | translate }}"
        on-click-new="collectionSlotsCtrl.showCreateCollectionSlot()"
        collection="collectionSlotsCtrl.collectionSlots">
      <div class='sort-holder' >
        <collection-slots-item
          has-actions="collectionSlotsCtrl.hasActions"
          ng-repeat="collectionSlot in collectionSlotsCtrl.collectionSlots | orderBy: 'id' track by collectionSlot.id"
          collection-slot="collectionSlot">
        </collection-slots-item>
        <div sv-placeholder></div>
      </div>
    </card-item-list>
  </div>
</div>