@import '../../shared/styles/variables';

md-dialog {
  width:300px;
  md-dialog-content {
    padding:24px;
  }
  .md-title {
    font-weight: 500;
    font-size: 20;
    color:#000000;
    margin-bottom:16px;
  }
  .md-dialog-content-body {
    color:$colorLight;
    font-size:16px;
    p {
      line-height:1.5em;
    }
  }

  .title-message{
    height: 28px;
    font-family: Roboto;
    font-size: 11px;
    line-height: 1.27;
    color: #131313;
  }

  md-input-container{
    margin-bottom: 0;

    label{
      top: 0;
    }
  }
}
