
@import "client/app/shared/styles/variables";

.customers {
	width: 100%;

	.search-panel-wrapper {
		display: flex;
		align-items: center;
	}

	.layout-left-right {
		padding-top: $searchBarHeight;
		flex: 1;
	}

	.loader-wrapper {
		text-align: center;

		spinner {
			margin: 0 auto;
			display: inline-block;
		}
	}
}