<div class="sidenav-wrapper">
    <md-sidenav md-disable-backdrop class="md-sidenav-right contextual-drawer md-whiteframe-4dp" md-component-id="style">
        <div class='contextual-list'>

            <drawer-style-row ng-if="drawerStyleCtrl.model" ng-repeat="style in drawerStyleCtrl.styles" model="drawerStyleCtrl.model" entity="style"></drawer-style-row>

        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="drawerStyleCtrl.close()" class="md-primary">
                {{ 'Cancel' | translate}}
            </md-button>
            <md-button ng-click="drawerStyleCtrl.saveAndClose()" class='md-raised'>
                {{ 'Done' | translate}}
            </md-button>
        </md-card-actions>
    </md-sidenav>
</div>