<div class='opening-hours-list'>
	<form name="openingHoursListCtrl.openingHoursForm" novalidate>
		<opening-hour opening-hour="hour" show-remove="openingHoursListCtrl.openingHours.length > 1" index="$index" ng-repeat="hour in openingHoursListCtrl.openingHours"></opening-hour>
	</form>

  <md-card-actions>
    <md-button class="md-fab md-mini md-primary" aria-label="{{ 'Add new opening hour' | translate }}" ng-click="openingHoursListCtrl.addNew()">
      <icon>add</icon>
      <md-tooltip md-direction="top">
        {{ 'Add new opening hour' | translate }}
      </md-tooltip>
    </md-button>
  </md-card-actions>
</div>
