.menus-container .new-menu-btn {
	margin-top: 20px;
	margin-bottom: 48px;
}

.menus-table {
	width: 100%;
	border: 0;
	background: transparent;
}

.menus-table thead {
	border-bottom: 1px solid #b9bbbd;
	font-size: 14px;
}

.menus-table thead th:last-child {
	text-align: right;
}

.menus-table .menu-info {
	border-bottom: 1px solid #b9bbbd;
	height: 65px;
}

.menus-table .menu-info td {
	padding-top: 0;
	padding-bottom: 0;
	color: #57616a;
	font-size: 17px;
	vertical-align: middle;
    line-height: 100%;
}

.menus-table .menu-name, .menus-table .menu-description {
	width: 25%;
}

.menus-table .menu-promotions {
	width: 35%;
}

.menu-promotions > div {
	margin: 10px 0 5px 0;
	float: left;
}

.menu-promotions > div.oneline {
	margin-top: 15px;
}

.menu-promotions input {
	font-size: 12px !important;
    background: #fff !important;
    color: #57616a;
    font-weight: inherit;
    cursor: default;
    text-align: center;
    cursor: default;
    text-align: center;
    max-width: 110px;
    text-overflow: ellipsis;
    float: left;
    margin: 0 10px 5px 0;
}

.menus-table .menu-tools {
	width: 15%;
}

.menus-table .menu-tools button {
	margin: 0;
	float: right;
    margin-left: 3px;
}