.styling-view {
	width: 100%;

    .zoom-level-100{
    transform:scale(1)
  }
  .zoom-level-95{
    transform:scale(.95)
  }
  .zoom-level-90{
    transform:scale(.9)
  }
  .zoom-level-85{
    transform:scale(.85)
  }
  .zoom-level-80{
    transform:scale(.8)
  }
  .zoom-level-75{
    transform:scale(.75)
  }
  .zoom-level-70{
    transform:scale(.7)
  }
  .zoom-level-65{
    transform:scale(.65)
  }
  .zoom-level-60{
    transform:scale(.6)
  }
  .zoom-level-55{
    transform:scale(.55)
  }
  .zoom-level-50{
    transform:scale(.5)
  }
}