<div class='venue-opening-hours-view layout-left-right' flex layout-align="stretch stretch">
	<div class='main-content-full' flex layout="row" layout-align="start start">
	  <md-card class="full-card">
	    <md-card-title>
	      <md-card-title-text>
	        <h2 class="md-title" translate> Opening hours </h2>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content ng-class="{'is-saving': venueOpeningHoursCtrl.isSavingOpeningHours}">
	    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours"></opening-hours-list>

        <auto-save is-saving="venueOpeningHoursCtrl.isSavingOpeningHours" is-error="venueOpeningHoursCtrl.isErrorOpeningHours" retry="venueOpeningHoursCtrl.debounceUpdate()"></auto-save>
	    </md-card-content>
	  </md-card>

	  <md-card class="full-card service-hours">
	    <md-card-title>
	      <md-card-title-text>
	        <h2 class="md-title" translate> Service hours </h2>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content ng-class="{'is-saving': venueOpeningHoursCtrl.isSavingServiceHours}">
				<p class="service-message" ng-if="!venueOpeningHoursCtrl.hasOpeningHours()"><span><icon>info</icon></span> {{ 'You must add opening hours before specifying your service hours.' | translate }}</p>
				<p class="service-message" ng-if="!venueOpeningHoursCtrl.hasServiceMethods()"><span><icon>info</icon></span> {{ 'All your service methods are currently disabled.' | translate }} <a ng-href>{{ 'Click here' | translate }}</a> {{'to activate them' | translate}}.</p>

				<div ng-if="venueOpeningHoursCtrl.hasOpeningHours() && venueOpeningHoursCtrl.hasServiceMethods()">
		    	<div class="service-type" ng-if="venueOpeningHoursCtrl.hasCollectionService()">
			    	<p>Collection service:</p>
		        <md-checkbox class="service-type-toogle" ng-change="venueOpeningHoursCtrl.debounceUpdate('venue')" ng-true-value="1" ng-false-value="0" aria-label="Same as opening hours" ng-model="venueOpeningHoursCtrl.shouldShowCollectionService">
		          {{'Same as opening hours' | translate}}
		        </md-checkbox>
			    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours" ng-if="venueOpeningHoursCtrl.shouldShowCollectionService"></opening-hours-list>
		    	</div>
		    	<div class="service-type" ng-if="venueOpeningHoursCtrl.hasDeliveryService()">
			    	<p>Delivery service:</p>
		        <md-checkbox class="service-type-toogle" ng-change="venueOpeningHoursCtrl.debounceUpdate('venue')" ng-true-value="1" ng-false-value="0" aria-label="Same as opening hours" ng-model="venueOpeningHoursCtrl.shouldShowDeliveryService">
		          {{'Same as opening hours' | translate}}
		        </md-checkbox>
			    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours" ng-if="venueOpeningHoursCtrl.shouldShowDeliveryService"></opening-hours-list>
		    	</div>
	    	</div>

				<auto-save is-saving="venueOpeningHoursCtrl.isSavingServiceHours" is-error="venueOpeningHoursCtrl.isErrorServiceHours" retry="venueOpeningHoursCtrl.debounceUpdate()"></auto-save>
	    </md-card-content>
	  </md-card>
  </div>
</div>