<div class='venue-opening-hours-view layout-left-right' flex layout-align="stretch stretch">
	<div class='main-content-full' flex layout="row" layout-align="start start">
	  <md-card class="full-card">
	    <md-card-title>
	      <md-card-title-text>
	        <h2 class="md-title" translate> Opening hours </h2>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours"></opening-hours-list>
	    </md-card-content>
	  </md-card>

	  <md-card class="full-card">
	    <md-card-title>
	      <md-card-title-text>
	        <h2 class="md-title" translate> Service hours </h2>
	      </md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	    	<div class="service-type">
		    	<p>Collection service:</p>
	        <md-checkbox class="service-type-toogle" ng-change="venueOpeningHoursCtrl.debounceUpdate('venue')" ng-true-value="1" ng-false-value="0" aria-label="Same as opening hours" ng-model="venueOpeningHoursCtrl.shouldShowCollectionService">
	          {{'Same as opening hours' | translate}}
	        </md-checkbox>
		    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours" ng-if="venueOpeningHoursCtrl.shouldShowCollectionService"></opening-hours-list>
	    	</div>
	    	<div class="service-type">
		    	<p>Delivery service:</p>
	        <md-checkbox class="service-type-toogle" ng-change="venueOpeningHoursCtrl.debounceUpdate('venue')" ng-true-value="1" ng-false-value="0" aria-label="Same as opening hours" ng-model="venueOpeningHoursCtrl.shouldShowDeliveryService">
	          {{'Same as opening hours' | translate}}
	        </md-checkbox>
		    	<opening-hours-list opening-hours="venueOpeningHoursCtrl.openingHours" ng-if="venueOpeningHoursCtrl.shouldShowDeliveryService"></opening-hours-list>
	    	</div>
	    </md-card-content>
	  </md-card>
  </div>
</div>