.item-chip{
  background: #EEEEEE;
  border: 1px solid #E0E0E0;
  display: inline-block;
  &:hover{
    cursor:default;
  }

  md-icon {
    font-size: 20px;
    width: 12px;
    height: 24px;
    /* padding: 5px 0; */
    position: relative;
    top: 3px;
    &:hover{
      cursor:pointer;
    }
  }

  & > span{
    padding:6px;
    font-size: 10px;
    color: #333333;
    line-height: 10px;
  }
}