<div class="content-modal">
	<h4 class="title-modal-chart">{{ title }}</h4>

	<div class="container-modal-chart">
		<div ng-if="chart.showChart">
			<highchart id="chart_{{ chart.num }}" config="chart.highcharts"></highchart>
		</div>

		<div ng-if="!chart.showChart">
			<span class="largerNumber">{{ chart.value }}</span>
		</div>
	</div>
</div>

<div class="options-modal content-modal overflow" ng-if="chart.value.modal.options">
	<div class="block-modal pull-left" ng-class="{ active: option.active }" ng-repeat="option in chart.value.modal.options">
		<div ng-switch="optionHasData(option)">
			<div ng-switch-when="1">
				<p class="title-option-modal">{{ option.name }}</p>
				<a href="javascript:void(0)" class="button-option" ng-click="selectOption( option )">{{ option.value }}</a>
				<span class="percent-modal" ng-class="{ negative:option.percent<0 }"> 
					<span ng-show="option.percent>0">+</span>
					<span ng-show="option.percent<0">-</span>			
					<span ng-bind-html='option.percent'></span>
					<span ng-show="option.percent<0 || option.percent>0">%</span>
				</span>
			</div>
			<div ng-switch-when="0">
				 <p class="title-option-modal">{{ option.name }}</p>
				 <a href="javascript:void(0)" class="button-option"> - </a>
			</div>
		</div>
	</div>
</div>