<div class='summary-view layout-left-right' flex layout-align="stretch stretch">
  <div class='main-content-full' flex layout="column" layout-align="start start">

  <custom-datafilters has-daterange="true"
      on-filter="analyticsSummaryCtrl.onFilter(filters, typeChanged)">
  </custom-datafilters>

  <div layout="row" class="card-chart" layout-wrap ng-if="analyticsSummaryCtrl.dataLoaded">
    <div flex="{{::card.flexWidth}}" ng-repeat="card in analyticsSummaryCtrl.cards" ng-switch="card.type">
      <md-card md-theme="default" ng-class="{'card-col2': card.flexWidth == 50, 'card-col4': card.flexWidth == 25}">
        <md-card-title >
          <md-card-title-text flex layout-align="space-between start">
            <h2 class="md-title"> {{ card.name }}</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex >
          <span class="card-span" ng-switch-when="currency"> {{card.data | currency}}</span>
          <span class="card-span" ng-switch-default> {{card.data | currency:true}}</span>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div class="bar-chart" layout-wrap layout="row" ng-if="analyticsSummaryCtrl.dataLoaded">
  	<bar-chart flex="100" ng-repeat="bar in analyticsSummaryCtrl.bars" config="bar" ></bar-chart>
  </div>
  <div class="doughnut-chart" layout-wrap layout="row" ng-if="analyticsSummaryCtrl.dataLoaded">
    <doughnut-chart flex="50" ng-repeat="doughnut in analyticsSummaryCtrl.doughnuts" config="doughnut"></doughnut-chart>
  </div>
</div>
</div>
