<div class="menu-toolbar search-panel" layout="row" layout-align="start center">
  <md-input-container class='search' layout="row">
    <icon>search</icon>
    <label translate>{{ placeholder }}</label>
    <input flex
    			 name="search"
    			 ng-model="value"
    			 ng-keyup="onKeyUp($event)" />
  </md-input-container>

	<md-button class="md-icon-button"
						 ng-click="clear()"
						 ng-show="value.length > 0">
		<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="button.icon.remove"><g><rect id="bg.clear" x="0" y="0" width="24" height="24"></rect><polygon id="icon" fill="#757575" points="19 6.4 17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12"></polygon></g></g></g></svg>
	</md-button>
</div>