
@import '../../shared/styles/variables';

.search-panel {
	width: 100%;

	md-input-container {
		margin: -2px 0 0 0;
		color: $greyDefault;
		font-size: 16px;
		flex: 1;

		&:not(.md-input-invalid) {
			&.md-input-has-value, &.md-input-focused {
				label {
					display: none;
				}

				md-icon {
					color: $greyDefault;
				}
			}
		}

		md-icon {
			margin-top: 2px;
			color: $greyDefault;
		}

		label {
			color: #9e9e9e;
		}

		input {
			border: none;
		}
	}
}