.modifier-items{

  md-input-container{
    margin:0;
  }

  .button-position{
    position: relative;
    left: -18px;
  }

  venue-currency{
    text-align: center;
  }

  .icon-clear{
    position: relative;
    top: -5px;
    &:hover{
      cursor: pointer;
    }
  }

}