.modifier-items{

  ng-form {
    &.price {
      padding-bottom: 15px;

      .input-wrapper {
        padding-right: 10px;
      }
    }
  }

  md-input-container{
    margin:0;
    align-self: flex-start;
  }

  .button-position{
    position: relative;
    left: -18px;
  }

  venue-currency{
    align-self: flex-start !important;
    text-align: center !important;
    margin-top: 15px !important;
  }

  .icon-clear{
    position: relative;
    top: 10px;
    margin: 0px;
    align-self: flex-start !important;

    &:hover{
      cursor: pointer;
    }
  }

  .md-errors-spacer {
    display: none;
  }
}