$heightMenuItemCard:48px;

.outlet-location {
	margin: 0px;
	padding: 0px;
	position: relative;

	.btn-view-sub-group {
		position: absolute;
		top: 5px;
		right: -37px;
		z-index: 1;
	}

	.item-chips {
		margin-top: -10px;
	}

  .card-item {
  	margin: 0;

    .hidden-card-actions{
      align-items: flex-start;
      padding-top: 6px;
    }

    .card-title{
      max-height: $heightMenuItemCard;
      min-height: auto;
      padding:10px 14px;

      .card-title-text{
        font-size:13px;
      }
    }

    .size-wrapper{
      padding-bottom: 5px;
    }
  }			
}