<div class='outlet-location'
      ng-class="{expanded:outletLocationCtrl.outletLocation.$expanded}"
      ng-attr-data-id="{{outletLocationCtrl.outletLocation.id}}">

  <card-item  has-actions="true"
              deleted="outletLocationCtrl.outletLocation.$deleted"
              selected="outletLocationCtrl.outletLocation.$selected"
              >
    <card-item-title ng-click="outletLocationCtrl.toggleExpanded($event)"
                    has-visible="true"
                    sv-root="item">
                      <span>{{ outletLocationCtrl.getOutletLocationName() }} </span>
                    </card-item-title>

    <div class='sv-dropzone sv-dropzone-outlet' sv-root="outlet">
      <div class='sv-dropzone sv-dropzone-outlet' sv-part="outletLocationCtrl.newModifiers" sv-on-external-sort="outletLocationCtrl.onNewOutletMoved($items, $partFrom, $partTo, $indexFrom, $indexTo)">
        <div sv-placeholder></div>
      </div>
    </div>

    <item-chips ng-if="outletLocationCtrl.outletLocation.outletId && !outletLocationCtrl.outletLocation.isCustom() && outletLocationCtrl.outlets.length"
                items="outletLocationCtrl.outlets"
                on-remove="outletLocationCtrl.removeOutlet(item)"></item-chips>

    <card-item-actions ng-if="!outletLocationCtrl.outletLocation.isCustom()"
                       is-visible="outletLocationCtrl.outletLocation.visible"
                       on-move="outletLocationCtrl.onMove()"
                       on-clone="outletLocationCtrl.onClone($event)"
                       on-delete="outletLocationCtrl.onDelete(createdOutlet)"
                       on-edit="outletLocationCtrl.onEdit($event)"
                       on-add="outletLocationCtrl.onAddSubGroup($event)"
                       on-add-custom-field="outletLocationCtrl.onAddCustomField($event)"
                       is-add="!outletLocationCtrl.outletLocation.outletId"
                       is-add-custom-field="outletLocationCtrl.outletLocation.outletId"
                       disable-add="outletLocationCtrl.outletLocation.isSeat() || outletLocationCtrl.outletLocation.hasChildren() || outletLocationCtrl.outletLocation.outletId"
                       add-message="outletLocationCtrl.getAddSubGroupMessage()"
                        ></card-item-actions>

    <card-item-actions ng-if="outletLocationCtrl.outletLocation.isCustom()"
                       on-delete="outletLocationCtrl.onDelete(createdOutlet)"
                       on-edit="outletLocationCtrl.onEdit($event)"
                        ></card-item-actions>
  </card-item>


  <md-button ng-if="!outletLocationCtrl.outletLocation.isSeat() && outletLocationCtrl.outletLocation.hasChildren()" class="md-icon-button btn-view-sub-group" ng-click="outletLocationCtrl.showSubGroup()">
    <icon>keyboard_arrow_right</icon>
  </md-button>
</div>