<div class='menu-section'>
  <card-item card-item-actions="vm" selected="vm.section.$selected">
    <card-item-title ng-click="vm.toggleExpanded()"
                    has-visible="true"
                    show-visible="!vm.section.visible"
                    show-dropdown="true">{{vm.section.name}}</card-item-title>
    <menu-item ng-if="vm.section.$expanded" ng-repeat="item in vm.section.items" item="item"></menu-item>
    <card-item-actions is-visible="vm.section.visible"></card-item-actions>
  </card-item>
</div>