.outlet-location-tree {
	.outlet-location-group-name {
		font-size: 13px;
		color: #333333;

		padding-bottom: 14px;
		padding-left: 24px;
		padding-top: 12px;

		&.allow-select {
			cursor: pointer;

		}

		&.selected {
			background-color: #eeefee;
		}		
	}
}