<div class='venue-details layout-left-right'>
  <div class='error' ng-if="venueDetailsCtrl.isError">
      {{venueDetailsCtrl.ErrorService.TAXES_ERROR.message}}
  </div>
  <div class='main-content-left'>
    <md-card  ng-if="!venueDetailsCtrl.isError">
      <md-card-title>
        <md-card-title-text>
          <h2 class="md-title" translate> Venue Details </h2>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form name="venueDetailsCtrl.venueDetailsForm" ng-submit="venueDetailsCtrl.submit()" novalidate>
            <div class='form-content'>
                 <md-input-container class="md-block no-spacer">
                    <label translate>Venue name</label>
                    <input type="text" required name="venueName" ng-model="venueDetailsCtrl.venue.name" ng-disabled="!venueDetailsCtrl.isEdit" ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.venueName.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueName.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Description</label>
                    <input type="text" required name="description" ng-model="venueDetailsCtrl.venue.description" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.description.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.description.$error.maxlength}">Max length is 100.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Address line 1</label>
                    <input type="text" required name="venueAddress1" ng-model="venueDetailsCtrl.venue.address1" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="256">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.venueAddress1.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueAddress1.$error.maxlength}">Max length is 256.</div>
                      <div ng-message="required" translate>This is required.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Address line 2</label>
                    <input type="text" name="venueAddress2" ng-model="venueDetailsCtrl.venue.address2" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="256">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.venueAddress2.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueAddress2.$error.maxlength}">Max length is 256.</div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block no-spacer">
                    <label translate>Address line 3</label>
                    <input type="text" name="venueAddress3" ng-model="venueDetailsCtrl.venue.address3" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="256">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.venueAddress3.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueAddress3.$error.maxlength}">Max length is 256.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Town/City</label>
                    <input type="text" required name="city" ng-model="venueDetailsCtrl.venue.city" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.city.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.city.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Postcode/ZIP</label>
                    <input type="text" required name="postcode" ng-model="venueDetailsCtrl.venue.postcode" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.postcode.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.postcode.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Phone number</label>
                    <input type="text" required name="phone" ng-model="venueDetailsCtrl.venue.settings.deliveryPhone" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.phone.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.phone.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="required" translate>This is required.</div>

                    </div>
                </md-input-container>
                <md-input-container class="md-block no-spacer">
                    <label translate>Email Address</label>
                    <input type="email" required name="venueEmail" ng-model="venueDetailsCtrl.venue.notificationEmailAddress" ng-disabled="!venueDetailsCtrl.isEdit"  ng-maxlength="100">
                    <div ng-messages="venueDetailsCtrl.venueDetailsForm.venueEmail.$error">
                      <div ng-message="maxlength" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueEmail.$error.maxlength}">Max length is 100.</div>
                      <div ng-message="email" translate ng-class="{'activated': venueDetailsCtrl.venueDetailsForm.venueEmail.$error.email}">Invalid email</div>
                      <div ng-message="required" translate>This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <md-card-actions layout="row" layout-align="end center">
            <md-button type="button" ng-click="venueDetailsCtrl.toggleEdit()" ng-if="!venueDetailsCtrl.isEdit" class="md-primary" translate>
                Edit
            </md-button>
            <md-button type="submit" ng-if="venueDetailsCtrl.isEdit" class="md-primary" translate>
                Save
            </md-button>
          </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
