.venue-details{
  width: 100%;

  &.with-toolbar {
    padding-top: 49px !important;
  }

  .auto-save-venue-map {
    margin-top: -20px;
  }

  md-card-content, md-card-title{
    padding-left:24px;
    padding-right:24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .md-primary{
    position: relative;
    right: -24px;
    top: 16px;
  }

  md-tabs {
    &:not(.full-tabs) {
      md-tabs-wrapper.md-stretch-tabs{
        left: 24px;
        margin-right: 48px;
      }
    }
  }
  #venue-map{
     width: calc(100% - 657px);
     height: calc(100vh - 110px); /* this is for safari, 100% height or flexbox don't work here i have no idea why*/
  }

  .sub-toolbar{
    md-icon{
      margin-right: 8px;
    }
  }

  .main-card-content{
    max-width: 450px;
    right: 0px;
    margin-top: 0px;
  }

  .content-spinner{
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.contextual-drawer-venue-details{
  height: calc(100vh - 110px);


  .contextual-list{
    height: calc(100% - 64px - 49px)

  }
  form{
    height: 100%;
  }

  md-radio-button{
    display: inline-block;
    margin-right: 24px;
    .md-label span{
      color:#757575;
    }
  }

  .clear-button{
    margin-left: -16px;
    margin-top: -12px;
  }

  .checkbox-label{
    font-size: 16px;
    color: #424242;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .text-info {
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    md-icon{
      display: block;
      float: left;
      margin-right: 12px;
      position: relative;
      top: -4px;
    }
  }
}