<md-sidenav md-disable-backdrop class="md-sidenav-right contextual-drawer md-whiteframe-4dp" md-component-id="orderDetail">
  <div ng-if="drawerOrderDetailCtrl.isAmendOrCancelAvailable()" class="contextual-header">
    <md-button ng-click="drawerOrderDetailCtrl.amendOrder()" class="md-primary">{{ 'Amend order' | translate }}</md-button>
    <md-button ng-click="drawerOrderDetailCtrl.cancelOrder()" class="md-primary">{{ 'Cancel order' | translate }}</md-button>
  </div>

  <div ng-if="!drawerOrderDetailCtrl.isAmendOrCancelAvailable()" class="contextual-header">
    <md-button ng-click="drawerOrderDetailCtrl.reorder()" class="md-primary">{{ 'Re-order' | translate }}</md-button>
  </div>

  <div class="contextual-list">
    <order-detail order="drawerOrderDetailCtrl.order"></order-detail>
  </div>

  <md-card-actions layout="row" layout-align="space-between center">
    <md-button ng-click="drawerOrderDetailCtrl.close()" class='md-primary'>
      {{ 'Back' | translate }}
    </md-button>
    <md-button ng-click="drawerOrderDetailCtrl.done()" class="md-raised">
      {{ 'Done' | translate }}
    </md-button>
  </md-card-actions>
</md-sidenav>