html{

  md-sidenav.expanded + .main-ui-view{
    padding-left:250px;
  }

  .user-select{
    max-width: 250px;
  }

  md-sidenav{
    max-width:248px;
  }

  .image-uploader{
   // width: 262px;
   // height: 147px;

    &.portrait{
     width: 262px;
      height: 147px;
    }

    .image-not-found{
       font-size:16px;
      md-icon{
        font-size:24px;
        height: 24px;
        width: 24px;
        margin-top: 32px;
        margin-bottom: 8px;
      }
    }
  }

  .auto-save-venue-map {
    padding-left: 17px;
  }

  .contextual-drawer {
    max-width: 334px;
  }
  .venue-delivery-zones{
    #venue-map{
      width: calc(100% - 334px);
    }
  }

    .venue-details{
    #venue-map{
      width: calc(100% - 334px);
    }
  }

  .style-row {
    .form-style{

       &.BANNER .image-uploader{
        width: 283px;
        height: 59px;
      }
      &.HEADER{
        .image-uploader{
          width: 283px;
          height: 27px;
        }
      }
      &.LOGO{
        .image-uploader{
          width: 270px;
          height: 104px;
        }
      }
      &.BACKGROUND{
        .image-uploader{
          width: 270px;
          height: 165px;
        }
      }

      &.mobileWallpaper{
        .image-uploader{
          &.portrait{
            width: 270px;
            height: 165px;
          }

          &.landscape {
            width: 137px;
            height: 272px;
          }

          .upload-specs {
            &.landscape {
              margin-left: 15px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  .promotion-discount-value {
    md-input-container {
      padding: 0px;
    }
  }
}