html {

  md-sidenav{
    max-width:248px;


 }

 .menus .floating-right-buttons{
  position: absolute;
 }

  .menu {
    .main-content-right .contextual-right-menu {
      position: relative;
      margin:0;
    }
  }
  .contextual-drawer {
    max-width: 334px;
  }
  .venue-delivery-zones{
    #venue-map{
        width: calc(100% - 334px);
      }
  }
}