html {

  md-sidenav{
    max-width:248px;


 }

 .layout-left-right {
  .floating-right-buttons {
    position: absolute;
    top: 16px;
  }

  &.with-toolbar{
    .floating-right-buttons {
      top: 63px;
    }
  }
 }

  .menu {
    .main-content-right .contextual-right-menu {
      position: relative;
      margin:0;
    }
  }
  .contextual-drawer {
    max-width: 334px;
  }
  .venue-delivery-zones{
    #venue-map{
        width: calc(100% - 334px);
      }
  }

  .venue-services{
    form  {
      venue-currency {
        flex: 0 1 15% !important;
      }
    }
  }

  // events schedule form
  .event-schedule-form {
    .datepicker-wrapper {
      width: 140px;
    }
  }
}