html{

  .user-select{
    max-width: 250px;
  }

  md-sidenav{
    max-width:248px;
  }

  .image-uploader{
    width: 262px;
    height: 147px;
  }

  .contextual-drawer {
    max-width: 334px;
  }
}