html{


  .image-uploader{

    width: 430px;
    height: 242px;

    // &.portrait {
    //   width: 430px;
    //   height: 242px;
    // }

    // &.landscape {
    //   height: 280px; // 340
    //   width: 162px; // 192
    // }

   .image-not-found{
    font-size:20px;
      md-icon{
        margin-top: 64px;
        font-size: 45px;
        width: 45px;
        height: 45px;
        margin-bottom: 8px;
      }
    }
  }

  .contextual-drawer-venue-details {
    .image-uploader {
      width: 100%;
    }
  }

  .contextual-drawer {
    max-width: 450px;
  }
  .venue-delivery-zones{
    #venue-map{
      width: calc(100% - 450px);
      }
  }

  .venue-details{
    #venue-map{
      width: calc(100% - 450px);
      }
  }

  .style-row {
    .form-style{


      &.BANNER .image-uploader{
        width: 402px;
        height: 83px;
      }

      &.HEADER{
        .image-uploader{
          width: 402px;
          height: 38px;
        }
      }

      &.LOGO{
        .image-uploader{
          width: 402px;
          height: 154px;
        }
      }

      &.BACKGROUND{
        .image-uploader{
          width: 402px;
          height: 245px;
        }
      }

      &.MOB-BACKGROUND{
        .image-uploader{
          &.portrait {
            width: 402px;
            height: 245px;
          }

          &.landscape {
            height: 280px; // 340
            width: 162px; // 192
          }
        }
      }
    }
  }
}