<div class='venue-select' layout="row" layout-align="start center">
  <md-menu>
    <md-button layout="row" aria-label="Open phone interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">
      <span flex class='ellipsis' md-menu-origin>{{vm.venue.name}}</span>
      <icon>arrow_drop_down</icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="venue in vm.venues">
        <md-button ng-click="vm.switchVenue(venue)">
          <span> {{venue.name}} </span>
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button>
          Some other thing here
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
