<div class='venue-select' layout="row" layout-align="start center">
  <div layout="row" ng-if="$venueSelect.venues && $venueSelect.venues.length===1 && !$venueSelect.showSearch()">
    <span flex class='ellipsis'>{{ $venueSelect.entityName }}</span>
  </div>
  <md-menu ng-if="($venueSelect.venues && $venueSelect.venues.length>1) || $venueSelect.showSearch()">
    <md-button layout="row" aria-label="{{'Open phone interactions menu' | translate}}" ng-click="$venueSelect.openMenu($mdOpenMenu, $event)" >
      <span flex class='ellipsis' md-menu-origin>{{ $venueSelect.entityName }}</span>
      <icon>arrow_drop_down</icon>
    </md-button>
    <md-menu-content width="6">
      <md-menu-item ng-if="$venueSelect.showSearch()" class="searchbox">
      <form ng-submit="$venueSelect.doSearch()">
        <md-input-container>
          <icon>search</icon>
          <label translate>Search venue name</label>
          <input flex name="search" ng-model="$venueSelect.searchLabel">
        </md-input-container>
      </form>
      </md-menu-item>
      <md-menu-item ng-repeat="venue in $venueSelect.venues" ng-if="$venueSelect.showSearch()">
        <md-button ng-click="$venueSelect.switchVenue(venue)">
          <span>{{venue.id}} - {{venue.name}} </span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-repeat="venue in $venueSelect.venues" ng-if="!$venueSelect.showSearch()">
        <md-button ng-click="$venueSelect.switchVenue(venue)">
          <span> {{venue.name}} </span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
