@import '../../../shared/styles/variables';

$spanColor: #FAFAFA;
$paddingHorizontal: 26px;


@mixin venueSelectSpan() {
     text-transform: none;
      font-size:15px;
      font-weight: 500;
      color: $spanColor;
}

@mixin venueSelectContainer(){
    margin: 0;
    padding: 0 14px 0 27px;
    width: 100%;
    text-align: left;
}

.searchbox{
  border-bottom: 1px solid #cccccc;
  height: 64px;
  margin-top: -10px;
  md-input-container{
    width: 100%;

    padding-left: 30px + $paddingHorizontal;

    md-icon {
      left: $paddingHorizontal;
      top: 7px;
      color: $greyDefault;
    }

    label {
      left: 30px + $paddingHorizontal;
    }
  }
  input{
    border-bottom: none;
  }
}
.venue-select{
  width:$widthVenueSelect;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);

  .channel-icon {
    margin-right: 12px;
  }

  &>div {
    @include venueSelectContainer();
    height: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    white-space: nowrap;

    span {
      color:$spanColor;
    }

    .entity-name {
      @include venueSelectSpan();
    }
  }

  &>md-menu {
    width: 100%;
    height: 100%;
      span{
        color:$spanColor;
        margin-right: 8px;
      }
      &>button{
        height: 100%;
        @include venueSelectContainer();
        &>span{
            @include venueSelectSpan();
          }
      }
  }
}

.venue-select-menu-content {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  margin-left: -8px;
  border-radius: 2px;

  &[width="6"] {
    min-width: 416px;
  }

  md-menu-item {
    button {
      align-items: center;
      display: flex;
      padding: 0 $paddingHorizontal;

      md-icon {
        margin-right: 12px;
      }
    }
  }
}
